
<section class="container-fluid p-0">
    <div class="activity-banner"  style="{{background_cover}}">
        {% include 'site/includes/img-hider.html'%}
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="favourite">
                    <img src="{{model.icon_image_path}}" class="img-rounded img-responsive" style="background: white;">
                    {% if user.is_business_profile %}
                        {% set what_activity='Specialization' %}
                    {% else %}
                        {% set what_activity='Favorites' %}
                    {% endif %}
                    {% if model in user.favorite_activities %}
                    <a href="#" data-type="activity" data-action="remove-activity-favorite" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><h3><i class="fa fa-check"></i>Added to {{ what_activity }}</h3></a>
                    {% else %}
                    <a href="#" data-type="activity" data-action="add-activity-favorite" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><h3>Add to {{ what_activity }}</h3></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <h2>{{ model.name }}</h2>
            </div>
        </div>
    </div>
</section>

<!----------------TABS---------------->
    <section class="container-fluid p-0">
        <div role="tabpanel" data-example-id="togglable-tabs">
            <div class="border-grey-t border-grey-b h-56">
                <div class="container text-center">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#about"  role="tab" data-toggle="tab" aria-controls="about" aria-expanded="false">
                        <span class="fa fa-home"></span> <strong>About</strong></a></li>
                        <li class=""><a href="#adventures"  role="tab" data-toggle="tab" aria-controls="adventures" aria-expanded="false">
                        <span class="fa fa-flag"></span> <strong>Destinations</strong> </a></li>
                        <li class=""><a href="#favourited" role="tab" data-toggle="tab" aria-controls="favourited" aria-expanded="false">
                        <span class="fa fa-group"></span> <strong>Favourited By</strong> </a></li>
                        <li class=""><a href="#photosvideos" role="tab" data-toggle="tab" aria-controls="photosvideos" aria-expanded="false">
                        <span class="fa fa-image"></span> <strong>Photos/Videos</strong> </a></li>
                        <li class=""><a href="#discussions" role="tab" data-toggle="tab" aria-controls="discussions" aria-expanded="false">
                        <span class="fa fa-file-text"></span> <strong>Discussions</strong> </a></li>
                        <li class=""><a href="#journals" role="tab" data-toggle="tab" aria-controls="journals" aria-expanded="false">
                        <span class="fa fa-book"></span> <strong>Journals</strong> </a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="about" aria-labelledby="about">
                    <div class="col-xs-12 col-md-12 tab-details">
                        {{model.process_about|safe}}
                    </div>
                    {% if model.dos|length > 0 %}
                    <div class="col-xs-12 col-md-5 tab-details pull-left">
                        <h3>Do's</h3>
                        <ul class="my-list-right">
                            {% for do in model.dos %}
                                <li>{{do}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if model.donts|length > 0 %}
                    <div class="col-xs-12 col-md-5 tab-details pull-right">
                          <h3>Don'ts</h3>
                          <ul class="my-list-wrong">
                              {% for dont in model.donts %}
                                <li>{{dont}}</li>
                              {% endfor %}
                          </ul>
                    </div>
                    {% endif %}
                  </div>
                    <!--------------ADVENTURE TAB DATA--------->
                  <div role="tabpanel" class="tab-pane fade" id="adventures" aria-labelledby="adventures">
                      <input id="adventure-filter" data-category="all" data-model="adventure" data-filter="activities" type="hidden" value="{{model.id}}">
                      <div id="models_list" class="container fitrangi-thumb">
                          {{ adventure_list|safe }}
                      </div>
                  </div>
                    <!-----------FAVOURITED TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="favourited" aria-labelledby="favourited">
                      <h4>Favourited</h4>

                      <input id="favorite-profile-filter" data-category="all" data-model="profile" data-filter="relationship__favorited_by__activity" type="hidden" value="{{model.id}}">
                      {{ follower_list |safe }}
                  </div>
                     <!-----------PHOTO/VIDEO GALLARY TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="photosvideos" aria-labelledby="photosvideos">
                        {% if False %}
                           <div class="col-xs-12 col-md-12 tab-details">
                              <div class="fotorama thumbnail" data-nav="thumbs" data-width="100%" data-ratio="1980/1366" data-maxwidth="1366" data-minheight="200" data-maxheight="400">
                                  {#% for gallery_image in model.image_gallery %#}
                                  <a href=""><img src="{{gallery_image.image_path(model, loop.index)}}"></a>
                                  {#% endfor %#}
                              </div>
                           </div>
                        {% else %}
                            <div class="well well-sm">
                                <h4>Nothing added to the image gallery.</h4>
                            </div>
                        {% endif %}
                  </div>
                        <!-----------DISCUSSION TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="discussions" aria-labelledby="discussions">
                        <section class="container-fluid border-grey-b mb-10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="oswald pl-10 pt-15">{{model.name}} : Discussion</h4>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-primary" data-user-id="{% if user %}{{user.id}}{% endif %}" data-action="add-discussion">Add a Discussion</a>
                                    <a href="/community/discussion" class="btn btn-primary">Go to Discussion</a>
                                </div>
                            </div>
                        </section>

                        <input id="discussion-filter" data-category="all" data-model="discussion" data-filter="tags" type="hidden" value="{{model.name}}">
                        <div class="container-fluid discussion">
                            {{ discussion_list | safe }}
                        </div>

                  </div>
                        <!-----------JOURNALS TAB DATA------->
                  <div role="tabpanel" class="tab-pane fade" id="journals" aria-labelledby="journals">
                      <section class="container-fluid border-grey-b mb-10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="oswald pl-10 pt-15">{{model.name}}: Popular from journal</h4>
                                <div class="pull-right">
                                    <a href="/explore/journal" class="btn btn-primary">Go to Journal</a>
                                </div>
                                <br/>
                            </div>
                        </section>
                       <input id="article-filter" data-category="all" data-model="article" data-filter="tags" type="hidden" value="{{model.name}}">
                        <div class="container-fluid discussion">
                            {{ article_list | safe }}
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function(){

            var App = window.App;
            App.filter('adventure-filter');
            App.filter('favorite-profile-filter');
            App.filter('discussion-filter');
            App.filter('article-filter');

            var user = '{{user.id}}';
            var activity = '{{model.id}}'
            var profile_editor = window.App.profile;
            $(".add-to-favorite").click(function(e){
                e.stopPropagation();
                console.log('adding to favorites');
                profile_editor.add_activity_to_favorite(user, activity);
            });
            $('.remove-from-favorite').click(function(e){
                e.stopPropagation();
                console.log('removing from favorites');
                profile_editor.remove_activity_from_favorite(user, activity);
            });
        });
    </script>
