<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="3ZY2PTmtQ-dsCMMMqmYfGfzj-_oioh2GAEblanFlVPA" />
    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}">

    <title>{% if title %}{{title}}{% else %}Fitrangi: India's complete adventure portal{% endif %}</title>

    {{ meta_content|safe }}
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    {% assets filters="cssmin", output="app/packed-new.css", "css/bootstrap.css", "css/owl.carousel.css",
            "css/bootstrap-tagsinput.css", "css/font-google1.css", "css/font-google2.css",
            "css/font-google3.css", "css/fotorama.css","css/bootstrap-dialog.min.css", "css/summernote.css", "css/summernote-bs3.css", "css/cropper.css" %}
        <link href="{{cdn_url}}{{ASSET_URL}}" rel="stylesheet">
    {% endassets %}
    {% assets filters="cssmin", output="app/my.css", "css/my-style.css", "css/menus.css", "css/poplr-pro.css" %}
        <link href="{{ASSET_URL}}" rel="stylesheet">
    {% endassets %}


    {% block header_scripts %}{% endblock %}
    {% block header_css %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
</head>

<body data-logged-in-as="{% if user %}{{user.id}}{% else %}null{% endif %}" data-logged-in-url="{% if user %}{{user.slug}}{%endif%}" ng-app="myApp">
    {% assets filters="jsmin", output="app/my-lib.js",
        "appjs/editors/main.js", "appjs/editors/profile-edit.js",
    "appjs/editors/post-edit.js", "appjs/editors/content-edit.js",
    "appjs/editors/trip-edit.js", "appjs/editors/campsite-edit.js",
    "appjs/editors/gear-edit.js", "appjs/editors/event-edit.js" %}
        <script type="text/javascript" src="{{cdn_url}}{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if user and not user.is_verified and not user.is_social_login %}
    <div class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-bottom:0;">
        <strong>Info!</strong>&nbsp;Verification link has been sent to your email, Please verify to start using Fitrangi website. if you not recieved the mail please <a href="/generate-verification/{{user.id}}">click here</a> to send it again
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="alert-message-container" class="container-fluid">
                <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Info!</strong>
                    {% for message in messages %}
                        {{ message|safe }}<br/>
                    {% endfor %}
                </div>
            </div>

        {% endif %}
    {% endwith %}

<div class="wrap-site">
    <div id="fb-root"></div>
    <script>

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=526533334116117";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
        if (d.getElementById(id))return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };
        return t;
    }(document, "script", "twitter-wjs"));


    </script>
    {%  block nav %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-8">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">

                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                    </ul>
                    {% if user and user.id %}
                    <ul class="top-icons nav navbar-nav navbar-right pull-right" ng-controller="NotificationCtrl">
                        <li>
                            <div class="top-icon">
                                <a href="{{user.slug}}#my-stream-data" title="Notifications"><i  class="fa fa-bell"></i></a><span>{% raw %}{{public_activity_count}}{% endraw %}</span>
                            </div>
                        </li>
                        <li>
                            <div class="top-icon"><a href="/messaging" title="Messages"><i
                                    class="fa fa-envelope"></i></a><span style="background-color: #CC033C">{% raw %}{{private_activity_count}}{% endraw %}</span>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav pull-right">

                            {% if not user or user.is_admin or (not user.is_business_profile and user.managed_profiles|length == 0) %}
	                        <li>
                                <a class="btn btn-link underline" href="#" {% if user %}data-user="{{user.id}}"{% endif %} title="Business" data-action="create-business-profile">Register As Organization</a>
                            </li>
                            {% endif %}

                            <li><a class="btn btn-link underline" href="/contests" title="Live Contests">Contests</a></li>
	                        <li><a class="btn btn-link underline" href="/profiles?query=type__profile_type__name:Enthusiast;#finder-container" title="Members">Members</a></li>
                            <li><a class="btn-head" href="#" title="Search" data-action="search">&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;</a>&nbsp;</li>
                            {% if not (user and user.id) %}
                            <li><a class="btn-head" href="/register" title="Register">Register</a></li>
                            <li><a class="btn-head-primary" href="/login" title="Login">Login</a></li>
                            {% elif user and user.id %}

                            <li class="dropdown">
                                <a class="btn-head" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{user.cover_image_path}}" class="" alt="profile"
                                         height="18">&nbsp;{{user.name}}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" role="button" data-placement="left" data-toggle="popover"
                                           data-trigger="focus" data-content="Click to change the cover" data-aspect-ratio-x="9" data-aspect-ratio-y="9"
                                           class="hoverable"
                                           data-action="edit-cover-image" data-model-id="{{user.id}}"
                                           data-model="profile"
                                           data-trigger="hover"><img class="img-responsive"
                                                                     src="{{user.cover_image_path}}" width="200px" height="200px"/></a>
                                    </li>
                                    <li class="{% if menu.main_menu == 'my' %}active{% endif %}"><a
                                            href="/community/my"><i
                                            class="fa fa-info" data-action="check-login" data-user-id="{{user.id}}"></i>&nbsp;My
                                        Page</a></li>
                                    <li><a data-action="edit-profile" data-model-id="{{user.id}}"
                                           data-user-id="{{user.id}}"
                                           href="#"><i class="fa fa-user"></i>&nbsp;Edit Profile</a></li>
                                    <li><a data-action="edit-profile-preferences" data-model-id="{{user.id}}"
                                           data-user-id="{{user.id}}" href="#"><i class="fa fa-cog"></i>&nbsp;Edit
                                        Preference</a></li>
                                    <li><a data-action="edit-profile-password" data-model-id="{{user.id}}"
                                           data-user-id="{{user.id}}" href="#"><i class="fa fa-key"></i>&nbsp;Change
                                        Password</a></li>
                                    {% if 'Admin' in user.roles %}
                                    <li><a href="/admin" target="_blank"><i class="fa fa-dashboard"></i>&nbsp;Admin dashboard</a></li>
                                    {% endif %}
                                    <li><a href="/logout"><i class="fa fa-lock"></i> Log Out</a></li>
                                </ul>
                            </li>

                            {% endif %}
                    </ul>
                </div>

                {% if menu.app_name in ['explore', 'community'] %}
                <div class="container-fluid border-grey-t">
                    <ul class="nav navbar-nav nav-down">
                        <li class="{% if menu.main_menu == 'my' %}active{% endif %}"><a href="#"
                                                                                        data-action="check-login"
                                                                                        data-user-id="{{user.id}}">My
                            Page</a>
                        </li>
                        <li class="inner-level-dropdown dropdown {% if menu.main_menu in ['activity', 'activities'] %}active{% endif %}">
                            <a id="subdropdown1" href="#" class="dropdown-toggle">Activities<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3" aria-labelledby="subdropdown1" role="menu" style="margin-top: 12px;">
                                <div class="row" style="padding:10px;">
                                    <div class="col-sm-4 col-xs-12">
                                        <ul class="multi-column-dropdown" style="margin: 0; padding: 0px;">
                                            <li style="text-align: center;"><strong><u>Land Activities</u></strong></li>
                                            <li class="divider"></li>
                                            <li class="{% if menu.inner == 'Trekking and Hiking' %}active{% endif %}"><a href="/activities?name=Trekking and Hiking">Trekking and Hiking</a></li>
                                            <li class="{% if menu.inner == 'Camping' %}active{% endif %}"><a href="/activities?name=Camping">Camping</a></li>
                                            <li class="{% if menu.inner == 'Rock Climbing' %}active{% endif %}"><a href="/activities?name=Rock Climbing">Rock Climbing</a></li>
                                            <li class="{% if menu.inner == 'Marathons' %}active{% endif %}"><a href="/activities?name=Marathons">Marathons</a></li>
                                            <li class="{% if menu.inner == 'Mountaineering' %}active{% endif %}"><a href="/activities?name=Mountaineering">Mountaineering</a></li>
                                            <li class="{% if menu.inner == 'Rappelling and Valley Crossing' %}active{% endif %}"><a href="/activities?name=Rappelling and Valley Crossing">Rappelling and Valley Crossing</a></li>
                                            <li class="{% if menu.inner == 'Canyoning' %}active{% endif %}"><a href="/activities?name=Canyoning">Canyoning</a></li>
                                            <li class="{% if menu.inner == 'Horse Riding' %}active{% endif %}"><a href="/activities?name=Horse Riding">Horse Riding</a></li>
                                            <li class="{% if menu.inner == 'Zorbing' %}active{% endif %}"><a href="/activities?name=Zorbing">Zorbing</a></li>
                                            <li class="{% if menu.inner == 'Skiing' %}active{% endif %}"><a href="/activities?name=Skiing">Skiing</a></li>
                                            <li class="{% if menu.inner == 'Snowboarding' %}active{% endif %}"><a href="/activities?name=Snowboarding">Snowboarding</a></li>
                                            <li class="{% if menu.inner == 'Wildlife' %}active{% endif %}"><a href="/activities?name=Wildlife">Wildlife</a></li>
                                            <li class="{% if menu.inner == 'Motor Biking' %}active{% endif %}"><a href="/activities?name=Motor Biking">Motor Biking</a></li>
                                            <li class="{% if menu.inner == 'Cycling and Biking' %}active{% endif %}"><a href="/activities?name=Cycling and Biking">Cycling And Biking</a></li>
                                        </ul>
                                    </div>
                                     <div class="col-sm-4 col-xs-12">
                                        <ul class="multi-column-dropdown" style="margin: 0; padding: 0px;">
                                            <li style="text-align: center;"><strong><u>Water Activities</u></strong></li>
                                            <li class="divider"></li>
                                            <li class="{% if menu.inner == 'Scuba Diving' %}active{% endif %}"><a href="/activities?name=Scuba Diving">Scuba Diving</a></li>
                                             <li class="{% if menu.inner == 'Water Rafting' %}active{% endif %}"><a href="/activities?name=Water Rafting">Water Rafting</a></li>
                                            <li class="{% if menu.inner == 'Kayaking' %}active{% endif %}"><a href="/activities?name=Kayaking">Kayaking</a></li>
                                            <li class="{% if menu.inner == 'Surfing' %}active{% endif %}"><a href="/activities?name=Surfing">Surfing</a></li>
                                            <li class="{% if menu.inner == 'Kite Surfing' %}active{% endif %}"><a href="/activities?name=Kite Surfing">Kite Surfing</a></li>
                                            <li class="{% if menu.inner == 'Snorkelling' %}active{% endif %}"><a href="/activities?name=Snorkelling">Snorkelling</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <ul class="multi-column-dropdown" style="margin: 0; padding: 0px;">
                                            <li style="text-align: center;"><strong><u>Air Activities</u></strong></li>
                                            <li class="divider"></li>
                                            <li class="{% if menu.inner == 'Paragliding' %}active{% endif %}"><a href="/activities?name=Paragliding">Paragliding</a></li>
                                            <li class="{% if menu.inner == 'Parasailing' %}active{% endif %}"><a href="/activities?name=Parasailing">Parasailing</a></li>
                                            <li class="{% if menu.inner == 'Bungee jumping' %}active{% endif %}"><a href="/activities?name=Bungee jumping">Bungee jumping</a></li>
                                            <li class="{% if menu.inner == 'Hot Air Ballooning' %}active{% endif %}"><a href="/activities?name=Hot Air Ballooning">Hot Air Ballooning</a></li>
                                            <li class="{% if menu.inner == 'Sky Diving' %}active{% endif %}"><a href="/activities?name=Sky Diving">Sky Diving</a></li>
                                            <li class="{% if menu.inner == 'Zip Line' %}active{% endif %}"><a href="/activities?name=Zip Line">Zip Line</a></li>
                                            <li class="{% if menu.inner == 'Paramotoring' %}active{% endif %}"><a href="/activities?name=Paramotoring">Paramotoring</a></li>
                                        </ul>
                                    </div> 
                                 </div>    
                            </ul>
                        </li>
                        <li class="{% if menu.main_menu == 'adventure' %}active{% endif %}"><a
                                href="/adventures">Destinations</a>
                        </li>
                        <!--li class="{% if menu.main_menu == 'profile' %}active{% endif %}"><a href="/profiles">Finder</a-->
                        </li>
                        <!--li class="dropdown {% if menu.main_menu == 'profile' %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Finder
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profiles?query=type__profile_type__name:Organizer;#finder-container">Organizers</a></li>
                                <li><a href="/profiles?query=type__profile_type__name:Gear Dealer;#finder-container">Gear Dealers</a></li>
                                <li><a href="/profiles?query=type__profile_type__name:Camp Site;#finder-container">Camp Sites </a></li>
                                <li><a href="/profiles?query=type__profile_type__name:NGO or Club;#finder-container">Club & NGO's</a></li>
                                <li><a href="/profiles#finder-container">All Profiles</a></li>
                            </ul>
                        </li-->
                        <li class="{% if menu.main_menu in ['journal', 'article', 'blog', 'blogs'] %}active{% endif %} {{menu.main_menu}}">
                            <a
                                    href="/blog">Blogs</a></li>
                        <li class="{% if menu.main_menu == 'discussion' %}active{% endif %}"><a
                                href="/discussions">Forum</a></li>
                        <li class="{% if menu.main_menu == 'event' %}active{% endif %}"><a
                                href="/events">Events</a></li>
                        <li class="{% if menu.main_menu == 'trip' %}active{% endif %}"><a
                                href="/trips">Trips</a></li>
                        <li class="{% if menu.main_menu == 'campsite' %}active{% endif %}"><a
                                href="/campsites">Stays</a></li>
                        <li class="{% if menu.main_menu == 'gear' %}active{% endif %}"><a
                                href="/gears">Gears</a></li>
                        <!--li class="{% if menu.main_menu == 'event' %}active{% endif %}"><a
                                href="/events">Initiatives</a></li-->
                    </ul>
                </div>
                {% endif %}

            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    {%  endblock %}

    <div style="min-height: 100%;">
        {% block body %}{% endblock %}
    </div>
</div>


<footer class="container-fluid p-0">

        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">

        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <h3>About Fitrangi.com</h3>

            <p>Fitrangi.com aims at providing a cohesive platform to converge together Adventure community.</p>
            <a href="/pages/aboutus" class="label label-default">About</a>
            <a href="/pages/contribute" class="label label-default">Contribute</a>
            <a href="/pages/advertise" class="label label-default">Advertise</a>
            <a href="/pages/privacy" class="label label-default">Privacy</a>
            <a href="/pages/terms" class="label label-default">Terms</a>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h3>Need Help?</h3>
            <p>Write to us at <em><a href="mailto:info@fitrangi.com">go@fitrangi.com</a></em></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 social">
            <h3>Follow us</h3>
            <a href="https://www.facebook.com/Fitrangi" class="fa fa-facebook-square" title="Facebook" target="_blank"></a>
            <a href="https://twitter.com/FitRangi" class="fa fa-twitter-square" title="Twitter" target="_blank"></a>
            <a href="#" class="fa fa-rss-square" title="RSS" target="_blank"></a>
            <a href="https://plus.google.com/115019600318035585202/posts" class="fa fa-google-plus-square"  title="Google Plus" target="_blank"></a>
            <a href="https://www.youtube.com/user/Fitrangi" class="fa fa-youtube-square" title="Youtube"  target="_blank"></a>

            <p>By Continuing past this page, you agree to Terms of Service.<br>
                All trademarks are properties of their respective owners.</p>
            <p>&copy;2015 Fitrangi<sup>TM</sup>. All rights reserved.</p>

        </div>


    </section>

    <img id="loadingImage" class="exactCenter" src="{{url_for('static', filename='img/loading.gif')}}"/>
</footer>


<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places'></script>
<script src="{{url_for('static', filename='js/bootstrap-dialog.min.js')}}"></script>
<script src="{{url_for('static', filename='js/css3-mediaqueries.js')}}"></script>
<script src="{{url_for('static', filename='js/respond.min.js')}}"></script>
<script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
<script src="{{url_for('static', filename='js/modernizr.custom.85647.js')}}"></script>
<script src="{{url_for('static', filename='js/fotorama.js')}}"></script>
<script src="{{url_for('static', filename='js/summernote.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap-tagsinput.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.geocomplete.min.js')}}"></script>
<script src="{{url_for('static', filename='js/autobahn.min.jgz')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.js')}}"></script>
<!-- Bootstrap core JavaScript
-->

{% assets filters="jsmin", output="app/my-handler.js",
    "appjs/handler.js", "appjs/async.js", "appjs/angular-generic.js", "appjs/angular-editor.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    $(function () {
        $('#loadingImage').hide();
        $('li.inner-level-dropdown>a').on('click', function (event) {
            event.stopPropagation();
            $('li.inner-level-dropdown').removeClass('open');
            $(this).parent().toggleClass('open');
        });
        $('body').on('click', function (e) {
            if (!$('li.dropdown').is(e.target)
                    && $('li.dropdown').has(e.target).length === 0
                    && $('.open').has(e.target).length === 0
                    ) {
                $('li.dropdown').removeClass('open');
            }
        });
        var messages = parseInt('{% if user %}{{user.private_activity_count}}{% else %}0{% endif %}');
        //TODO: Temporary removal of cht notification message
        var show_notification = false; //'{% if user %}{{show_message_notification}}{% else %}0{% endif %}';

        if (show_notification == 'True' && messages > 0) {
            BootstrapDialog.show({
                title: 'You have ' + messages + ' message' + ((messages == 1)? '': 's'),
                message: '<div class="text-center">Click <a href="/messaging">here</a> to view them</div>'
            });
        }
    });

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-59043882-1', 'auto');
    ga('send', 'pageview');



</script>
{% block footer_scripts %}{% endblock %}
</body>
</html>
