<section class="container-fluid p-0">
    <div class="adventure-banner"
         style="{{background_cover}}">

        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 season text-right primary">
                {% if model.best_season|length > 0 %}
                <h3>Best Season : </h3>
                {% for best_season in model.best_season %}
                <span class="label label-danger">{{best_season}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <section class="container carousel-caption">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adventure-heading">
                    <h2>{{model.name}}</h2>

                    <article>
                        <h4>{% set reviews_count = model.reviews_count %}{% if reviews_count > 0 %}{{reviews_count}} Reviews: {% else %} Not Reviewed yet {%
                            endif %}</h4>
                        <!--a href=""
                           class="btn rating-{% if model.extremity_level %}{{model.extremity_level|lower}}{% else%}easy{% endif %}">{%
                            if model.extremity_level %}{{model.extremity_level}}{% else %}No Rating Yet{% endif %}</a-->
                    </article>

                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <ul class="nav nav-pills nav-justified">
                        {% if not user or not user.is_business_profile %}
                        <li>
                            {% if not model in user.accomplished_adventure %}
                                <a href="#" data-action="add-adventure-accomplished" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-flag"></span>&nbsp;Done this</a>
                            {% else %}
                                <a href="#" data-action="remove-adventure-accomplished" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-flag green"></span>&nbsp;Undo this</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if not model in user.wish_list_adventure %}
                            <a href="#" data-action="add-adventure-wishlist" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-list"></span> Add to Wishlist</a>
                            {% else %}
                            <a href="#" data-action="remove-adventure-wishlist" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-list yellow"></span> Wishlisted </a>
                            {% endif %}
                        </li>
                        {% endif %}
                        <li><a href="#review_post"><span class="fa fa-edit"></span> Write Review</a></li>
                    </ul>

                </div>


            </section>


        </div>

    </div>
</section>


<section class="container-fluid p-0" id="adventure-review-area">
<div role="tabpanel" data-example-id="togglable-tabs">

<div class="border-grey-t border-grey-b h-56">
    <div class="container text-center">
        <ul id="myTab" class="nav nav-tabs" role="tablist">

            <li class="active"><a href="#about-reviews" role="tab" data-toggle="tab" aria-controls="about-reviews"
                                  aria-expanded="false">
                <span class="fa fa-star"></span> <strong>About & Reviews</strong></a></li>

            <li class=""><a href="#how-to-reach" role="tab" data-toggle="tab" aria-controls="how-to-reach"
                            aria-expanded="false">
                <span class="fa fa-road"></span> <strong>How to Reach</strong> </a></li>

            <!--li class=""><a href="#nearby-offbeat-stays" role="tab" data-toggle="tab" aria-controls="nearby-offbeat-stays" aria-expanded="false">
            <span class="fa fa-star"></span> <strong>Nearby Offbeat Stays</strong> </a></li-->

            <li class=""><a href="#nearby-facilities" role="tab" data-toggle="tab" aria-controls="nearby-facilities"
                            aria-expanded="false">
                <span class="fa fa-arrows"></span> <strong>Nearby Facilities</strong> </a></li>


        </ul>
    </div>
</div>

<div class="container">
<div id="myTabContent" class="tab-content">


    <div role="tabpanel" class="tab-pane fade active in" id="about-reviews" aria-labelledby="about-reviews">

        <div class="col-xs-12 col-md-{% if model.image_gallery|length > 0 %}6{% else %}12{% endif %} p-25"
             style="line-height:1.9;">
            {{model.process_about|safe}}
            <script>console.log('{{model.process_content}}');</script>
        </div>
        {% if model.image_gallery|length > 0 %}
        <div class="col-xs-12 col-md-6 tab-details">

            <div class="fotorama thumbnail" data-nav="thumbs">
                {% for idx in xrange(model.gallery_size) %}
                <a href=""><img src="{{model.gallery_image_path}}/{{idx}}"></a>
                {% endfor %}
            </div>

        </div>
        {% endif %}


    </div>
    <!--Tab Pane End-->

    <div role="tabpanel" class="tab-pane fade" id="how-to-reach" aria-labelledby="how-to-reach">
        <div class="container">
            <h4>How to Reach</h4>
            {% if model.location %}
                <h4 class="border-grey-b pb-5 oswald"><span class="fa fa-map-marker grey fs-22"></span> {{model.location}}</h4>
                <div class="tab-details">
                    <div class="thumbnail">
                        <center><iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyC2G0kvBLJBEnBCUPf053z6mL5tgbWON5o&q={{model.location}}&zoom=7" width="60%" height="400" frameborder="0" style="border:0"></iframe></center>
                    </div>
                </div>
                <hr class="divider clearfix">
            {% endif %}



            <div>
                {% if model.reach_by_air|length > 0 %}
                <strong>By Air : </strong>
                {% for a in model.reach_by_air %}
                <p>{{a|safe}}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                {% if model.reach_by_train|length > 0 %}
                <strong>By Train : </strong>
                {% for a in model.reach_by_train %}
                <p>{{a|safe}}</p>
                {% endfor %}
                {% endif %}

            </div>

            <div>
                {% if model.reach_by_road|length > 0 %}
                <strong>By Road : </strong>
                {% for a in model.reach_by_road %}
                <p>{{a|safe}}</p>
                {% endfor %}
                {% endif %}

            </div>

            <div>
                {% if model.reach_by_sea|length > 0 %}
                <strong>By Sea :</strong>
                {% for a in model.reach_by_sea %}
                <p>{{a|safe}}</p>
                {% endfor %}
                {% endif %}

            </div>

        </div>

    </div>
    <!--Tab Pane End-->

    <!--div role="tabpanel" class="tab-pane fade" id="nearby-offbeat-stays" aria-labelledby="nearby-offbeat-stays">

      <h4 class="border-grey-b pb-5 oswald"><span class="fa fa-map-marker grey fs-22"></span> Nearby Offbeat Stays</h4>

      <h4>Near by Facilities</h4>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </div--><!--Tab Pane End-->

    <div role="tabpanel" class="tab-pane fade" id="nearby-facilities" aria-labelledby="nearby-facilities">

        <h4 class="border-grey-b pb-5 oswald"><span class="fa fa-map-marker grey fs-22"></span> Nearby Facilities</h4>


        {% if model.nearby_stay|length > 0 %}
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h4>Near by Stay</h4>
            </div>
            <div class="col-sm-6 col-xs-6">
                {% for n in model.nearby_stay %}
                <p>{{n}}</p>
                {% if not loop.last %}
                <hr/>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <hr/>
        {% if model.nearby_eat|length > 0 %}
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h4>Near by Eating places</h4>
            </div>
            <div class="col-sm-6 col-xs-6">
                {% for n in model.nearby_eat %}
                <p>{{n}}</p>
                {% if not loop.last %}
                <hr/>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <hr/>
        {% if model.nearby_station|length > 0 %}
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h4>Near by Stations</h4>
            </div>
            <div class="col-sm-6 col-xs-6">
                {% for n in model.nearby_station %}
                <p>{{n}}</p>
                {% if not loop.last %}
                <hr/>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <hr/>
        {% if model.nearby_airport|length > 0 %}
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h4>Near by Airports</h4>
            </div>
            <div class="col-sm-6 col-xs-6">
                {% for n in model.nearby_airport %}
                <p>{{n}}</p>
                {% if not loop.last %}
                <hr/>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <!--Tab Pane End-->


</div>


<hr class="w-100 clearfix border-grey-b"/>


<div class="row">

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div id="review_post" class="form-group">
            <label>Reviews</label>
        </div>

        <div>
            {% import 'site/includes/post_box.html' as post %}
            {{ post.show_post_form(model, 'review') }}
            <input type="hidden" id="review-filter" data-category="all" data-filter="parent__adventure__pk" data-model="post" value="{{model.id}}" data-filter-status="fixed"/>
            {{ reviews|safe }}
        </div>


    </div>
    <!--col9 End-->

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h4 class="lightgrey">Sponsored</h4>


        <section class="row sponsored-thumb">
            {{ advertisement_list|safe}}

        </section>

        <article class="border-grey-b">
            {% if True or not model.location %}
            <h5 class="grey">Other Adventures</h5>
            {% else %}
            <h5 class="grey">Other Adventure to do Near</h5>
            <h4 class="blue">{{model.location}}</h4>
            {% endif %}
        </article>
        <div class="adventure fitrangi-thumb">
            <input id="adventure-not-same-filter" type="hidden" data-category="all" data-model="adventure" data-filter="id__ne" value="{{model.id}}"/>
            {% if model.location %}
            <!--input id="adventure-location-filter" type="hidden" data-category="all" data-model="adventure" data-filter="location__near" value="{{model.geo_location}}"/-->
            {% endif %}
            {{other_adventure_list|safe}}
        </div>


    </div>
    <!--col3 End-->

</div>
<!--Row End-->
</div>
</div>
</section>
<script>
    $(document).ready(function(){
            var user = '{{user.id}}';
            var adventure = '{{model.id}}';
            var App = window.App;
            if ($('#adventure-location-filter') != undefined)  {
                App.filter('adventure-location-filter');
            }
            App.filter('review-filter');
            App.filter('adventure-not-same-filter');

            var profile_editor = App.profile;
            $("#add-to-wish-list").click(function(e){
                e.stopPropagation();
                profile_editor.add_adventure_to_wish_list(user, adventure);
            });
            $('#remove-from-wish-list').click(function(e){
                e.stopPropagation();
                profile_editor.remove_adventure_from_wish_list(user, adventure);
            });
            $("#add-to-done").click(function(e){
                e.stopPropagation();
                profile_editor.add_adventure_to_done(user, adventure);
            });
            $('#remove-from-done').click(function(e){
                e.stopPropagation();
                profile_editor.remove_adventure_from_done(user, adventure);
            });
    });
</script>
