<div class="{% block grid_size %}{% endblock %} thumbnail" data-model="{{model.id}}">
    <a href="{{model.slug}}">
        <img src="{{model.cover_image_path_small}}" class="img-responsive" style="">
    	<div class="media">
            <h4>{{model.title_short}}</h4>
            <img src="{{model.author.cover_image_path_small}}" class="img-circle pull-left p-5" width="48px" height="48px">
            <h5>by {{model.author.name}}</h5>
            <h6>{{model.since}}</h6>
        </div>
    </a>
</div>
