{% if model.author.id == user.id %}
<li>
<div class="row">
     <div class="col-md-4">
     <a href="{{model.slug}}"><img class="blog-img img-responsive img-thumbnail" src="{{model.cover_image_path_small}}" alt=""></a>
	</div>
    <div class="col-md-8">
            <h3 class="title"><a href="{{model.slug}}">{{model.title}}</a></h3>
            <h4 class="sub-title">{% if model.description %}{{model.description|safe}}{% endif %}</h4>
    <article>
    <button data-user-id="{{user.id}}" data-action="edit-article" data-model-id="{{model.id}}" class="btn btn-default btn-edi blue" type="button"><i class="fa fa-edit"></i> Edit </button>
	<button data-user-id="{{user.id}}" data-action="delete-article" data-model-id="{{model.id}}" class="btn btn-default btn-edi red"  type="button"><i class="fa fa-remove"></i> Delete </button>
    {% if model.published %}
    <button data-user-id="{{user.id}}" data-action="unpublish-article" data-model-id="{{model.id}}" class="btn btn-default btn-pub blue" type="button"><i class="fa fa-newspaper-o"></i> Unpublish </button>
    {% else %}
    <button data-user-id="{{user.id}}" data-action="publish-article" data-model-id="{{model.id}}" class="btn btn-default btn-pub green" type="button"><i class="fa fa-newspaper-o"></i> Publish </button>
    {% endif %}
    </article>
    </div>
</div>
</li>
{% else %}
<li>
<div class="row">
     <div class="col-md-4">
     <a href="{{model.slug}}"><img class="blog-img img-responsive img-thumbnail" src="{{model.cover_image_path_small}}" alt=""></a>
	</div>
    <div class="col-md-8">
                <h3 class="title"><a href="{{model.slug}}">{{model.title}}</a></h3>
                <h4 class="sub-title">{% if model.description %}{{model.description|safe}}{% endif %}</h4>
	<div class="media">
    	<img src="{{model.author.cover_image_path_small}}" class="img-circle img-responsive pull-left p-5 media-object" width="48">
        <h5>{{model.author.name}}</h5>&nbsp;|&nbsp;
    	<h6>{{model.since}}</h6>
	</div>
    <article>
    <!--button class="btn btn-default btn-noti" type="button"><i class="fa fa-eye"></i> Views <span class="noti-badge">4</span></button-->
	<button class="btn btn-default btn-noti" type="button"><i class="fa fa-comment-o"></i> Comments <span class="noti-badge">{{model.comments_count}}</span></button>
    <!--button class="btn btn-default btn-noti" type="button"><i class="fa fa-share-square-o"></i> Share <span class="noti-badge">10</span></button-->
    </article>
    </div>
</div>
</li>
{% endif %}