<section class="container-fluid p1">
    <div class="events-banner"
         style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
                <h2>Explore, Review and get informed about all adventures in India! </h2>
                <h3>Update your profile with experiences and stack your wish lists! </h3>
                <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="fa fa-search"></i>&nbsp;Show Filters</a>
                <h3>{{count}}+ Adventures and Counting. Go now!</h3>
                <input id="name-filter" type="hidden" data-category="all" data-model="adventure" data-filter="name__icontains"/>
            </div>
            <br/>

        </div>
    </div>
</section>
<section class="collapse" id="collapseFilter">
    <br/>
    <div class="thumbnail container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Search by applying specific filters</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">

                <input id="activity-filter" data-category="all" data-model="adventure" data-filter="activities__activity__name" list="activity" placeholder="FILTER BY ACTIVITY">
                <datalist id="activity">
                    <option value="">
                </datalist>
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: '/options?model_name=activity&attr=name'
                        }).done(function (data) {
                            $('#activity').append(data);

                        });
                    });
                </script>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">
                <input class="geo-complete" placeholder="SORT BY LOCATION" data-sorter="location" data-category="all" data-model="adventure">
                <form>
                    <input type="hidden" id="location-sorter-lat" name="lat" data-category="all" data-model="adventure" data-sorter="location_lat"/>
                    <input type="hidden" id="location-sorter-lng" name="lng" data-category="all" data-model="adventure" data-sorter="location_lng"/>
                    <input type="hidden" id="location-sorter-locality" name="locality_short" data-category="all" data-model="adventure" data-sorter="location_locality"/>
                    <input type="hidden" id="location-sorter-region2" name="administrative_area_level_2" data-category="all" data-model="adventure" data-sorter="location_region2"/>
                    <input type="hidden" id="location-sorter-region1" name="administrative_area_level_1" data-category="all" data-model="adventure" data-sorter="location_region1"/>
                    <input type="hidden" id="location-sorter-country" name="country_short" data-category="all" data-model="adventure" data-sorter="location_country"/>
                </form>
            </div>

            <div class="col-lg-offset-4 col-md-offset-4">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-category="all" data-model="adventure" data-filter-submit="search" href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">GO</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-category="all" data-model="adventure" data-filter-submit="reset"  href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">RESET</a>
                </div>
            </div>

    </div>
</section>
<hr class="clearfix"/>
<section  id="model-container-section" class="container-fluid p-0">
    <div id="models_list" class="container fitrangi-thumb">
        {{ adventure_list|safe }}
    </div>
</section>
 <script>
    $(document).ready(function(){
        window.App.filter('activity-filter');
        window.App.filter('name-filter');
        //window.App.filter('location-filter');
        window.App.sorter('location-sorter-lat');
        window.App.sorter('location-sorter-lng');
        window.App.sorter('location-sorter-locality');
        window.App.sorter('location-sorter-region2');
        window.App.sorter('location-sorter-region1');
        window.App.sorter('location-sorter-country');
    });
</script>
{% if filters.get('activities__activity__name') %}
  <script>
    $(document).ready(function(){
        $('#activity-filter').val('{{filters.get("activities__activity__name")}}');
    });
</script>
{% endif %}
{% if filters.get('name__icontains') %}
  <script>
    $(document).ready(function(){
        $('#name-filter').val('{{filters.get("name__icontains")}}');
    });
</script>
{% endif %}
