<section class="container-fluid p1">
    <div class="events-banner"
         style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
                <a data-user-id="{{user.id}}" data-action="add-article" href="#" class="btn btn-primary btn-lg  m-5 pull-right">Write a blog</a>
                <h2>Blogs, Articles and Journals</h2>
                <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="fa fa-search"></i>&nbsp;Show Tags</a>
                <input id="name-filter" data-filter="title__icontains" data-model="article" type="hidden">
            </div>
            <br/>

        </div>
    </div>
</section>

<section class="collapse" id="collapseFilter">
    <div class="thumbnail container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Search by specific channel or tag</h4>
        </div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fitrangi-tags-list">
                <h2>Featured Tag's</h2>
                <article class="text-center" id="channel-list">
                    <a href="/blog">All</a>
                </article>
                <input id="channel-filter" type="hidden" data-model="article" data-filter="channels__channel__name"/>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: '/names?model_name=channel&attr=name&model_type=article'
                        }).done(function (data) {
                            var channel_list = data.split(',');
                            var channels = '';
                            for(var i = 0; i < channel_list.length; i++) {
                                if (channel_list[i] != null && channel_list[i].length > 0) channels += '<a href="/blog?query=channels__channel__name:'+ channel_list[i]+ ';" >'+ channel_list[i]+ '</a>';
                            }
                            $('#channel-list').append(channels);
                        });
                    });
                </script>

                <hr class="divider">

                <article class="text-center" id="tag-list">
                    <a href="/blog">All</a>
                </article>
                <input id="tag-filter" type="hidden" data-model="article" data-filter="tags"/>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: '/names?model_name=tag&attr=name&size=15&model_type=article'
                        }).done(function (data) {
                            var tag_list = data.split(',');
                            var tags = '';
                            for(var i = 0; i < tag_list.length; i++) {
                                if (tag_list[i] != null && tag_list[i].length > 0) tags += '<a href="/blog?query=tags:'+ tag_list[i]+ ';" >'+ tag_list[i]+ '</a>';
                            }
                            $('#tag-list').append(tags);
                        });
                    });
                </script>
            </div>
    </div>
</section>



<section  id="model-container-section" class="container-fluid p-0">
<div role="tabpanel" data-example-id="togglable-tabs">

<div class="border-grey-t border-grey-b h-56">
    <div class="container text-center">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">
                <span class="fa fa-home"></span> <strong>Home</strong></a></li>

            <li class=""><a href="#top-blogs" role="tab" data-toggle="tab" aria-controls="top-blogs"
                            aria-expanded="false">
                <span class="fa fa-certificate"></span> <strong>Top Blogs</strong> </a></li>

            <li class=""><a href="#my-blogs" role="tab" data-toggle="tab" aria-controls="my-blogs"
                            aria-expanded="false">
                <span class="fa fa-pencil-square-o"></span> <strong>My Blogs</strong></a></li>

            <!--li class="active"><a href="#bookmarks" role="tab" data-toggle="tab" aria-controls="bookmarks"
                                  aria-expanded="true">
                <span class="fa fa-image"></span> <strong>Bookmarks</strong> </a></li-->
        </ul>
    </div>
</div>

<div class="container">
<div id="myTabContent" class="tab-content">


<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home">

    <section class="container-fluid fitrangi-blog-thumb">
        <input id="admin-published-all-filter" type="hidden" data-category="all" data-model="article" data-filter="admin_published" value="bool|True"/>
        <input id="published-all-filter" type="hidden" data-category="all" data-model="article" data-filter="published" value="bool|True"/>
        {{all|safe}}
    </section>

</div>
<!--Tab Pane End-->

<div role="tabpanel" class="tab-pane fade" id="top-blogs" aria-labelledby="top-blogs">
    <section class="container-fluid mb-10">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h4 class="border-grey-b pb-5 oswald"> Top Blogs</h4>
            <ul class="blogs-list">

                <input id="admin-published-top-filter" type="hidden" data-category="top" data-model="article" data-filter="admin_published" value="bool|True"/>
                <input id="published-top-filter" type="hidden" data-category="top" data-model="article" data-filter="published" value="bool|True"/>
                {{top|safe}}

            </ul>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h4 class="lightgrey">Sponsored</h4>
            <section class="row sponsored-thumb">
                {{ advertisement_list|safe}}
            </section>
        </div>
    </section>
</div>
<!--Tab Pane End-->

<div role="tabpanel" class="tab-pane fade" id="my-blogs" aria-labelledby="my-blogs">

    <section class="container-fluid mb-10">
        {% if user %}
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input id="my-blog-filter" type="hidden" data-category="my" data-filter="author" data-model="article" value="{{user.id}}" data-filter-status="fixed"/>
            <h4 class="border-grey-b pb-5 oswald"> My Blogs</h4>
            <ul class="blogs-list">
                {{my|safe}}
            </ul>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h4 class="lightgrey">Sponsored</h4>


            <section class="row sponsored-thumb">
                {{ advertisement_list|safe}}
            </section>
        </div>
        {% else %}
        <div class="jumbotron"><p>You must <a href="/login">login</a> first and add some blogs to see anything here.</p></div>
        {% endif %}
    </section>

</div>
</div>
</div>


</div>
</section>
<script>
    $(document).ready(function(){
        var App = window.App;
        App.filter('my-blog-filter');
        App.filter('name-filter');
        App.filter('channel-filter');
        App.filter('tag-filter');
        App.filter('admin-published-all-filter');
        App.filter('admin-published-top-filter');
        App.filter('published-all-filter');
        App.filter('published-top-filter');


    });
</script>
{% if filters.get('channels__channel__name') %}
  <script>
    $(document).ready(function(){
        $('#channel-filter').val('{{filters.get("channels__channel__name")}}');
    });
</script>
{% endif %}
 {% if filters.get('tags') %}
  <script>
    $(document).ready(function(){
        $('#tag-filter').val('{{filters.get("tags")}}');
    });
</script>
{% endif %}
{% if filters.get('title__icontains') %}
  <script>
    $(document).ready(function(){
        $('#name-filter').val('{{filters.get("title__icontains")}}');
    });
</script>
{% endif %}