<section class="container-fluid p1">
    <div class="events-banner"
         style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">

                {% if user and user.is_admin_or_business_profile %}
                <h4 class="pull-right"><a data-user-id="{{user.id}}" href="#" class="btn btn-primary" onclick="javascript: window.location.href='/add-edit/campsite'">Add a Campsite/Resort</a></h4>
                {% endif %}
                <h2>Find, Connect and Experience</h2>
                <h3>Search Campsites, Resorts, Home stays & Adventure Zones you may wanna visit!</h3>
                <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="fa fa-search"></i>&nbsp;Show Filters</a>

            </div>

        </div>
    </div>
</section>
<section class="collapse" id="collapseFilter">
    <br/>
    <div class="thumbnail container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>Search by applying specific filters</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">
                <input id="site-type-filter" data-model="campsite" data-filter="site_type__iexact" list="type-list" placeholder="FILTER BY TYPE">
                <datalist id="type-list">
                    <option value="">
                    {% for f in campsite_types %}
                    <option value="{{f}}">
                    {% endfor %}
                </datalist>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fitrangi-datalist">
                <input class="geo-complete" placeholder="SORT BY LOCATION" data-sorter="location" data-model="campsite">
                <form>
                    <input type="hidden" id="location-sorter-lat" name="lat" data-category="upcoming" data-model="trip" data-sorter="location_lat"/>
                    <input type="hidden" id="location-sorter-lng" name="lng" data-category="upcoming" data-model="trip" data-sorter="location_lng"/>
                    <input type="hidden" id="location-sorter-locality" name="locality_short" data-category="upcoming" data-model="trip" data-sorter="location_locality"/>
                    <input type="hidden" id="location-sorter-region2" name="administrative_area_level_2" data-category="upcoming" data-model="trip" data-sorter="location_region2"/>
                    <input type="hidden" id="location-sorter-region1" name="administrative_area_level_1" data-category="upcoming" data-model="trip" data-sorter="location_region1"/>
                    <input type="hidden" id="location-sorter-country" name="country_short" data-model="trip" data-category="upcoming" data-sorter="location_country"/>
                </form>
            </div>
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a data-model="campsite" data-filter-submit="search" href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">GO</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a data-model="campsite" data-filter-submit="reset"  href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">RESET</a>
                    </div>
                </div>

            </div>
    </div>
</section>
<section  id="model-container-section" class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#all" role="tab" data-toggle="tab" aria-controls="all" aria-expanded="false">
                        <span class="fa fa-home"></span> <strong>All Stays</strong></a></li>
                    {% if user and (user.is_campsite_owner or user.is_admin) %}<li class=""><a href="#my-campsites" role="tab" data-toggle="tab" aria-controls="my-campsites"
                            aria-expanded="false">
                        <span class="fa fa-certificate"></span> <strong>My Stays</strong> </a></li>{% endif %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="all" aria-labelledby="upcoming">
                    <div class="container fitrangi-trips">
                        {{ site_list|safe }}
                    </div>
                </div>
                {% if user and (user.is_campsite_owner or user.is_admin) %}
                <div role="tabpanel" class="tab-pane fade" id="my-campsites" aria-labelledby="my-trips">
                    <div class="container fitrangi-trips">
                        {% if user and (user.is_campsite_owner or user.is_admin) %}
                        <input id="my-campsite-filter" data-category="my-campsites" data-model="campsite" data-filter="host__profile__id" type="hidden" value="{{user.id}}" data-filter-status="fixed">
                        {{ my_campsites |safe }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

 <script>
     $('#activity-filter').val('');
     //$('#rangePrimary0').val('0');
     //$('#rangePrimary1').val('0');
     //$('price_start_filter').html('');
     //$('price_end_filter').html('');
    $(document).ready(function(){


        window.App.filter('name-filter');
        window.App.filter('activity-filter');
        window.App.filter('my-campsite-filter');
        window.App.sorter('location-sorter-lat');
        window.App.sorter('location-sorter-lng');
        window.App.sorter('location-sorter-locality');
        window.App.sorter('location-sorter-region2');
        window.App.sorter('location-sorter-region1');
        window.App.sorter('location-sorter-country');
    });
</script>
{% if filters.get('activities__activity__name') %}
  <script>
    $(document).ready(function(){
        $('#activity-filter').val('{{filters.get("activities__activity__name")}}');
    });
</script>
{% endif %}
{% if filters.get('name__icontains') %}
  <script>
    $(document).ready(function(){
        $('#name-filter').val('{{filters.get("name__icontains")}}');
    });
</script>
{% endif %}
