<section class="container-fluid p-0">
    <div class="events-banner"
         style="{{background_cover}}">
        <div class="container">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">

                <h2>#AdventureContest </h2>
                <h3>"If you want more luck, take more chances, be more active, show up more often" -Brian Tracy</h3>

            </div>

        </div>
    </div>
</section>

<section  id="model-container-section" class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#live" role="tab" data-toggle="tab" aria-controls="top-blogs" aria-expanded="false"><span class="fa fa-refresh"></span> <strong>Live</strong> </a></li>
                    <li><a href="#past" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false"> <span class="fa fa-bolt"></span> <strong>Past</strong></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="live" aria-labelledby="live">
                    <section class="container-fluid">
                        <input id="start-live-filter" type="hidden" data-model="contest" data-category="live" data-filter="start_date__lte" value="{{now}}" data-filter-status="fixed" />
                        <input id="end-live-filter" type="hidden" data-model="contest" data-category="live" data-filter="end_date__gte" value="{{now}}" data-filter-status="fixed" />
                        <div class="jumbotron help-info" data-category="live" data-model="contest">
                            <h5>There are no contests going on at the moment!</h5>
                        </div>
                        {{live|safe}}
                    </section>
                    <div class="text-center">
                        <h3>Upcoming Contests</h3>
                        <hr/>
                    </div>
                    <section class="container-fluid">
                        <input id="start-upcoming-filter" type="hidden" data-model="contest" data-category="upcoming" data-filter="start_date__gt" value="{{now}}" data-filter-status="fixed" />
                        <div class="jumbotron help-info" data-category="upcoming" data-model="contest">
                            <h5>There are no upcoming contests around the corner. Wait for amazing contests that we will bring to you!</h5>
                        </div>
                        {{upcoming|safe}}
                    </section>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="past" aria-labelledby="past">
                    <section class="container-fluid">
                        <input id="end-past-filter" type="hidden" data-model="contest" data-category="past" data-filter="end_date__lt" value="{{now}}" data-filter-status="fixed" />
                        <div class="jumbotron help-info" data-category="past" data-model="contest">
                            <h5>There are no past contests in history</h5>
                        </div>
                        {{past|safe}}
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        var App = window.App;
        //App.filter('admin-published-filter');
        App.filter('start-upcoming-filter');
        App.filter('start-live-filter');
        App.filter('end-live-filter');
        App.filter('end-past-filter');

    });
</script>
