<section class="container-fluid p1">
    <div class="events-banner"
         style="{{background_cover}}">
        <div class="container">
            <input id="admin-published-filter1" type="hidden" data-category="latest" data-model="discussion" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
            <input id="admin-published-filter2" type="hidden" data-category="featured" data-model="discussion" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
                <a data-user-id="{{user.id}}" data-action="add-discussion" href="#" class="btn btn-primary btn-lg  m-5 pull-right">Add a discussion</a>
                <h2>Forum and discussions</h2>
                <h4 class="white">"Knowledge multiplies when shared"</h4>
                <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="fa fa-search"></i>&nbsp;Show Tags</a>
                <input id="name-filter" data-filter="title__icontains" data-model="article" type="hidden">
            </div>
            <br/>

        </div>
    </div>
</section>

<section class="collapse" id="collapseFilter">
    <div class="thumbnail container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Search by specific channel or tag</h4>
        </div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fitrangi-tags-list">
                <h2>Featured Tag's</h2>
                <article class="text-center" id="channel-list">
                    <a href="/discussions">All</a>
                </article>
                <input id="channel-filter" type="hidden" data-model="discussion" data-filter="channels__channel__name"/>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: '/names?model_name=channel&attr=name&model_type=discussion'
                        }).done(function (data) {
                            var channel_list = data.split(',');
                            var channels = '';
                            for(var i = 0; i < channel_list.length; i++) {
                                if (channel_list[i] != null && channel_list[i].length > 0) channels += '<a href="/discussions?query=channels__channel__name:'+ channel_list[i]+ ';" >'+ channel_list[i]+ '</a>';
                            }
                            $('#channel-list').append(channels);
                        });
                    });
                </script>

                <hr class="divider">

                <article class="text-center" id="tag-list">
                    <a href="/discussions">All</a>
                </article>
                <input id="tag-filter" type="hidden" data-model="discussion" data-filter="tags"/>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: '/names?model_name=tag&attr=name&size=15&model_type=discussion'
                        }).done(function (data) {
                            var tag_list = data.split(',');
                            var tags = '';
                            for(var i = 0; i < tag_list.length; i++) {
                                if (tag_list[i] != null && tag_list[i].length > 0) tags += '<a href="/discussions?query=tags:'+ tag_list[i]+ ';" >'+ tag_list[i]+ '</a>';
                            }
                            $('#tag-list').append(tags);
                        });
                    });
                </script>

            </div>

    </div>
</section>

<section  id="model-container-section" class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#latest" role="tab" data-toggle="tab" aria-controls="top-blogs" aria-expanded="false"><span class="fa fa-refresh"></span> <strong>Latest</strong> </a></li>
                    <li><a href="#featured" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false"> <span class="fa fa-bolt"></span> <strong>Featured</strong></a></li>
                    <li><a href="#mystuff" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false"> <span class="fa fa-user"></span> <strong>My Discussions</strong></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="featured" aria-labelledby="featured">
                    <section class="container-fluid discussion">
                            {{featured|safe}}
                    </section>
                </div>
                <div role="tabpanel" class="tab-pane fade active in" id="latest" aria-labelledby="latest">
                    <section class="container-fluid mb-10 discussion">
                            {{latest|safe}}
                    </section>
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="mystuff" aria-labelledby="latest">
                    {% if user %}
                    <input id="my-discussion-filter" type="hidden" data-category="my" data-filter="author" data-model="discussion" value="{{user.id}}" data-filter-status="fixed"/>
                    <section class="container-fluid mb-10 discussion">
                            {{my|safe}}
                    </section>
                    {% else %}
                    <div class="jumbotron"><p>You must <a href="/login">login</a> first and add some blogs to see anything here.</p></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        var App = window.App;
        App.filter('name-filter');
        App.filter('channel-filter');
        App.filter('tag-filter');
        App.filter('admin-published-filter1');
        App.filter('admin-published-filter2');
        App.filter('my-discussion-filter');

    });
</script>
{% if filters.get('channels__channel__name') %}
  <script>
    $(document).ready(function(){
        $('#channel-filter').val('{{filters.get("channels__channel__name")}}');
    });
</script>
{% endif %}
 {% if filters.get('tags') %}
  <script>
    $(document).ready(function(){
        $('#tag-filter').val('{{filters.get("tags")}}');
    });
</script>
{% endif %}
{% if filters.get('title__icontains') %}
  <script>
    $(document).ready(function(){
        $('#name-filter').val('{{filters.get("title__icontains")}}');
    });
</script>
{% endif %}
