<section class="container-fluid p-0">
    <div class="events-banner"
         style="background:  linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(/images/events-banner.jpg) no-repeat center center;background-size: cover;">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">

                {% if not user or user.is_admin %}<h4 class="pull-right"><a href="/add-edit/event" class="btn btn-primary">Add An Event</a></h4>{% endif %}
                <h2>Events</h2>
                <h3>Adventure Fest, Meetups, Workshops, Seminars, Conferences & Much More</h3>

            </div>

        </div>
    </div>
</section>
<section  id="model-container-section" class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#upcoming" role="tab" data-toggle="tab" aria-controls="upcoming" aria-expanded="false">
                        <span class="fa fa-home"></span> <strong>Upcoming Events</strong></a></li>
                    <li><a href="#past" role="tab" data-toggle="tab" aria-controls="past" aria-expanded="false">
                        <span class="fa fa-certificate"></span> <strong>Past Events</strong></a></li>
                    <!--li><a href="#my-events" role="tab" data-toggle="tab" aria-controls="my-events" aria-expanded="false">
                        <span class="fa fa-certificate"></span> <strong>My Events</strong></a></li-->
                </ul>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="upcoming" aria-labelledby="all">
                    <h3>Featured</h3>
                    <div class="container fitrangi-trips">
                        <input id="featured-upcoming-event-filter" data-category="featured-upcoming" data-model="event" data-filter="scheduled_date__gt" type="hidden" value="{{now}}" data-filter-status="fixed">
                        <input id="featured-event-filter" data-category="featured-upcoming" data-model="event" data-filter="featured" type="hidden" value="bool|True" data-filter-status="fixed">
                        <input id="featured-admin-published-event-filter" data-category="featured-upcoming" data-model="event" data-filter="admin_published" type="hidden" value="bool|True" data-filter-status="fixed">
                        {{featured_upcoming_events_list|safe}}
                    </div>
                    <h3>All Events</h3>
                    <div class="container fitrangi-trips">
                        <input id="upcoming-event-filter" data-category="upcoming" data-model="event" data-filter="end_date__gt" type="hidden" value="{{now}}" data-filter-status="fixed">
                        <input id="non-featured-event-filter" data-category="upcoming" data-model="event" data-filter="featured__ne" type="hidden" value="bool|True" data-filter-status="fixed">
                        <input id="admin-published-event-filter" data-category="upcoming" data-model="event" data-filter="admin_published" type="hidden" value="bool|True" data-filter-status="fixed">
                        {{upcoming_events_list|safe}}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="past" aria-labelledby="new">
                    <div class="container fitrangi-trips">
                        <input id="past-event-filter" data-category="past" data-model="event" data-filter="end_date__lte" type="hidden" value="{{now}}" data-filter-status="fixed">
                        {{past_events_list|safe}}
                    </div>
                </div>
                {% if user and user.id %}
                <div role="tabpanel" class="tab-pane fade" id="my-events" aria-labelledby="my-events">
                    <div class="container fitrangi-trips">
                        <input id="my-events-filter" data-category="my-events" data-model="event" data-filter="organizer__profile__id" type="hidden" value="{{user.id}}" data-filter-status="fixed">
                        {#my_events_list|safe#}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

