<section class="container-fluid p1">
    <div class="events-banner"
         style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
                {%if user %}
                    <a data-user-id="{{user.id}}" href="#" class="btn btn-primary btn-lg m-5 pull-right" onclick="javascript: window.location.href='/add-edit/gear'">Add a Product / Gear</a>
                {% endif %}
                <h2>Buy, Sell & Rent Adventure Gears & Equipments</h2>
                <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="fa fa-search"></i>&nbsp;Show Filters</a>
                <input id="name-filter" data-filter="name__icontains" data-model="gear" type="hidden">
            </div>
            <br/>

        </div>
    </div>
</section>

<section class="collapse" id="collapseFilter">
    <br/>
    <div class="thumbnail container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h4>Search by applying specific filters</h4>
        </div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 fitrangi-datalist">
                <input class="geo-complete" placeholder="SORT BY LOCATION" data-sorter="location" data-model="gear">
                <form>
                    <input type="hidden" id="location-sorter-lat" name="lat" data-model="gear" data-sorter="location_lat"/>
                    <input type="hidden" id="location-sorter-lng" name="lng" data-model="gear" data-sorter="location_lng"/>
                    <input type="hidden" id="location-sorter-locality" name="locality_short" data-model="gear" data-sorter="location_locality"/>
                    <input type="hidden" id="location-sorter-region2" name="administrative_area_level_2" data-model="gear" data-sorter="location_region2"/>
                    <input type="hidden" id="location-sorter-region1" name="administrative_area_level_1" data-model="gear" data-sorter="location_region1"/>
                    <input type="hidden" id="location-sorter-country" name="country_short" data-model="gear" data-sorter="location_country"/>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 fitrangi-datalist fitrangi-datalist">
                <div class="form-group">
                    <input id="category-filter" data-model="gear" data-filter="category" list="category-list" placeholder="FILTER BY CATEGORY">
                    <datalist id="category-list">
                        <option value="">
                        {% for category in categories %}
                        <option value="{{category}}">
                        {% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 fitrangi-datalist">
                <div class="form-group">
                    <input id="condition-filter" data-model="gear" data-filter="condition" list="condition-list" placeholder="FILTER BY CONDITION">
                    <datalist id="condition-list">
                        <option value="">
                        <option value="Brand New">
                        <option value="Used Prouct">
                    </datalist>
                </div>
            </div>
             <div class="col-lg-offset-4 col-md-offset-4">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-model="gear" data-filter-submit="search" href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">GO</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a data-model="gear" data-filter-submit="reset"  href="#" class="btn btn-info blue-bg no-radius w-100 mt-15">RESET</a>
                </div>
            </div>


    </div>
</section>

<section  id="model-container-section" class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#used" role="tab" data-toggle="tab" aria-controls="all" aria-expanded="false">
                        <span class="fa fa-home"></span> <strong>For Renting</strong></a></li>
                    <li><a href="#new" role="tab" data-toggle="tab" aria-controls="new" aria-expanded="false">
                        <span class="fa fa-paperclip"></span> <strong>For Buying</strong></a></li>
                    {% if user %}<li class=""><a href="#my-gears" role="tab" data-toggle="tab" aria-controls="my-gears"
                            aria-expanded="false">
                        <span class="fa fa-certificate"></span> <strong>My Gears and Products</strong> </a></li>{% endif %}
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="used" aria-labelledby="used">
                    <div class="container fitrangi-trips">
                        <input id="used-gear-filter" data-category="used" data-model="gear" data-filter="available_for" type="hidden" value="RENTING" data-filter-status="fixed">
                        {{ used_gear_list|safe }}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="new" aria-labelledby="new">
                    <div class="container fitrangi-trips">
                        <input id="new-gear-filter" data-category="new" data-model="gear" data-filter="available_for" type="hidden" value="BUYING" data-filter-status="fixed">
                        {{ new_gear_list|safe }}
                    </div>
                </div>

                {% if user %}
                <div role="tabpanel" class="tab-pane fade" id="my-gears" aria-labelledby="my-trips">
                    <div class="container fitrangi-trips">
                        {% if user %}
                        <input id="my-gear-filter" data-category="my-gears" data-model="gear" data-filter="owner__profile__id" type="hidden" value="{{user.id}}" data-filter-status="fixed">
                        {{ my_gears |safe }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

 <script>
     $('#activity-filter').val('');
     //$('#rangePrimary0').val('0');
     //$('#rangePrimary1').val('0');
     //$('price_start_filter').html('');
     //$('price_end_filter').html('');
    $(document).ready(function(){


        window.App.filter('name-filter');
        window.App.filter('my-gear-filter');
        window.App.filter('new-gear-filter');
        window.App.filter('used-gear-filter');
        window.App.filter('category-filter');
        window.App.filter('condition-filter');
        window.App.sorter('location-sorter-lat');
        window.App.sorter('location-sorter-lng');
        window.App.sorter('location-sorter-locality');
        window.App.sorter('location-sorter-region2');
        window.App.sorter('location-sorter-region1');
        window.App.sorter('location-sorter-country');

    });
</script>
{% if filters.get('name__icontains') %}
  <script>
    $(document).ready(function(){
        $('#name-filter').val('{{filters.get("name__icontains")}}');
    });
</script>
{% endif %}
