<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/images/favicon.ico">

    <title>{% if title %}{{title}}{% else %}Fitrangi: India's complete adventure portal{% endif %}</title>



    {% assets filters="cssmin", output="app/packed.css", "css/bootstrap.css",
            "css/bootstrap-tagsinput.css", "css/font-awesome.min.css", "css/font-google1.css", "css/font-google2.css",
            "css/font-google3.css", "css/fotorama.css","css/bootstrap-dialog.min.css", "css/summernote.css", "css/summernote-bs3.css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% assets filters="cssmin", output="app/my.css", "css/my-style.css", "css/menus.css", "css/poplr-pro.css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}


    {% block header_scripts %}{% endblock %}
    {% block header_css %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>

</head>

<body data-logged-in-as="{% if user %}{{user.id}}{% else %}null{% endif %}" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/images/login-banner.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

<div class="wrap-site">
    <div id="fb-root"></div>
    <script src="/js/jquery.min.js"></script>
    {% assets filters="jsmin", output="app/my-lib.js",
        "appjs/editors/main.js", "appjs/editors/profile-edit.js", "appjs/editors/post-edit.js", "appjs/editors/content-edit.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="/appjs/login.js"></script>

    <script>

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=526533334116117";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
        if (d.getElementById(id))return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };
        return t;
    }(document, "script", "twitter-wjs"));


    </script>
    <br/>
    <br/>
    <br/>
    <br/>
    {{ card|safe }}
</div>


<footer class="container-fluid p-0">

    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">

        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <h3>About Fitrangi.com</h3>

            <p>Fitrangi.com aims at providing a cohesive platform to converge together Adventure community.</p>
            <a href="" class="label label-default">About</a>
            <a href="" class="label label-default">Contact</a>
            <a href="" class="label label-default">Contribute</a>
            <a href="" class="label label-default">Advertise</a>
            <a href="" class="label label-default">Privacy</a>
            <a href="" class="label label-default">Terms</a>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h3>Need Help?</h3>
            <p>Write to us at <em><a href="mailto:info@fitrangi.com">go@fitrangi.com</a></em></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 social">
            <h3>Follow us</h3>
            <a href="https://www.facebook.com/Fitrangi" class="fa fa-facebook-square" title="Facebook" target="_blank"></a>
            <a href="https://twitter.com/FitRangi" class="fa fa-twitter-square" title="Twitter" target="_blank"></a>
            <a href="#" class="fa fa-rss-square" title="RSS" target="_blank"></a>
            <a href="https://plus.google.com/115019600318035585202/posts" class="fa fa-google-plus-square"  title="Google Plus" target="_blank"></a>
            <a href="https://www.youtube.com/user/Fitrangi" class="fa fa-youtube-square" title="Youtube"  target="_blank"></a>

            <p>By Continuing past this page, you agree to Terms of Service.<br>
                All trademarks are properties of their respective owners.</p>
            <p>&copy;2015 Fitrangi<sup>TM</sup>. All rights reserved.</p>

        </div>


    </section>

    <img id="loadingImage" class="exactCenter" src="{{url_for('static', filename='img/loading.gif')}}"/>
</footer>


<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places'></script>
<script src="{{url_for('static', filename='js/bootstrap-dialog.min.js')}}"></script>
<script src="{{url_for('static', filename='js/css3-mediaqueries.js')}}"></script>
<script src="{{url_for('static', filename='js/respond.min.js')}}"></script>
<script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
<script src="{{url_for('static', filename='js/modernizr.custom.85647.js')}}"></script>
<script src="{{url_for('static', filename='js/fotorama.js')}}"></script>
<script src="{{url_for('static', filename='js/summernote.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap-tagsinput.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.geocomplete.min.js')}}"></script>
<script src="{{url_for('static', filename='js/autobahn.min.jgz')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.js')}}"></script>
<!-- Bootstrap core JavaScript
-->

{% assets filters="jsmin", output="app/my-handler.js",
    "appjs/handler.js", "appjs/async.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<!--
<script src="/appjs/handler.js"></script>
<script src="/appjs/async.js"></script>
-->

<script>
    $(function () {
        $('#loadingImage').hide();
        $('li.inner-level-dropdown>a').on('click', function (event) {
            event.stopPropagation();
            $('li.inner-level-dropdown').removeClass('open');
            $(this).parent().toggleClass('open');
        });
        $('body').on('click', function (e) {
            if (!$('li.dropdown').is(e.target)
                    && $('li.dropdown').has(e.target).length === 0
                    && $('.open').has(e.target).length === 0
                    ) {
                $('li.dropdown').removeClass('open');
            }
        });

    });

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-59043882-1', 'auto');
    ga('send', 'pageview');



</script>
{% block footer_scripts %}{% endblock %}
</body>
</html>
