<div class="well well-sm">
    <a href="{{model.slug}}" title="{{model.name}}"><img src="{{model.icon_image_path_small}}" class="p-5" style="width: 120px; height: 120px;"></a>
    <div class="text-center light blue">{{model.title|upper}}</div>
</div>

