<section class="col-lg-12 col-xs-12 user-post thumbnail">
    <div class="container-fluid media" style="margin-top:0px;">
        <div class="media-left">
            <a href="{{model.author.slug}}"><img src="{{model.author.cover_image_path_small}}" class="img-rounded" width="48"></a>
        </div>
        <div class="media-body">
            <h3><a href="{{model.author.slug}}" style="color:#00C4A6;">{% if model.author and model.author.name %}{{model.author.name}}{% else %}Anonymous{% endif %}</a></h3>
            <h5>
                <i class="fa fa-map-marker"></i> {% if model.author.location %}{{model.author.location }}{% else %}Unknown{% endif %}
                <small class="pull-right">Posted {{model.since}}</small>
            </h5>
        </div>
        {% if model.author.id == user.id %}
        <div class="media-right">
             <a href="#" data-action="delete-post" data-model-id="{{model.id}}" data-user-id="{{user.id}}" data-author-id="{{model.author.id}}" class="close">&times;</a>
        </div>
        {% endif %}
    </div>
    <div data-model-id="{{model.id}}" data-container="comments" class="post-content container-fluid">
        {% if model.video_embed and model.video_embed|length > 0 %}
        <article>{{model.video_embed}}</article>
        <hr/>
        {% endif %}
        {% if model.cover_image and model.cover_image_path|length > 0 %}
        <article><img class="" src="{{model.cover_image_path}}" width="100%"/></article>
        <hr/>
        {% endif %}
        <article class="" data-content-view="complete" data-model-id="{{model.id}}">
            {{ model.process_content|safe }}
        </article>
        <br/>
        <br/>
        <!--article class="row">
            {#% for indx in xrange(model.gallery_size) %#}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="#" target="_blank">
                    <img src="{{model.gallery_image_path}}{{indx}}" class="img-responsive img-thumbnail">
                </a>
            </div>
            {#% endfor %#}
        </article-->
        <article class="">
            {% if user %}
                {% if model.voted(user.id, True) %}
                    <button data-model-id="{{model.id}}" data-user-id="{{ user.id }}" data-action="unvote_up" class="btn btn-default btn-noti blue" type="button"><i class="fa fa-thumbs-o-up"></i> <span class="noti-badge">{{model.up_votes}}</span></button>
                {% elif model.voted(user.id, False) %}
                    <button class="btn btn-default btn-noti disabled" type="button"><i class="fa fa-thumbs-o-up"></i> <span class="noti-badge">{{model.up_votes}}</span></button>
                {% else %}
                    <button data-model-id="{{model.id}}" data-user-id="{{ user.id }}" data-action="vote_up" class="btn btn-default btn-noti" type="button"><i class="fa fa-thumbs-o-up"></i> <span class="noti-badge">{{model.up_votes}}</span></button>
                {% endif %}
                {% if model.voted(user.id, False) %}
                    <button data-model-id="{{model.id}}" data-user-id="{{ user.id }}" data-action="unvote_down" class="btn btn-default btn-noti blue" type="button"><i class="fa fa-thumbs-o-down"></i> <span class="noti-badge">{{model.down_votes}}</span></button>
                {% elif model.voted(user.id, True) %}
                    <button class="btn btn-default btn-noti disabled" type="button"><i class="fa fa-thumbs-o-down"></i> <span class="noti-badge">{{model.down_votes}}</span></button>
                {% else %}
                    <button data-model-id="{{model.id}}" data-user-id="{{ user.id }}" data-action="vote_down" class="btn btn-default btn-noti" type="button"><i class="fa fa-thumbs-o-down"></i> <span class="noti-badge">{{model.down_votes}}</span></button>
                {% endif %}
             {% else %}
                <button class="btn btn-default btn-noti" type="button"><i class="fa fa-thumbs-o-up"></i> <span class="noti-badge">{{model.up_votes}}</span></button>
                <button class="btn btn-default btn-noti" type="button"><i class="fa fa-thumbs-o-down"></i> <span class="noti-badge">{{model.down_votes}}</span></button>
            {% endif %}
            <button class="btn btn-default btn-noti" type="button"><i class="fa fa-comment-o"></i> <span class="noti-badge">{{model.comments|length}}</span></button>
            <button class="btn btn-default pull-right" type="button"><i class="fa fa-share-square-o"></i></button>
        </article>
        {% if user %}
        <article class="write-comment media box-sizing-content">
            <img src="{{user.cover_image_path}}" class="img-circle img-responsive pull-left p-5" width="60" height="100">

            <div class="media-body">
                <textarea data-model-id="{{model.id}}" data-user-name="{{user.name}}" data-user-id="{{user.id}}" data-user-slug="{{user.slug}}" data-user-cover="{{user.cover_image_path}}" data-comment-text="1" class="form-control no-radius" rows="1" placeholder="Write Comment.."></textarea>
            </div>
        </article>
        {% else %}
        <hr class="user-post-divider clearfix"/>
        {% endif %}
        {% for comment in model.comments %}
            <article class="media inner-comment" data-model-id="{{model.id}}" data-comment="comment" data-comment-number="{{loop.index}}">
                <div class="media-left">
                    <img src="{{comment.author.cover_image_path}}" class="img-circle" width="48" height="48">
                </div>
                <div class="media-body">
                    <h5 class="username">{{comment.author.name}}<small class="pull-right"> Replied {{comment.since}}</small></h5>

                    <p>{{comment.process_content|safe}}</p>

                    <div class="container-fluid">
                        <!--a href="" class="btn btn-link"><i class="fa fa-heart-o"></i> Like </a>
                        <a href="" class="btn btn-link"><i class="fa fa-comment-o"></i> Reply </a-->
                    </div>
                </div>
            </article>
        {% endfor %}
        <div data-model-id="{{model.id}}" data-separator="1"></div>
    </div>
    <script>
        $(document).ready(function () {

            var App = window.App;
            var editor = App.post;


            var model = '{{ model.id }}';

            $('[data-model-id="'+model+'"][data-comment-text="1"]').on('keypress', function (event) {
                if (event.which != 13) {
                    return;
                }
                event.stopPropagation();

                var target = $(event.target);
                var model_id = target.attr('data-model-id');
                if (!model_id == model) {
                    return;
                }
                var user_id = target.attr('data-user-id');
                var user_slug = target.attr('data-user-slug');
                var user_pic = target.attr('data-user-cover');
                var author_name = target.attr('data-user-name');
                var content = target.val();
                var comment_view = '<article class="media inner-comment" data-model-id="'+model_id+'" data-comment="comment" data-comment-number="0">'
                +' <div class="media-left">'
                + '<img src="' +user_pic + '" class="img-circle" width="48" height="48">'
                + '</div>'
                + '<div class="media-body">'
                + '<h5 class="username">'+author_name+'</h5>'
                + '<p>'+ content +'</p>'
                + '<div class="container-fluid">'
                + '<a href="" class="btn btn-link"><i class="fa fa-heart-o"></i> Like </a>'
                + '<a href="" class="btn btn-link"><i class="fa fa-comment-o"></i> Reply </a>'
                + '</div>'
                + '</div>'
                + '</article>';

                editor.comment(model_id, content, function(data){
                    target.val('');
                    if (data.status == 'success') {
                        $('[data-model-id="' + model_id + '"][data-container="comments"]').append(comment_view);
                    }
                });
            });

        });
    </script>
</section>
<hr class="divider clearfix"/>
