{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
    <table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
        <tr>
            <td valign="top" class="textContent">
                <p>Someone just posted a response to your content. You can view it <a href="http://www.fitrangi.com/{% if model %}{{model.slug}}{% endif %}" target="_blank">here</a></p>
            </td>
        </tr>
    </table>
{% endblock %}
