{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
    <table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
        <tr>
            <td valign="top" class="textContent">
                <p>{% if content %}{{content.manager.name}}{% endif %} has posted content <strong>{% if content %}{% if content.title %}"{{ content.title }}"{% else %}"{{content.name}}"{% endif %}{% endif %}</strong> on fitrangi website.</p>

            </td>
        </tr>
    </table>
{% endblock %}
