{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
    <table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
        <tr>
            <td valign="top" class="textContent">
                You have posted content <strong>{% if content %}{% if content.title %}"{{ content.title }}"{% else %}"{{content.name}}"{% endif %}{% endif %}</strong> on fitrangi website. We will keep you updated with comments on the site as and when they arrive.
            </td>
        </tr>
    </table>
{% endblock %}
