{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
<table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
    <tr>
        <td valign="top" class="textContent">
            You have been favorited by {% if adder %}{{ adder.name }}{% endif %} on Fitrangi.com.
        </td>
    </tr>
</table>
{% endblock %}
