{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
<table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
    <tr>
        <td valign="top" class="textContent">
            <p>{% block message %}{% endblock %}</p>
        </td>
    </tr>
</table>
{% block not_admin %}{% endblock %}
{% endblock %}
