{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
<table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
    <tr>
        <td valign="top" class="textContent">
            <p>You have issued a password reset. Your new password is given below.</p>
            <p style="padding: 20px; text-align: center; background: darkgrey; color: white;">{{password}}</p>
        </td>
    </tr>
</table>
{% endblock %}

