{% extends 'notifications/generic_mail_template.html'%}
{% block body %}
<table align="Left" border="0" cellpadding="0" cellspacing="0" width="550" class="flexibleContainer">
<tr>
    <td valign="top" class="textContent">
        <p>Thank you for subscribing with <a href="http://www.fitrangi.com">Fitrangi.com</a>. We will keep you updated with latest updates on the portal.</p>
    </td>
</tr>
</table>
{% endblock %}
