<section class="container-fluid p1">
    <div class="adventure-banner" style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 season text-right primary">
                {% if model.best_season|length > 0 %}
                <h3>Best Season : </h3>
                {% for best_season in model.best_season %}
                <span class="label label-danger">{{best_season}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <section class="container carousel-caption">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adventure-heading">
                    <h2>{{model.name}}</h2>

                    <article>
                        <h4>
                            {% set reviews_count = model.reviews_count %}
                            {% if reviews_count > 0 %}
                                {{reviews_count}} Review{% if reviews_count > 1 %}s{% endif %}
                            {% endif %}
                        </h4>
                    </article>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                    <h4>
                        {% if model.location %}
                        <i class="fa fa-map-marker"></i>&nbsp;
                        {{ model.location }}
                        {% elif model.optional_location_name %}
                        <i class="fa fa-map-marker"></i>&nbsp;
                        {{model.optional_location_name}}
                        {% endif %}
                    </h4>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <ul class="nav nav-pills nav-justified">
                        <li>
                            {% if not model in user.accomplished_campsite %}
                            <a href="#" data-action="add-campsite-accomplished" data-model-id="{{model.id}}"
                               data-user-id="{{user.id}}"><span class="fa fa-flag"></span>&nbsp;Done this</a>
                            {% else %}
                            <a href="#" data-action="remove-campsite-accomplished" data-model-id="{{model.id}}"
                               data-user-id="{{user.id}}"><span class="fa fa-flag green"></span>&nbsp;Undo this</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if True and not model in user.wish_list_campsite %}
                            <a href="#" data-action="add-campsite-wishlist" data-model-id="{{model.id}}"
                               data-user-id="{{user.id}}"><span class="fa fa-list"></span> Add to Wishlist</a>
                            {% else %}
                            <a href="#" data-action="remove-campsite-wishlist" data-model-id="{{model.id}}"
                               data-user-id="{{user.id}}"><span class="fa fa-list yellow"></span> Wishlisted </a>
                            {% endif %}
                        </li>
                        <li><a href="#review_post"><span class="fa fa-edit"></span> Write Review</a></li>
                    </ul>

                </div>


            </section>


        </div>


    </div>
</section>
{% if user and (model.host.id == user.id) %}
    {% set user_is_owner = True %}
{% else %}
    {% set user_is_owner = False %}
{% endif %}
<section class="container border-grey-b text-right p-10 mb-20">


</section>

<section class="container adventure-trips-content">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">

        <article class="col-xs-12 col-md-12 tab-details">
            <div class="fotorama thumbnail" data-nav="thumbs">
                {% set media_gallery = model.media_gallery_path %}
                {% if media_gallery|length > 0 %}
                {% for p in model.media_gallery_path %}
                <a href=""><img src="{{p}}"></a>
                {% endfor %}
                {% else %}
                {% if user and user.id == model.host.id %}
                <a href=""><img src="/images/upload-gallery.jpg"></a>
                {% else %}
                <a href=""><img src="/images/no-gallery.jpg"></a>
                {% endif %}
                {% endif %}

            </div>
        </article>


    </div>
    <!--col7-close-->

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

        <div class="row box-bg">

            <div class="heading">
                <h4>Your Host</h4>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10">
                <div class="media">
                    <div class="media-left">
                        <a href="{{model.host.slug}}"><img class="media-object" data-src="holder.js/74x74"
                                                               alt="74x74" src="{{model.host.cover_image_path}}"
                                                               data-holder-rendered="true"
                                                               style="width: 74px; height: 74px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{model.host.slug}}">{{model.host.name}}</a></h4>
                        <h5>
                        {% if user and model.host.id == user.id and not model.host.location %}
                            <i class="fa fa-map-marker fs-22"></i> &nbsp;&nbsp; <a href="/edit-profile">Edit Location</a>
                        {% else %}
                            {% if model.host.location %}<i class="fa fa-map-marker fs-22"></i> {{model.host.location }}{% else %}{% endif %}&nbsp;&nbsp;
                        {% endif %}
                        &nbsp;&nbsp;
                        {% if user and model.host.id == user.id and not model.host.phone %}
                            <i class="fa fa-phone fs-22"></i> &nbsp;&nbsp; <a href="/edit-profile">Edit Phone</a>
                        {% else %}
                            {% if model.host.phone %}<i class="fa fa-phone fs-22"></i> {{model.host.phone }}{% endif %}
                        {% endif %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10 text-center">
                {% if user_is_owner %}
                    <button data-user-id="{{user.id}}" data-model-id="{{model.id}}" class="btn btn-default btn-edi blue" type="button" onclick="javascript: window.location.href='/add-edit/campsite?pk={{model.id}}'"><i class="fa fa-edit"></i>Edit</button>
                {% else %}
                    <a class="btn btn-primary" href="#book-now"><span class="fa fa-bookmark"></span>&nbsp;Send Enquiry</a>
                {% endif %}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10">
                <div class="sub-heading">
                    <h5>ACTIVITY</h5>
                </div>
                <center>
                    {% for activity in model.activities %}
                        {% if activity and activity.icon_image_path and activity.icon_image_path |length > 0 %}
                            <a href="{{activity.slug}}"><img src="{{activity.icon_image_path}}" class="img-thumbnail" width="64" alt="{{activity.name}}"></a>
                        {% endif %}
                    {% endfor %}
                </center>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10">
                <div class="sub-heading">
                    <h5>Highlights</h5>
                </div>
                <div class="container-fluid">
                    {% if model.highlights %}
                    <ul class="media-list">
                        {% for h in model.point_highlights() %}
                        <li><i class="fa fa-check-circle-o fa-22 green"></i>&nbsp;{{h}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>


            </div>
        </div>

    </div>


    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
        <div class="row-fluid adventure-trips-tabs">
            <ul class="nav nav-pills " role="tablist">
                {% if model.about and model.about|length > 0 %}
                <li class="active"><a href="#about-reviews" role="tab" data-toggle="tab" aria-controls="about-reviews"
                                      aria-expanded="false">
                    <strong>Overview</strong></a></li>
                {% endif %}

                {% if model.activities_details and model.activities_details|length > 0 %}
                <li class=""><a href="#activities" role="tab" data-toggle="tab" aria-controls="tariff"
                                aria-expanded="false">
                    <strong>Activities</strong> </a></li>
                {% endif %}
                {% if model.accommodations and model.accommodations|length > 0 %}
                <li class=""><a href="#accommodation" role="tab" data-toggle="tab" aria-controls="accommodation"
                                aria-expanded="false">
                    <strong>Accommodations</strong> </a></li>
                {% endif %}
                {% if model.tariff and model.tariff|length > 0 %}
                <li class=""><a href="#tariff" role="tab" data-toggle="tab" aria-controls="tariff"
                                aria-expanded="false">
                    <strong>Cost, Packages & Offers</strong> </a></li>
                {% endif %}
                {% if model.how_to_reach and model.how_to_reach|length > 0 %}
                <li class=""><a href="#how-to-reach" role="tab" data-toggle="tab" aria-controls="how-to-reach"
                                aria-expanded="false">
                    <strong>How to Reach</strong> </a></li>
                {% endif %}

            </ul>

            <!-- Tab content -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade active in" id="about-reviews" aria-labelledby="about-reviews">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="border-grey-b pb-5 oswald"><span class="fa fa-info grey fs-22"></span> About the
                            campsite</h4>

                        <div>{{ model.about|safe}}</div>
                    </div>
                    <hr class="clearfix"/>



                </div>
                <div class="tab-pane" id="activities">
                    <h3>Activities</h3>
                    <div>
                        {% if model.activities_details %}{{ model.activities_details|safe }}{% endif %}
                    </div>
                </div>
                <div class="tab-pane" id="tariff">
                    <h3>Tariff (COSTS)</h3>
                    <div>
                        {% if model.tariff %}{{ model.tariff|safe }}{% endif %}
                    </div>
                </div>
                <!-- End of Tab Pane -->

                <div class="tab-pane" id="accommodation">
                    <h3>Accommodations</h3>
                    <div>
                        {% if model.accommodations %}{{model.accommodations|safe}}{% endif %}
                    </div>
                </div>

                <div class="tab-pane fade" id="how-to-reach" aria-labelledby="how-to-reach">
                    <h4>How to Reach</h4>
                    {% if model.location %}
                        <h4 class="border-grey-b pb-5 oswald"><span class="fa fa-map-marker grey fs-22"></span>
                            {{model.location}}</h4>

                        <div class="tab-details">
                            <div class="thumbnail">
                                <center>
                                    <iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyC2G0kvBLJBEnBCUPf053z6mL5tgbWON5o&q={{model.location}}&zoom=7"
                                            width="60%" height="400" frameborder="0" style="border:0"></iframe>
                                </center>
                            </div>
                        </div>
                        <hr class="divider clearfix">
                    {% endif %}
                    {% if model.how_to_reach %}<div>{{ model.how_to_reach }}</div>{% endif %}
                </div>
            </div>
        </div>
        <br/>
        <hr class="clearfix"/>
        <br/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="heading">
                <h3>Reviews</h3>
            </div>
            <hr/>
            {% import 'site/includes/post_box.html' as post %}
            {{ post.show_post_form(model, 'review') }}
            <input type="hidden" id="review-filter" data-category="all"
                                   data-filter="parent__campsite__pk" data-model="post" value="{{model.id}}"
                                   data-filter-status="fixed"/>
            {{ reviews|safe }}
        </div>
    </div>
    <!--col7-close-->


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="row box-bg">
            <div id="book-now" class="heading">
                <h4>Send Enquiry</h4>
            </div>
            <h4 style="text-align: center;"><strong>"{{model.name}}"</strong></h4> <br>


            <div class="sub-heading">
                <h5 style="font-size:17px;">Fill these to let us connect you with the organiser</h5>
            </div>
            <form class="form-horizontal question-form">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-user"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.name and user.name|length > 0 %}
                        <input data-action-value="name" type="text" class="form-control" placeholder="your name"
                               value="{{user.name}}">
                        {% else %}
                        <input data-action-value="name" type="text" class="form-control" placeholder="your email">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-envelope"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.email and user.email|length > 0 %}
                        <input data-action-value="email" type="email" class="form-control" placeholder="your email"
                               value="{{user.email}}">
                        {% else %}
                        <input data-action-value="email" type="email" class="form-control" placeholder="your email">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-phone"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.phone and user.phone|length > 0 %}
                        <input data-action-value="phone" type="text" class="form-control"
                               placeholder="your phone number" value="{{user.phone}}">
                        {% else %}
                        <input data-action-value="phone" type="text" class="form-control"
                               placeholder="your phone number">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-comment"></i></label>

                    <div class="col-sm-10">
                        <textarea data-action-value="enquiry" class="form-control" placeholder="how can we help you"
                                  rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 "></label>

                    <div class="col-sm-10">
                        <strong>I Prefer:</strong> &nbsp;
                        <input data-action-value="contact-pref" class="checkbox-inline" type="checkbox" value="phone">
                        <span style="color: grey;"> Phone </span> &nbsp;
                        <input data-action-value="contact-pref" class="checkbox-inline" type="checkbox" value="email"
                               checked> <span style="color: grey;"> Email </span>
                    </div>
                </div>

                <button type="button" data-model="campsite" data-model-slug="{{model.slug}}" data-user-id="{{user.id}}"
                        data-model-id="{{model.id}}" data-action="send-enquiry"
                        class="btn btn-primary btn-block btn-sm">Send Enquiry
                </button>

            </form>
        </div>

        <div class="row fitrangi-trips">
            <div class="heading">
                <h4>Other Campsites</h4>
            </div>
            <input id="campsite-not-same-filter" type="hidden" data-category="other" data-model="campsite" data-filter="id__ne"
                   value="{{model.id}}"/>
            {{other_sites|safe}}
        </div>
    </div>
    <!--col5-close-->


</section>

<hr class="divider">

<script>
    $(document).ready(function () {
        var user = '{{user.id}}';
        var trip = '{{model.id}}';
        var App = window.App;
        if ($('#campsite-location-filter') != undefined) {
            App.filter('campsite-location-filter');
        }
        App.filter('campsite-not-same-filter');
        App.filter('review-filter');
    });
</script>
