<section class="container edit-business">

    <!-- col-lg-9 col-md-9 col-sm-12 col-xs-12 -->
    <div class="">
        <h2 class="title">Enter Site Information <small> (Fields marked with <span class="red">*</span> are compulsory)</small></h2>

        <form class="fitrangi-form">
            <div class="form-group">
                <label for="heading">Title<span class="red">*</span> </label>
                <input type="text" class="form-control" name="title" placeholder="Write Camspite Title" data-name="title" value="{%if model and model.name %}{{model.name }}{% endif %}">
                <input type="hidden" data-name="id" value="{%if model and model.id %}{{model.id}}{% endif %}">
                <input type="hidden" data-name="user" value="{% if model and model.host %}{{model.host.id}}{% elif user and user.id %}{{user.id}}{% endif %}">
            </div>
            <div class="form-group">
                <label for="heading">Select Type<span class="red">*</span> </label>
                <select data-name="site-type" class="form-control">
                    <option value="" {% if model or not model.site_type %}selected{% endif %}>--</option>
                    {% for site_type in ['Camp Site', 'Resort Or Lodge', 'Home Stay', 'Adventure Zone'] %}
                    <option value="{{ site_type }}" {% if model and model.site_type == site_type %}selected{% endif %}>{{ site_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <br/>
            <div class="form-group">

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="heading">
                                Location
                                <span class="red">*</span>
                                <p class="text-muted" style="font-size: 9pt;">
                                    (If you don't find your location in the list <a href="#" id="toggle-destination-link">Click Here</a>)
                                </p>
                            </label>
                            <input type="text" class="form-control geo-complete" value="{%if model and model.location %}{{model.location}}{% endif %}"/>
                            <input type="hidden" name="formatted_address" data-name="geo_location_name" value="{% if model.location  and model.location|length > 0 %}{{ model.location }}{% endif %}"/>
                            <input type="hidden" name="lat" data-name="geo_location_lat" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][0] }}{% endif %}"/>
                            <input type="hidden" name="lng" data-name="geo_location_long" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][1] }}{% endif %}"/>
                            <input type="hidden" name="locality_short" data-name="geo_city" value="{% if model.location and model.city %}{{ model.city }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_2" data-name="geo_region" value="{% if model.location and model.region %}{{ model.region }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_1" data-name="geo_state" value="{% if model.location and model.state %}{{ model.state }}{% endif %}"/>
                            <input type="hidden" name="country_short" data-name="geo_country" value="{% if model.location and model.country %}{{ model.country }}{% endif %}"/>
                        </div>
                    </div>
                </div>
                <div id="destination_toggleable" class="row" style="display: none;">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <label for="heading">Location is famous as?</label>
                        <input type="text" class="form-control" placeholder="Enter optional location name" data-name="optional_location_name" value="{%if model and model.optional_location_name %}{{model.optional_location_name}}{% endif %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="heading">Best Season</label>
                            <select class="form-control" data-name="best-season" multiple="multiple" sizes="12" style="height:100%;">
                                {% for month in ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']  %}
                                <option value="{{month}}" {% if model and month in model.best_season %}selected{% endif %}>{{month}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="heading">Highlights <small>(Bullet Points)</small></label>
                    <textarea class="form-control" rows="7" data-name="highlights"
                              placeholder="Write Pointwise features of the campsite...">{% if model and model.highlights %}{{model.highlights }}{% endif %}</textarea>
                </div>
                <div class="container">
                    <label for="heading">Available Activities At/Near The Site<span class="red">*</span> </label>

                    <div class="row-fluid">
                        {% for k in ['Land Activities', 'Water Activities', 'Air Activities'] %}
                        <div class="container">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><strong><u>{{k}}</u></strong></div>
                            {% for activity in activities.get(k, []) %}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <div class="checkbox">
                                    <p><input type="checkbox" data-name="activities" data-value="{{activity.id}}" {% if activity in model.activities %}checked{% endif %}> {{activity.name}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="container">
                            <br/>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span><u>Others, please specify</u></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input class="form-control" type="text" data-name="other-activities" placeholder="Enter activities separated by comma "/>
                            </div>
                        </div>
                    </div>
                    <br/>


                </div>
                <br/>
                <hr/>
                <br/>

                <div class="form-group">
                    <label for="heading">About<span class="red">*</span>&nbsp;&nbsp;<small>(Overview of the site)</small></label>
                    <textarea class="form-control summernote" rows="4" data-name="overview"
                              placeholder="Enter Brief About The Campsite...">{% if model and model.about %}{{model.about}}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label for="heading">Activities&nbsp;&nbsp;<small>(Write in detail)</small></label>
                    <textarea class="form-control summernote" rows="4" data-name="activities-details"
                              placeholder="Enter Brief More Details About Activities...">{% if model and model.activities_details %}{{model.activities_details}}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <label for="heading">Accommodations</label>
                    <textarea class="form-control summernote" rows="4" data-name="accommodations"
                              placeholder="Enter Brief About Accommodations...">{% if model and model.accommodations %}{{model.accommodations }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <label for="heading">Tariff (Cost, Packages & Offers)&nbsp;&nbsp;<small>(Cost, Packages & Offers)</small></label>
                    <textarea class="form-control summernote" rows="4" data-name="tariff"
                              placeholder="Enter Brief About Tariff and Costs...">{% if model and model.tariff %}{{model.tariff }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <label for="heading">How to Reach<small>(Routes, Fares, etc)</small></label>
                    <textarea class="form-control summernote" rows="4" data-name="how-to-reach"
                              placeholder="Enter Brief About How To Reach...">{% if model and model.how_to_reach %}{{model.how_to_reach}}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <label for="cover-image">Upload Cover Image <span class="red">*</span></label>
                    <div class="thumbnail">
                        <a href="#" data-action="cover-image-upload" title="Click to change"><img data-name="cover-image-display" src="{% if model.cover_image %}{{model.cover_image_path}}{% else %}http://placehold.it/1366x500{% endif %}" width="70%"/></a>
                        <div class="caption text-center">Click on the image to change(Optional)</div>
                    </div>
                    <input type="hidden" data-name="cover-image" value="{% if model.cover_image %}{{ model.cover_image_path }}{% endif %}"/>
                </div>
                <div class="form-group">
                    <div class="row" style="vertical-align: middle;">
                        <label for="heading" style="vertical-align: middle; height: 30px;">
                            Upload Gallery Images
                        </label>
                    </div>
                    <div id="media-gallery-uploads" class="container">
                        {% for mg in model.media_gallery %}
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6" data-container-selector="{{mg.id}}">
                            <div class="thumbnail"><img src="{{mg.image_path_small}}"/><div class="caption text-center"><a href="#"  data-type="saved" data-action="remove-image" data-selector="{{mg.id}}">Remove Image</a></div></div>
                        </div>
                        {% endfor %}
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6" data-container-selector="add-button">
                            <div class="thumbnail text-center">
                                <a href="#" data-action="media-gallery-upload"><i class="fa fa-plus-circle fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <hr/>
            <br/>

            <div class="form-group {% if model %}hide{% endif %}">
                <div class="checkbox">
                    <label>
                        <input data-name="toc" type="checkbox" {% if model %}checked{% endif %}> I accept the terms and conditions as per the agreement.<span class="red">*</span>
                    </label>
                </div>
            </div>

            <!--div class="form-group {% if model %}hide{% endif %}">
                <div class="checkbox">
                    <label>
                        <input data-name="is-manager" {% if model %}checked{% endif %} type="checkbox"> I am the administrator / manager / representative.<span class="red">*</span>
                    </label>
                </div>
            </div-->

            <form class="form-group">
                <button data-action="save-model" class="btn btn-primary">Submit</button>
            </form>

        </form>
    </div>
    <!--Col9 End-->


    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="row">


        </div>
    </div>
    <!--Col3 End-->

</section>

<script>
    $(document).ready(function(){
        var handle_success = function() {
            window.location.href='/campsites';
        };
        var handle_failure = function(message) {
            console.log('Handling failure:'  + message);
            BootstrapDialog.alert({
                title: 'Error message',
                message: message,
            });
        };

        $('body').on('click', '[data-action="save-model"]', function(e){


            var toc = $('[data-name="toc"]:checked');
            if (toc == undefined || toc.length == 0)  {
                BootstrapDialog.alert('Please accept the terms and then try again.');
                return;
            }


            var other_activities = $('[data-name="other-activities"]').val();
            var activities_details = $('[data-name="activities-details"]').val();
            var id = $('[data-name="id"]').val();
            var host = $('[data-name="user"]').val();
            var title = $('[data-name="title"]').val();
            var site_type = $('[data-name="site-type"]').val();
            var highlights = $('[data-name="highlights"]').val();

            if (host == undefined || host.length == 0) {
                BootstrapDialog.alert('Something is wrong when the host information is not there!!!');
                return;
            }

            if (title == undefined || title.length == 0) {
                BootstrapDialog.alert('Please select the title for campsite, it is mandatory field');
                return;
            }
            if (site_type == undefined || site_type.length == 0) {
                BootstrapDialog.alert('Please select the site type, it is mandatory field');
                return;
            }



            var location_name = $('[data-name="geo_location_name"]').val();
            var location_lat = $('[data-name="geo_location_lat"]').val();
            var location_lng = $('[data-name="geo_location_long"]').val();
            var location_city = $('[data-name="geo_city"]').val();
            var location_region = $('[data-name="geo_region"]').val();
            var location_state = $('[data-name="geo_state"]').val();
            var location_country = $('[data-name="geo_country"]').val();
            var optional_location_name = $('[data-name="optional_location_name"]').val();
            var $activities = $('[data-name="activities"]:checked');
            var activities = [];
            for (var i = 0; i < $activities.length; i++){
                activities.push($($activities[i]).attr('data-value'));
            }
            var cover_image = $('[data-name="cover-image"]').val();

            if (cover_image.length == 0) {
                BootstrapDialog.alert('Please select a cover image for the trip. This is mandatory.');
                return;
            }
            var $media_gallery_images = $('[data-name="media-gallery-image"]');
            var media_gallery_images = [];
            for (var i = 0; i < $media_gallery_images.length; i++){
                media_gallery_images.push($($media_gallery_images[i]).val());
            }
            var overview = $('[data-name="overview"]').val();
            var accommodations = $('[data-name="accommodations"]').val();
            var tariff = $('[data-name="tariff"]').val();
            var how_to_reach = $('[data-name="how-to-reach"]').val();

            if ((location_name== undefined || location_name.length == 0) && (optional_location_name == undefined || optional_location_name.length == 0)) {
                BootstrapDialog.alert('Please enter location of the site. This is mandatory.');
                return;
            }
            if (activities.length == 0 && (other_activities == undefined || other_activities.length==0)) {
                BootstrapDialog.alert('Please select atleast one activity. This is mandatory.');
                return;
            }
            if (overview== undefined || overview.length == 0) {
                BootstrapDialog.alert('Please enter information about the campsite in About field. This is mandatory.');
                return;
            }

            var data = {
                title: title,
                about: overview,
                location_name: location_name,
                location_lat: location_lat,
                location_lng: location_lng,
                location_city: location_city,
                location_region: location_region,
                location_state: location_state,
                location_country:location_country,
                optional_location_name: optional_location_name,
                price: '',
                activities: activities,
                activities_details: activities_details,
                cover_image: cover_image,
                media_gallery_images: media_gallery_images,
                how_to_reach: how_to_reach,
                accommodations: accommodations,
                tariff: tariff,
                host: host,
                site_type: site_type,
                price_on_request: false,
                other_activities: other_activities,
                highlights: highlights
            };

            if (id != undefined && id.length > 0){
                App.campsite.edit(id, data, function(data){
                    if (data.status == 'success') {
                        handle_success();
                    } else {
                        handle_failure(data.message);
                    }
                })
            } else {
                App.campsite.add(data, function(data){
                    if (data.status == 'success') {
                        handle_success();
                    } else {
                        handle_failure(data.message);
                    }
                })
            }

        });


        $('body').on('click', '[data-action="cover-image-upload"]', function(e){
            e.stopPropagation();e.preventDefault();
            var callback = function(url){
                $('[data-name="cover-image-display"]').attr('src', url);
                $('[data-name="cover-image"]').val(url);

            };
            App.image_upload_dialog(callback);
        });
        $('body').on('click', '[data-action="media-gallery-upload"]', function(e){
            e.stopPropagation();e.preventDefault();
            var callback = function(url){
                var container = $('<div/>');
                container.addClass('form-group');
                container.addClass('col-lg-3');
                container.addClass('col-md-3');
                container.addClass('col-sm-6');
                container.addClass('col-xs-6');

                var d = App.hashcode(url);
                container.attr('data-container-selector', d);
                var values = '<div class="thumbnail"><img src="' + url + '" width="70%"/><div class="caption text-center"><a href="#" data-action="remove-image" data-selector="' + d + '">Remove Image</a></div></div>';
                var ip = '<input type="hidden" data-name="media-gallery-image" value="' + url + '"/>';
                container.html(values + ip);
                $('[data-container-selector="add-button"]').before(container);
                //$('#media-gallery-uploads').prepend(container);

            };
            App.image_upload_dialog(callback);
        });

        $('body').on('click', '[data-action="remove-image"]', function(e){
            e.preventDefault();
            e.stopPropagation();
            var selector = $(this).attr('data-selector');
            if (selector != undefined && selector.length > 0 && $(this).attr('data-type') != 'saved'){
                $('[data-container-selector="' + selector + '"]').remove();
            } else {
                alert('Removing existing...');
                App.campsite.delete_media("", selector, function(data){
                    if (data.status=='success') {
                        BootstrapDialog.alert(data.message);
                        $('[data-container-selector="' + selector + '"]').remove();
                    } else {
                        BootstrapDialog.alert('Unable to delete the media');
                    }
                })
            }
        });

        var toggle_state = false;
        $('#toggle-destination-link').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            if (toggle_state == false){
                toggle_state = true;
                $('#destination_toggleable').show();
            } else {
                toggle_state = false;
                $('#destination_toggleable').hide();
            }
        });
        var current_price_value = undefined;
        current_price_value = $('[data-name="price"]').val();
        $('[data-name="price-on-request"]').on('change', function(e){
            e.stopPropagation();
            if($('[data-name="price-on-request"]:checked').val() == undefined){
                $('[data-name="price"]').removeClass('disabled');
                $('[data-name="price"]').val(current_price_value);
            } else {
                current_price_value = $('[data-name="price"]').val();
                $('[data-name="price"]').val('');
                $('[data-name="price"]').addClass('disabled');
            }
        });
    });
</script>

