<section class="container-fluid p-0">
    <div class="blogs-banner" style="{{background_cover}}">
        {% include 'site/includes/img-hider.html'%}
        <section class="container  blogs-heading">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>{{model.title}} </h2>
	            <div class="media">
                    <center><a href="{{model.author.slug}}"><img src="{{model.author.cover_image_path}}" class="img-circle text-center" width="48"></a></center>
                    <br/>
                    <h4>by {{model.author.name}}</h4>&nbsp;|&nbsp;
    	            <h4>{{model.since}}</h4>&nbsp;|&nbsp;
                    <h4>{{model.comments_count}}&nbsp;Comments</h4>&nbsp;|&nbsp;
                    <h4>{{model.views}}&nbsp;Views</h4>
                    {% if user %}<h6><a href="#" class="btn btn-link uppercase red" data-action="not-ok" data-model="discussion" data-model-id="{{model.id}}" data-user-id="{{user.id}}">Report as Not Ok</a></h6>{% endif %}
	            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">

                <div class="share-blog-bg text-center">
                    {% import 'site/includes/share-button.html' as share %}
                    {{ share.show(model.title, model.description, model.slug) }}
                </div>
            </div>
        </section>
    </div>
</section>
<hr class="clearfix divider"/>
<section class="container">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 blogs-content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fitrangi-tags-list">
            <article class="text-left">
                <span class="fs-20 pr-20 oswald middle">Posted in (Channels and Tags): </span>
                {% for channel in model.channels %}
                <a href="#">{{channel.name}}</a>
                {% endfor %}
                {% for tag in model.tags %}
                    <a href="#">{{tag}}</a>
                {% endfor %}
            </article>
        </div>
        <hr class="clearfix divider"/>
        {% if model.get_videos_list() %}
        <div class="col-sm-12 thumbnail">{{model.get_videos_list()|safe}}</div>
        <hr/>
        {% endif %}
        {{model.process_content|safe}}
        <hr/>

        <input id="post-filter" type="hidden" data-model="post" data-category="all" data-filter="parent__discussion__pk" value="{{model.id}}"/>
        <div class="">
            {% import 'site/includes/post_box.html' as post %}
            {{ post.show_post_form(model, 'comment') }}
            {{ comments|safe }}
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h4 class="lightgrey">Sponsored</h4>


        <section class="row sponsored-thumb">
            {{ advertisement_list|safe}}

        </section>
        <div class="discussion-bg text-center">
            <h3>Start a Discussion</h3>
            <h4>Connect | Share | Inspire</h4>
            <button  data-user-id="{{user.id}}" data-action="add-discussion" class="btn btn-primary btn-block btn-lg">Add Discussion</button>
        </div>
        <div class="discussion-bg text-center">
            <h3>Featured Discussions</h3>
            <div class="row discussion pl-5 pr-5">
                <input id="discussion-not-same-filter" type="hidden" data-category="all" data-model="discussion" data-filter="id__ne" value="{{model.id}}"/>
                <input id="admin-published-filter" type="hidden" data-cateogry="all" data-model="discussion" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
                {{ featured| safe }}
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        window.App.filter('post-filter');
        window.App.filter('discussion-not-same-filter');
        window.App.filter('admin-published-filter-filter');
    });

</script>
