<div class="{% block grid_size %}{% endblock %}">
  <div class="thumbnail">
        {% if model.cover_image_path and  model.cover_image_path|length > 0 %}
        <!--a href="{{model.slug}}"><img src="{{model.cover_image_path_small}}" alt="..."></a-->
        {% else %}
        <!--a href="{{model.slug}}"><img src="/images/discussion-banner.jpg" alt="..."></a-->
        {% endif %}
        <div class="caption">
    	    <h4><a href="{{model.slug}}">{{model.title}}</a></h4>
            <h5>by {{model.author.name}}<small>&nbsp;<br/>{{ model.since }}</small></h5>
        </div>
  </div>
</div>