<li id="{{model.id}}-container" class="media" style="margin-top:1px;">
    {% if model.author.id == user.id %}
        <a href="#" data-action="delete-discussion" data-model-id="{{model.id}}" data-user-id="{{user.id}}" data-author-id="{{model.author.id}}" class="close pull-right" title="delete">&times;&nbsp;</a>
        <a href="#" data-action="edit-discussion" data-model-id="{{model.id}}" data-user-id="{{user.id}}" data-author-id="{{model.author.id}}" class="close pull-right" title="edit"><span class="fa fa-pencil"></span>&nbsp;</a>
    {% endif %}
    <div class="media-left">
      <a href="#">
            {% if model.author and model.author.type and model.author.type|length > 0 and model.author.type[0].name == 'Enthusiast' %}
            <img class="media-object img-circle img-responsive p-10" src="{{ model.author.cover_image_path_small }}" width="78"  alt="...">
            {% else %}
            <img class="media-object img-responsive p-10" src="{{ model.author.cover_image_path_small }}" width="78"  alt="...">
            {% endif %}
      </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading"><a class="discussion-row-heading" href="{{model.slug}}" data-text-short="{{model.title_short}}" data-text-full="{{model.title}}"></a></h4>
    </div>

    <div class="media-right">
        <a href=""><span class="fa fa-comment"></span> {{model.comments_count}}</a>
        <a href=""><span class="fa fa-tag"></span> {% for t in model.tags%}{{t}}{% if not loop.last %}, {% endif %}{% endfor %}</a>
        <a class="">{{model.since}}</a>
    </div>
    <script>
        $(document).ready(function(){

        });
    </script>
</li>
