{% if user and (model.owner.id == user.id) %}
    {% set user_is_owner = True %}
{% else %}
    {% set user_is_owner = False %}
{% endif %}
<section class="container adventure-trips-content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <h2>{{model.name}}</h2>
        <hr class="clearfix"/>
    </div>
     <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
        <article class="col-xs-12 col-md-12 tab-details">
            <div class="fotorama thumbnail" data-nav="thumbs">
            {% set media_gallery = model.media_gallery_path %}
            {% if media_gallery|length > 0 %}
                {% for p in model.media_gallery_path %}
                    <a href=""><img src="{{p}}"></a>
                {% endfor %}
            {% else %}
                {% if user and user.id == model.owner.id %}
                <a href=""><img src="/images/upload-gallery.jpg"></a>
                {% else %}
                <a href=""><img src="/images/no-gallery.jpg"></a>
                {% endif %}
            {% endif %}

            </div>
        </article>



     </div><!--col7-close-->

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

        <div class="row box-bg">

            <div class="heading">
                <h4>{% if model.currency == 'INR' %}Rs.{% else %}${% endif %}{{ model.price|int}}/-</h4>
            </div>

            <article>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <p class="dark-grey">
                                <strong class="dark-grey">Added on</strong>
                                {{ model.since }}
                            </p>
                        </div>
                    </div>
                    {% if model.location or model.option_location_name %}
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <p class="dark-grey"><strong>Location:</strong>&nbsp;{% if model.optional_location_name %}{{ model.optional_location_name }}{% else %}{{model.location }}{% endif %}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>

                            <p class="dark-grey"><strong class="dark-grey">Condition: </strong>{{ model.condition}}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>

                            <p class="dark-grey"><strong class="dark-grey">Available For: </strong>
                                {% for a in model.available_for %}
                                <span class="label label-warning">{{ a }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </article>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10">
                <div class="sub-heading">
                    <h5>SELLER</h5>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <a href="{{model.owner.slug}}"><img class="media-object" data-src="holder.js/74x74" alt="74x74" src="{{model.owner.cover_image_path}}"  data-holder-rendered="true"  style="width: 74px; height: 74px;"></a>
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="{{model.owner.slug}}">{{model.owner.name}}</a></h3>
                        <h5>
                        {% if user and model.owner.id == user.id and not model.owner.location %}
                            <i class="fa fa-map-marker fs-22"></i> &nbsp;&nbsp; <a href="/edit-profile">Edit Location</a>
                        {% else %}
                            {% if model.owner.location %}<i class="fa fa-map-marker fs-22"></i> {{model.owner.location }}{% endif %}&nbsp;&nbsp;
                        {% endif %}
                        &nbsp;&nbsp;
                        {% if user and model.owner.id == user.id and not model.owner.phone %}
                            <i class="fa fa-phone fs-22"></i> &nbsp;&nbsp; <a href="/edit-profile">Edit Phone</a>
                        {% else %}
                            {% if model.owner.phone %}<i class="fa fa-phone fs-22"></i> {{model.owner.phone }}{% endif %}
                        {% endif %}
                        </h5>
                    </div>
                </div>
                <hr class="clearfix"/>
                <div class="text-center">
                    <a href="#book-now" class="btn btn-primary"><i class="fa fa-bookmark"></i> Send Enquiry</a>
                    {% if model.external_link %}<a href="{{model.external_link}}" target="blank" class="btn btn-primary"><i class="fa fa-web"></i> Buy Now</a>{% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
        <div class="container-fluid">
        <hr class="clearfix"/>
        <div class="fitrangi-trips">
            <div class="heading">
                <h4 style="text-align: left;">Description</h4>
            </div>
            {% if model.description %}{{ model.description|safe }}{% endif %}
        </div>
        <hr class="clearfix"/>

        <div class="fitrangi-trips">
            <div class="heading">
                <h4 style="text-align: left;">Reviews</h4>
            </div>
            {% import 'site/includes/post_box.html' as post %}
            {{ post.show_post_form(model, 'review') }}
            <input type="hidden" id="discussion-filter" data-category="all" data-filter="parent__gear__pk" data-model="post" value="{{model.id}}" data-filter-status="fixed"/>
            {{ reviews|safe }}
        </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">


        <div class="row box-bg">
            <div class="heading">
                <h4>Safety Tips</h4>
            </div>

            <ul class="media-list"  style="max-height: 300px; overflow: auto">
                <li>
                    <p><i class="fa fa-check-circle-o fa-2x green"></i> Be careful when giving out personal details</p>
                    <p><i class="fa fa-check-circle-o fa-2x green"></i> The quality of product is buyers responsibility.</p>
                    <p><i class="fa fa-check-circle-o fa-2x green"></i> In case of doubt, contact the admin</p>
                </li>

            </ul>


        </div>
        <div class="row box-bg">
            <div class="text-center">
                <a href="#" data-action="not-ok" data-model="gear" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><i class="fa fa-exclamation-triangle orange"></i>&nbsp;&nbsp;REPORT THIS</a>
            </div>
        </div>
        <div class="row box-bg">
            <div class="heading">
                <h4 style="text-align: left;">More Gears</h4>
            </div>
            <input id="gear-not-same-filter" type="hidden" data-category="other" data-model="gear" data-filter="id__ne" value="{{model.id}}"/>
            {{other_gears|safe}}
        </div>

        <div class="row box-bg">
            <div id="book-now" class="heading">
                <h4>Send Enquiry</h4>
            </div>
            <h4 style="text-align: center;"><strong>"{{model.name}}"</strong></h4> <br>
            <p style="text-align: center; color: grey;">“**This gear/product is listed by the said fellow fitrangi at Fitrangi.com. Purchase and delivery will be executed by the owner and Fitrangi.com is just a promoting partner for it. “</p>


            <div class="sub-heading">
                <h5 style="font-size:17px;">Fill these to let us connect you with the organiser</h5>
            </div>
            <form class="form-horizontal question-form">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-user"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.name and user.name|length > 0  %}
                        <input data-action-value="name" type="text" class="form-control" placeholder="your name" value="{{user.name}}">
                        {% else %}
                        <input data-action-value="name" type="text" class="form-control" placeholder="your email">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-envelope"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.email and user.email|length > 0  %}
                        <input data-action-value="email" type="email" class="form-control" placeholder="your email" value="{{user.email}}">
                        {% else %}
                        <input data-action-value="email" type="email" class="form-control" placeholder="your email">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-phone"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.phone and user.phone|length > 0 %}
                        <input data-action-value="phone" type="text" class="form-control" placeholder="your phone number" value="{{user.phone}}">
                        {% else %}
                        <input data-action-value="phone" type="text" class="form-control" placeholder="your phone number">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-comment"></i></label>

                    <div class="col-sm-10">
                        <textarea  data-action-value="enquiry" class="form-control" placeholder="how can we help you" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 "></label>

                    <div class="col-sm-10">
                        <strong>I Prefer:</strong> &nbsp;
                      <input   data-action-value="contact-pref" class="checkbox-inline" type="checkbox"  value="phone"> <span style="color: grey;"> Phone </span> &nbsp;
                      <input   data-action-value="contact-pref" class="checkbox-inline" type="checkbox"  value="email" checked> <span style="color: grey;"> Email </span>
                    </div>
                </div>

                <button type="button" data-model="gear" data-model-slug="{{model.slug}}" data-user-id="{{user.id}}"
                        data-model-id="{{model.id}}" data-action="send-enquiry"
                        class="btn btn-primary btn-block btn-sm">Send Enquiry</button>

            </form>
        </div>

        <div class="row box-bg">
            <div class="heading">
                <h4>Add your gear/product</h4>
            </div>

            <ul class="media-list"  style="max-height: 300px; overflow: auto">
                <li>
                    <p><i class="fa fa-check-circle-o fa-2x green"></i> Would you like to sell your product/gears?</p>
                    <p><i class="fa fa-check-circle-o fa-2x green"></i> Would you like to rent your product/gears?</p>
                    <p><i class="fa fa-check-circle-o fa-2x green"></i> You can do that from here</p>
                </li>
            </ul>

            <div class="text-center">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript:window.location.href='/add-edit/gear';">Add Your Product/Gear </button>
            </div>
        </div>

    </div>
    <!--col5-close-->


</section>

<hr class="divider">

<script>
    $(document).ready(function(){
            var user = '{{user.id}}';
            var gear = '{{model.id}}';
            var App = window.App;
            App.filter('discussion-filter');
            App.filter('gear-not-same-filter');
    });
</script>
