<section class="container edit-business">

    <!-- col-lg-9 col-md-9 col-sm-12 col-xs-12 -->
    <div class="">
        <h2 class="title">Enter Gear Information<small> (Fields marked with <span class="red">*</span> are compulsory)</small></h2>

        <form class="fitrangi-form">
            <div class="form-group">
                <label for="heading">Title<span class="red">*</span> </label>
                <input type="text" class="form-control" name="title" placeholder="Write Gear/Product Title" data-name="title" value="{% if model and model.name %}{{model.name }}{% endif %}">
                <input type="hidden" data-name="id" value="{% if model and model.id %}{{model.id}}{% endif %}">
                <input type="hidden" data-name="user" value="{% if user and user.id %}{{user.id}}{% endif %}">
            </div>
            <div class="form-group">
                <label for="heading">Category<span class="red">*</span> </label>
                <select data-name="category" class="form-control">
                    <option value="" {% if model or not model.category %}selected{% endif %}>--</option>
                    {% for category in categories %}
                    <option value="{{ category }}" {% if model and model.category == category %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="heading">Condition </label>
                <select data-name="condition" class="form-control">
                    <option value="" {% if model or not model.condition %}selected{% endif %}>--</option>
                    <option value="Brand New" {% if model and model.condition=="Brand New" %}selected{% endif %}>Brand New</option>
                    <option value="Used Product" {% if model and model.condition=="Used Product" %}selected{% endif %}>Used Product</option>
                </select>
            </div>
            <div class="form-group">
                <label for="heading">Available For<span class="red">*</span></label>
                <select class="form-control" data-name="available-for">
                    <option value="BUYING" {% if model and ("BUYING" in model.available_for or model.available_for == "BUYING") %}selected{% endif %}>BUYING</option>
                    <option value="RENTING" {% if model and ("RENTING" in model.available_for or model.available_for == "RENTING") %}selected{% endif %}>RENTING</option>
                </select>
            </div>
            <div class="form-group">
                    <label for="heading">Amount<span class="red">*</span></label>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Enter Amount" data-name="price" value="{%if model and model.price %}{{model.price|int }}{% endif %}">
                        <a href="#" class="input-group-addon"><i class="fa fa-money-circle fa-inr"></i></a>
                    </div>
           </div>
            <div class="form-group">
                            <label for="heading">
                                Location
                                <span class="red">*</span>
                                <span style="font-size: 7pt;">(Select your product/gear location)</span>
                            </label>
                            <input type="text" class="form-control geo-complete" value="{%if model and model.location %}{{model.location}}{% endif %}"/>
                            <input type="hidden" name="formatted_address" data-name="geo_location_name" value="{% if model.location  and model.location|length > 0 %}{{ model.location }}{% endif %}"/>
                            <input type="hidden" name="lat" data-name="geo_location_lat" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][0] }}{% endif %}"/>
                            <input type="hidden" name="lng" data-name="geo_location_long" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][1] }}{% endif %}"/>
                            <input type="hidden" name="locality_short" data-name="geo_city" value="{% if model.location and model.city %}{{ model.city }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_2" data-name="geo_region" value="{% if model.location and model.region %}{{ model.region }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_1" data-name="geo_state" value="{% if model.location and model.state %}{{ model.state }}{% endif %}"/>
                            <input type="hidden" name="country_short" data-name="geo_country" value="{% if model.location and model.country %}{{ model.country }}{% endif %}"/>
            </div>
            <div class="form-group">
                <label for="heading">
                    Description
                    <span class="red">*</span>
                    <span style="font-size: 7pt;">(Details about your product/gear)</span>
                    </label>
                    <textarea class="form-control summernote" name="description" rows="4" data-name="description"
                              placeholder="Write Brief About The Gear/Product...">{% if model and model.description %}{{model.description}}{% endif %}</textarea>
            </div>

            <div class="form-group">
                    <div class="row" style="vertical-align: middle;">
                        <label for="heading" style="vertical-align: middle; height: 30px;">
                            Upload Product/Gear Photos<span class="red">*</span>
                        </label>
                    </div>
                    <div id="media-gallery-uploads" class="container">
                        {% for mg in model.media_gallery %}
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6" data-container-selector="{{mg.id}}">
                            <div class="thumbnail"><img src="{{mg.image_path_small}}"/><div class="caption text-center"><a href="#"  data-type="saved" data-action="remove-image" data-selector="{{mg.id}}">Remove Image</a></div></div>
                        </div>
                        {% endfor %}
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6" data-container-selector="add-button">
                            <div class="thumbnail text-center">
                                <a href="#" data-action="media-gallery-upload"><i class="fa fa-plus-circle fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="heading">
                    External Link
                    <span style="font-size: 7pt;">(Where online purchase is possible)</span>
                </label>
                <input type="text" class="form-control" placeholder="Enter External Link to the site hosting this product for sale" data-name="external-link" value="{%if model and model.external_link %}{{model.external_link }}{% endif %}">
            </div>
            <br/>
            <br/>
            <div class="form-group {% if model %}hide{% endif %}">
                <div class="checkbox">
                    <label>
                        <input data-name="toc" type="checkbox" {% if model %}checked{% endif %}> I accept the terms and conditions as per the agreement.<span class="red">*</span>
                    </label>
                </div>
            </div>

            <form class="form-group">
                <button data-action="save-model" class="btn btn-primary">Submit</button>
            </form>

        </form>
    </div>
    <!--Col9 End-->


    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    </div>
    <!--Col3 End-->

</section>

<script>
    $(document).ready(function(){

        var check_media_gallery = parseInt("{{ model.media_gallery|length }}");
        var handle_success = function() {
            window.location.href='/gears#my-gears';
        };
        var handle_failure = function(message) {
            console.log('Handling failure:'  + message);
            BootstrapDialog.alert({
                title: 'Error message',
                message: message,
            });
        };

        $('body').on('click', '[data-action="save-model"]', function(e){


            var toc = $('[data-name="toc"]:checked');
            if (toc == undefined || toc.length == 0)  {
                BootstrapDialog.alert('Please accept the terms and then try again.');
                return;
            }

            var id = $('[data-name="id"]').val();
            var owner = $('[data-name="user"]').val();
            var title = $('[data-name="title"]').val();
            var category = $('[data-name="category"]').val();
            var condition = $('[data-name="condition"]').val();
            var available_for = $('[data-name="available-for"]').val();
            var price = $('[data-name="price"]').val();
            var external_link = $('[data-name="external-link"]').val();

            if (title == undefined || title.length == 0) {
                BootstrapDialog.alert('Please enter title, it is mandatory field');
                return;
            }

            if (category== undefined || category.length == 0) {
                BootstrapDialog.alert('Please enter category, it is mandatory field');
                return;
            }

            if (price == undefined || price.length == 0) {
                BootstrapDialog.alert('Please enter price, it is mandatory field');
                return;
            }
            if (available_for == undefined || available_for.length == 0) {
                BootstrapDialog.alert('Please enter available for, it is mandatory field');
                return;
            }

            var location_name = $('[data-name="geo_location_name"]').val();
            var location_lat = $('[data-name="geo_location_lat"]').val();
            var location_lng = $('[data-name="geo_location_long"]').val();
            var location_city = $('[data-name="geo_city"]').val();
            var location_region = $('[data-name="geo_region"]').val();
            var location_state = $('[data-name="geo_state"]').val();
            var location_country = $('[data-name="geo_country"]').val();

            if (location_name== undefined || location_name.length == 0) {
                BootstrapDialog.alert('Please enter available from location, it is mandatory field');
                return;
            }

            var $media_gallery_images = $('[data-name="media-gallery-image"]');
            var media_gallery_images = [];
            for (var i = 0; i < $media_gallery_images.length; i++){
                media_gallery_images.push($($media_gallery_images[i]).val());
            }

            if (check_media_gallery == 0 && media_gallery_images.length == 0) {
                BootstrapDialog.alert('Please enter media gallery images, they are mandatory field');
                return;

            }
            var description = $('[data-name="description"]').val();
            if (description==undefined || description.length==0){
                BootstrapDialog.alert('Please enter product/gear description, they are mandatory field');
                return;

            }

            var data = {
                title: title,
                description: description,
                location_name: location_name,
                location_lat: location_lat,
                location_lng: location_lng,
                location_city: location_city,
                location_region: location_region,
                location_state: location_state,
                location_country:location_country,
                available_for: [available_for],
                category: category,
                price: price,
                external_link: external_link,
                media_gallery_images: media_gallery_images,
                condition: condition,
                owner: owner
            };

            if (id != undefined && id.length > 0){
                App.gear.edit(id, data, function(data){
                    if (data.status == 'success') {
                        handle_success();
                    } else {
                        handle_failure(data.message);
                    }
                })
            } else {
                App.gear.add(data, function(data){
                    if (data.status == 'success') {
                        handle_success();
                    } else {
                        handle_failure(data.message);
                    }
                })
            }

        });

        $('body').on('click', '[data-action="media-gallery-upload"]', function(e){
            e.stopPropagation();e.preventDefault();
            var callback = function(url){
                var container = $('<div/>');
                container.addClass('form-group');
                container.addClass('col-lg-3');
                container.addClass('col-md-3');
                container.addClass('col-sm-6');
                container.addClass('col-xs-6');

                var d = App.hashcode(url);
                container.attr('data-container-selector', d);
                var values = '<div class="thumbnail"><img src="' + url + '" width="70%"/><div class="caption text-center"><a href="#" data-action="remove-image" data-selector="' + d + '">Remove Image</a></div></div>';
                var ip = '<input type="hidden" data-name="media-gallery-image" value="' + url + '"/>';
                container.html(values + ip);
                $('[data-container-selector="add-button"]').before(container);
                //$('#media-gallery-uploads').prepend(container);

            };
            App.image_upload_dialog(callback);
        });

        $('body').on('click', '[data-action="remove-image"]', function(e){
            e.preventDefault();
            e.stopPropagation();
            var selector = $(this).attr('data-selector');
            if (selector != undefined && selector.length > 0 && $(this).attr('data-type') != 'saved'){
                $('[data-container-selector="' + selector + '"]').remove();
            } else {
                alert('Removing existing...');
                App.gear.delete_media("", selector, function(data){
                    if (data.status=='success') {
                        BootstrapDialog.alert(data.message);
                        $('[data-container-selector="' + selector + '"]').remove();
                    } else {
                        BootstrapDialog.alert('Unable to delete the media');
                    }
                })
            }
        });



    });
</script>
