<li class="nav col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <article class="fitrangi-profile">
        <h4><a href="#" class="pull-right">{% if model.currency == 'INR' %}<i class="fa fa-inr"></i>&nbsp;{{ model.price|int }}/-{% else %}USD {{model.price|int}}/- {% endif %}</a></h4>
        <a href="{{model.slug}}"><img src="{{model.media_gallery_single_path_small}}" class="pull-left" style="height:140px;width:140px;"></a>
        <h4><a href="{{model.slug}}">&nbsp;&nbsp;{% if model and model.name and model.name|length > 35 %}{{model.name[0:35]}}...{% elif model %}{{model.name}}{% else %}No Product Title{% endif %}</a></h4>
        <p class="sub-title">
            {% if user and model.owner.id == user.id %}
            <a href="#" data-user-id="{{user.id}}" data-model-id="{{model.id}}" class="btn btn-default btn-xs mt-10 grey pull-right" type="button" onclick="javascript: window.location.href='/add-edit/gear?pk={{model.id}}'"><i class="fa fa-edit"></i> Edit </a>
            {% endif %}
            <h5>&nbsp;&nbsp;<i class="fa fa-map-marker"></i>&nbsp;{% if model.location %}{{model.location}}{% else %}Location for product not given{% endif %}</h5>
            <h4><small>&nbsp;&nbsp;Added by:</small>&nbsp;{{model.owner.name}}</h4>
            <h6>&nbsp;&nbsp;<span class="label label-success">{{model.since}}</span>&nbsp;&nbsp;<span class="label label-info">{{model.condition}}</span></h6>
            <h6>&nbsp;&nbsp;{% for a in model.available_for %}<span class="label label-warning">{{ a }}</span>&nbsp;{% endfor %}</h6>
        </p>

    </article>
    <hr/>
</li>                <input id="name-filter" data-filter="name__icontains" data-model="trip" type="hidden">