<section class="container-fluid change-password">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <form class="form">
            <div class="form-group">
                <label for="heading">Please state the category for flagging<span class="red">*</span> </label>
                <select class="form-control" placeholder="" data-name="not-ok-option">
                    <option value="Other">Other</option>
                    <option value="Spam">Spam</option>
                    <option value="Misinformation">Incorrect information or misinformation</option>
                    <option value="Indecent">Indecency found</option>
                </select>
            </div>
            <div class="form-group">
                <label for="heading">Please state the reason why you consider it should be flagged</label>
                <textarea data-name="not-ok-message" class="form-control" placeholder="Enter details (optional)" rows="5"></textarea>
            </div>
       </form>
    </div>
</section>

