<section class="container-fluid change-password">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="form">
            <input type="hidden" id="profile-id" value="{{user.id}}"/>
            <div class="form-group">
                <label for="heading">Receive email from us</label>
                <input id="email-enabled-edit" type="checkbox" class="form-control" placeholder="Enter name" {% if user.email_enabled %}checked{% endif %}>
            </div>
            <div class="form-group">
                <label for="heading">Frequency of email</label><br/>
                <select class="form-control" id="email-frequency-edit">
                    <option value="daily" {% if user.email_frequency=='daily'%}selected{% endif %}>Daily</option>
                    <option value="weekly" {% if user.email_frequency=='weekly'%}selected{% endif %}>weekly</option>
                    <option value="monthly" {% if user.email_frequency=='monthly'%}selected{% endif %}>Monthly</option>
                </select>
            </div>
        </form>
    </div>
</section>


