<div class="form-inline">
    <div class="col-sm-11 col-xs-11 form-group">
        <input data-name="search-topic" type="text" class="form-control input-lg" placeholder="Search" style="min-width: 100%;"/>
    </div>
    <button data-action="search-content" class="form-control btn btn-primary btn-lg" type="button"><i class="fa fa-search"></i></button>
</div>
<script>
    $(document).ready(function(){

        var search = function(){
            var name = $('[data-name="search-topic"]').val();
            if (name == undefined || name.length == 0){
                return;
            }
            window.location.href="/search-all?query=name__icontains:" + name + ';';
        };

        $('[data-name="search-topic"]').on('keydown', function(event){
            if(event.keyCode==13){
                search();
            }
        });

        $('[data-action="search-content"]').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            search();
        });
    });
</script>
