{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}
{% block head_css %}
	{{ super() }}
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/summernote.css" rel="stylesheet">
{% endblock %}
{% block head_tail %}
    {{ super() }}
    <script src="/js/jquery.min.js"></script>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/bootstrap-dialog.min.css" rel="stylesheet" typ="text/css">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css">
    <!-- Google Maps Api -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            margin-top: 60px;
        }
    </style>

{% endblock %}

{% block page_body %}
    {% assets filters="jsmin", output="app/my-lib.js",
        "appjs/editors/main.js", "appjs/editors/profile-edit.js", "appjs/editors/post-edit.js", "appjs/editors/content-edit.js", "appjs/editors/trip-edit.js" %}
        <script type="text/javascript" src="{{cdn_url}}{{ ASSET_URL }}"></script>
    {% endassets %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">&nbsp;&nbsp;Fitrangi Manager</a>
        <ul class="nav">
            {{ layout.menu() }}
            {{ layout.menu_links() }}
        </ul>
        <ul class="nav pull-right">
            <li><a href="/user-csv-download">Download User CSV</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <span class="pull-left"><img class="media-object" src="http://placehold.it/50x50" alt=""></span>
                                <div class="media-body">
                                        <h5 class="media-heading"><strong>{{user.name}}</strong></h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li><a href="#">Alert Name <span class="label label-default">Alert Badge</span></a></li>
                    <li><a href="#">View All</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="active dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;{{user.name}}&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="{% if settings=='profile' %}active{% endif %}"><a href="/admin/settings.my_profile">My Profile</a></li>
                    <li class="{% if settings=='password' %}active{% endif %}"><a href="/admin/settings.password">Change Password</a></li>
                    <li class="{% if settings=='prefs' %}active{% endif %}"><a href="/admin/settings.preference">Preferences</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="span12">
            <div id="content">
                {% block brand %}
                    {% if admin_view.name|lower != 'home' %}
                    <h2 id="brand">{{ admin_view.name|capitalize }}</h2>
                    <div class="clearfix"></div>
                    <hr/>
                    {% endif %}
                {% endblock %}
                {{ layout.messages() }}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block tail_js %}
        {{super()}}

        <script src="{{url_for('static', filename='js/bootstrap-dialog.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/css3-mediaqueries.js')}}"></script>
        <script src="{{url_for('static', filename='js/respond.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
        <script src="{{url_for('static', filename='js/modernizr.custom.85647.js')}}"></script>
        <script src="{{url_for('static', filename='js/fotorama.js')}}"></script>
        <script src="{{url_for('static', filename='js/summernote.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap-tagsinput.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.geocomplete.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/autobahn.min.jgz')}}"></script>
        <script src="{{url_for('static', filename='js/owl.carousel.js')}}"></script>

        {% assets filters="jsmin", output="app/my-handler.js", "appjs/handler.js", "appjs/async.js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script>
            $(function () {
                $('#loadingImage').hide();
            });

        </script>

        <!--script language="javascript">
        $(document).ready(function(){
          if ($(".geo-complete") != undefined) {
              $(".geo-complete").geocomplete().bind("geocode:result", function (event, result) {
                var name = result.formatted_address;
			    var lat  = result.geometry.location.A;
			    var lon  = result.geometry.location.F;
                $('#geo_location_name').val(name);
                $('#geo_location_lat').val(lat);
                $('#geo_location_long').val(lon);

              });
          }
          if ($(".summernote") != undefined) {
                var clean_pasted_html = function(original) {
                    u = document.createElement('div');
                    u.innerHTML = original;
                    return u.innerText;
                  };

                var summernote_image_upload = function(file, editor, welEditable) {
                    App.upload_image({
                        on_validation: function(){
                            if (('#loadingImage') != undefined) {
                                $('#loadingImage').show();
                            }
                        },
                        on_success: function(data){
                            editor.insertImage(welEditable, data.url);
                            if (('#loadingImage') != undefined) {
                                $('#loadingImage').hide();
                            }
                        },
                        on_error: function(data){
                            if (('#loadingImage') != undefined) {
                                $('#loadingImage').hide();
                            }
                            BootstrapDialog.alert('Something went wrong when uploading the file.');
                        },
                        permanent: true,
                        file: file
                    });
                };



            $('.summernote').each(function(){
                var $textArea = $(this);
                $textArea.summernote({
                    height: 400,
                    onImageUpload: function(files, editor, welEditable) {
                        summernote_image_upload(files[0], editor, welEditable);
                    },
                    onkeyup: function (e) {
                        var code = $(this).code();
                        $textArea.val(code);
                        $textArea.change(); //To update any action binded on the control
                    },
                    onpaste: function(e) {
                        var thisNote = $(this);
                        var updatePastedText = function(someNote){
                            var original = someNote.code();
                            var cleaned = clean_pasted_html(original); //this is where to call whatever clean function you want. I have mine in a different file, called CleanPastedHTML.
                            someNote.code('').html(cleaned); //this sets the displayed content editor to the cleaned pasted code.
                        };
                        setTimeout(function () {
                            //the function is called before the text is really pasted.
                            updatePastedText(thisNote);
                        }, 10);
                    }
                });
            });

            $('textarea').addClass("span8");
            {% if not is_admin %}
                $("#author").addClass('hide');
                $('#author').parent().append('<span class="clearfix"><strong>{{user.name}}</strong></span>');
            {% endif %}
          }
        });
        </script-->
{% endblock %}
