<section class="container-fluid p-0">
    <div class="userprofile-banner" style="{{background_cover}}">

        <div class="container">

            <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs pull-right user-fav-acti">
                {% if model.favorite_activities|length > 0 %}<h3>{%  if model.is_business_profile %}Specialized Activities{% else %}Favourite Activities{% endif %}&nbsp;: </h3>{% elif model.id == user.id %}<h3>Add your favorite activities </h3>{% endif %}
                <div class="row-fluid">
                    {% for acti in model.favorite_activities %}
                    {% if acti.icon_image_path %} <a href="{{acti.slug}}"><img src="{{acti.icon_image_path}}" class="thumbnail"></a>{% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 user-pro">
                    <!--  style="background:url({% if not model.cover_image_path or model.cover_image_path|length == 0%}/img/Profile-Picture2.jpg{% else %}{{model.cover_image_path}}{% endif %}) no-repeat center center; width: 500px;"  -->
                    <img src="{% if not model.cover_image_path or model.cover_image_path|length == 0%}/img/Profile-Picture2.jpg{% else %}{{model.cover_image_path}}{% endif %}" alt="" class="center-block text-center img-responsive" style="object-fit: cover; background-color:#ffffff; object-postion: center;">
                </div>

                <div class="col-lg-9 col-md-4 col-sm-4 col-xs-12 name-location">
                    <h2>
                        {{ model.name }}
                        {% if user %}
                            {% if model.id != user.id %}
                                <small><a href="#" class="btn btn-link uppercase red" data-action="not-ok" data-model="profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}">Report as Not Ok</a></small>
                            {% else %}
                                <small><a href="#" class="btn btn-link uppercase" data-action="change-background" data-model="profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="label label-as-badge black">Change Background<br/>(1366 x 500 pixels)</span></a></small>
                            {% endif %}
                        {% endif %}
                    </h2>
                    <h4><i class="fa fa-map-marker"></i>&nbsp;{% if model.location %} {{model.location}} {% else %}{% if model.id == user.id %}<a href="#" data-action="edit-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" >Change location</a>{% else %}Location not known{% endif %}{% endif %}</h4>
                    <a href="#" class="label p-10 transwhite-bg darkgrey fs-12 uppercase">{{ model.followers|length }} Followers</a>
                    <a href="#" class="label p-10 transwhite-bg darkgrey fs-12 uppercase">{{ model.following|length }} Following</a>
                    {% if model.is_business_profile and not model.admin_approved %}
                            <a href="" class="disabled label p-10 fs-12 uppercase" style="background: darkred;">Awaiting Approval</a>
                    {% else %}
                            <!--a href="/login?target={{ model.slug }}" class="label p-10 fs-12 uppercase" style="background: lightskyblue;">Claim this Listing</a-->
                    {% endif %}
                </div>

            </div>
            <br/>
            <div class="row">


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 user-button">
                    {% if user.id != model.id %}
                        {% if not model.is_business_profile or model.admin_approved %}
                            {% if model.id != user.id and model in user.following %}
                                <a  data-action="unfollow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-5 col-xs-12 text-center"><i class="fa fa-user blue"></i> Unfollow</a>
                            {% else %}
                                <a  data-action="follow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-5 col-xs-12 text-center"><i class="fa fa-user grey"></i> Follow</a>
                            {% endif %}
                            <a href="/messaging?load-user={{model.id}}" class="btn btn-default col-lg-6 col-xs-12 text-center"><i class="fa fa-envelope-o"></i> Send Message</a>
                        {% else %}
                            {% if model.id != user.id and model in user.following %}
                                <a  data-action="unfollow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-12 col-xs-12 text-center"><i class="fa fa-user blue"></i> Unfollow</a>
                            {% else %}
                                <a  data-action="follow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-12 col-xs-12 text-center"><i class="fa fa-user grey"></i> Follow</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a data-action="edit-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" class="btn btn-default col-lg-5 col-xs-12 text-center"><i class="fa fa-users"></i> Edit</a>
                        <div class="btn-group block">
                            <a  href="#" class="btn btn-default col-lg-6 col-xs-12 text-center dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i> Settings</a>
                            <ul class="dropdown-menu setting-drop" role="menu">
                                <li><a style="width: 90%" data-action="edit-profile-password" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#">Change password</a></li>
                                <li><a style="width: 90%" data-action="edit-profile-preferences" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#">Preferences</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 user-desc">
                {% if model.description and model.description|length > 0 %}
                    <p>{{model.description}}</p>
                {% else %}
                    <p>Joined Fitrangi {{model.since}}</p>
                {% endif %}
                </div>

            </div>


        </div>

    </div>
</section>
{% if model.is_business_profile %}
<section class="container business-details">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about">
        <div class="heading"><h3>About</h3></div>
        {{model.about|safe}}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact">
        <div class="heading"><h3>Contact</h3></div>
        <div class="row-fluid">
            {% if model.phone %}<h4><i class="fa fa-phone">:</i>&nbsp;{{model.phone}}</h4> {% endif %}
            {% if model.email %}<h4><i class="fa fa-at">:</i>&nbsp;{{model.email}}</h4> {% endif %}
            {% if model.website %}<h4><i class="fa fa-globe">:</i>&nbsp;<a href="{% if 'http' not in model.website %}http://{% endif %}{{ model.website }}" target="_blank">{{model.website}}</a></h4> {% endif %}
            <h4 class="">
                {% if model.facebook and model.facebook|length > 0 %}<a href="{{ model.facebook }}"  target="_blank"><i class="fa fa-facebook fa-2x"></i></a>{% endif %}
                {% if model.twitter and model.twitter|length > 0 %}<a href="{{ model.twitter }}"  target="_blank"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
                {% if model.google_plus and model.google_plus|length > 0 %}<a href="{{ model.google_plus }}"  target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>{% endif %}
                {% if model.linked_in and model.linked_in|length > 0 %}<a href="{{ model.linked_in }}"  target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
                {% if model.youtube_channel and model.youtube_channel|length > 0 %}<a href="{{ model.youtube_channel }}"  target="_blank"><i class="fa fa-youtube fa-2x"></i></a>{% endif %}
                <!--a {% if model.blog_channel %}href="{{ model.blog_channel }}"  target="_blank"{% endif %}><i class="fa fa-rss fa-2x"></i></a-->
            </h4>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div  class="border-grey-b pb-5 darkgrey"></div>
                <h4><i class="fa fa-map-marker">:</i>&nbsp; {{model.address}}</h4>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>&nbsp;&nbsp; {{model.location}}</h4>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="container-fluid p-0">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">
            <div class="container text-center">
                <ul id="myTab" class="nav nav-tabs" role="tablist">

                    <li class="active"><a href="#my-stream"  role="tab" data-toggle="tab" aria-controls="my-stream" aria-expanded="false">
                        <span class="fa fa-spinner"></span> <strong>My Stream</strong></a></li>

                    {% if not model.is_business_profile %}
                    <li class=""><a href="#adventure-done"  role="tab" data-toggle="tab" aria-controls="adventure-done" aria-expanded="false">
                        <span class="fa fa-flag"></span> <strong>Adventure Done</strong> </a></li>

                    <li class=""><a href="#my-wishlist" role="tab" data-toggle="tab" aria-controls="my-wishlist" aria-expanded="false">
                        <span class="fa fa-list"></span> <strong>My Wishlist</strong> </a></li>

                    <!--li class=""><a href="#photos-videos" role="tab" data-toggle="tab" aria-controls="photos-videos" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Photos/Videos</strong> </a></li-->
                    {%  endif %}
                    <li class=""><a href="#following" role="tab" data-toggle="tab" aria-controls="following" aria-expanded="false">
                        <span class="fa fa-group"></span> <strong>Following</strong> </a></li>
                    <li class=""><a href="#follower" role="tab" data-toggle="tab" aria-controls="follower" aria-expanded="false">
                        <span class="fa fa-group"></span> <strong>Followers</strong> </a></li>

                    <!--li class=""><a href="#journals" role="tab" data-toggle="tab" aria-controls="journals" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Journals</strong> </a></li-->

                    <li class=""><a href="#discussions" role="tab" data-toggle="tab" aria-controls="discussions" aria-expanded="false">
                        <span class="fa fa-file-text"></span> <strong>Discussions</strong> </a></li>

                    <!--li class=""><a href="#bookmarks" role="tab" data-toggle="tab" aria-controls="bookmarks" aria-expanded="false">
                        <span class="fa fa-star"></span> <strong>Bookmarks</strong> </a></li-->


                </ul>
            </div>
        </div>

        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="my-stream" aria-labelledby="my-stream">
                    <section class="container-fluid" id="my-stream-data">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <input type="hidden" id="my-stream-filter" data-model="stream" data-filter="profile" data-category="my" value="{{model.id}}" data-filter-status="fixed"/>
                            {% if model.id == user.id %}
                            <input type="hidden" id="following-stream-filter" data-model="stream" data-filter="profile__in" data-category="my" value="{% for f in model.following %}{{f.id}}{% if not loop.last%},{% endif %}{% endfor %}" data-filter-status="fixed"/>
                            {% else %}
                            <input type="hidden" id="following-stream-filter" data-model="stream" data-filter="profile__in" data-category="my" value="" data-filter-status="fixed"/>
                            {% endif %}
                            <input id="stream-message-filter" type="hidden" data-model="stream" data-filter="is_private" value="bool|False" data-category="my" data-filter-status="fixed">
                            {% if user and user.id == model.id %}
                            {% import 'site/includes/post_box.html' as post %}
                            {{ post.show_post_form(model, 'stream') }}
                            {% endif %}
                            {{ my_stream_list|safe }}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="blue pb-5 border-grey-b">Fitrangi.com Popular Stream Feeds</h4>
                            <input type="hidden" id="fitrangi-stream-type-filter" data-model="post" data-filter="type" data-category="fitrangi" value="stream" data-filter-status="fixed"/>
                            <input type="hidden" id="fitrangi-stream-profile-filter" data-model="post" data-filter="author__in" data-category="fitrangi" value="{{featured_profiles}}" data-filter-status="fixed"/>
                            {{ fitrangi_posts|safe}}
                        </div>
                    </section>


                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="adventure-done" aria-labelledby="adventure-done">
                    <input id="accomplished-adventure-filter" data-category="accomplished" data-model="adventure" data-filter="relationship__accomplished__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {% if user and model.id == user.id %}
                    <div class="jumbotron help-info" data-category="accomplished" data-model="adventure">
                        <h5>Mark <a href="/adventures">Adventure Destinations</a> as done to see them here. Create your adventure portfolio for the rest of the world to see!</h5>
                    </div>
                    {% endif %}
                    <div id="models_list" class="container fitrangi-thumb">
                        {{accomplished_adventure_list|safe}}
                    </div>

                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="my-wishlist" aria-labelledby="my-wishlist">
                    <input id="wish-list-adventure-filter" data-category="wishlisted" data-model="adventure" data-filter="relationship__wishlisted__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {% if user and model.id == user.id %}
                    <div class="jumbotron help-info" data-category="wishlisted" data-model="adventure">
                        <h5>Would you like to experience new <a href="/adventures">Adventure Destinations</a> and keep track of the ones you still have to do? Add them to your wishlist and track them here</h5>
                    </div>
                    {% endif %}
                    <div id="models_list" class="container fitrangi-thumb">
                        {{wish_listed_adventure_list|safe}}
                    </div>

                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="following" aria-labelledby="following">
                    <input id="profile-following-filter" data-category="following" data-model="profile" data-filter="relationship__follows__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {% if user and model.id == user.id %}
                    <div class="jumbotron help-info" data-category="following" data-model="profile">
                        <h5>See who follows you here! Make a difference by inspiring others in the community!</h5>
                    </div>
                    {% endif %}
                    {{following_list|safe}}
                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="follower" aria-labelledby="follower">
                    <input id="profile-follower-filter" data-category="follower" data-model="profile" data-filter="relationship__followed_by__profile" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {% if user and model.id == user.id %}
                    <div class="jumbotron help-info" data-category="follower" data-model="profile">
                        <h5>Follow other <a href="/profiles">profiles</a> to see what they have been upto lately!</h5>
                    </div>
                    {% endif %}
                    {{follower_list|safe}}
                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="photos-videos" aria-labelledby="photos-videos">
                    <h2>Photos / Videos</h2>
                </div><!--Tab Pane End-->

                <div role="tabpanel" class="tab-pane fade" id="journals" aria-labelledby="journals">
                    <input id="article-filter" data-category="all" data-model="article" data-filter="author" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {% if user and model.id == user.id %}
                    <div class="jumbotron help-info" data-category="all" data-model="article">
                        <h5>Do you relish writing about your adventures and trips? Let the world see and learn from your experience</h5>
                    </div>
                    {% endif %}
                    {{article_list|safe}}
                </div><!--Tab Pane End-->


                <div role="tabpanel" class="tab-pane fade discussion" id="discussions" aria-labelledby="discussions">
                    <input id="discussion-filter" data-category="all" data-model="discussion" data-filter="author" type="hidden" value="{{model.id}}" data-filter-status="fixed">
                    {% if user and model.id == user.id %}
                    <div class="jumbotron help-info" data-category="all" data-model="discussion">
                        <h5>Add a new discussion and track them from here. Contribute the knowledge with the community.</h5>
                    </div>
                    {% endif %}
                    {{discussion_list|safe}}

                </div><!--Tab Pane End-->

                <!--div role="tabpanel" class="tab-pane fade" id="bookmarks" aria-labelledby="bookmarks">

                    <section class="container-fluid border-grey-b mb-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="oswald pl-10 pt-15">Bookmarks - Journals <span class="badge blue-bg">10</span></h4>
                        </div>
                    </section>


                    <hr class="clearfix">


                    <section class="container-fluid border-grey-b mb-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="oswald pl-10 pt-15">Bookmarks - Adventure Trips <span class="badge blue-bg">10</span></h4>
                        </div>
                    </section>

                </div--><!--Tab Pane End-->

            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        var App = window.App;
        App.filter('article-filter');
        App.filter('discussion-filter');
        App.filter('wish-list-adventure-filter');
        App.filter('accomplished-adventure-filter');
        App.filter('profile-follower-filter');
        App.filter('profile-following-filter');
        App.filter('fitrangi-stream-type-filter');
        App.filter('fitrangi-stream-profile-filter');
        App.filter('stream-message-filter');
        App.filter('my-stream-filter');
        App.filter('following-stream-filter');
        App.filter('related-stream-filter');
    });
</script>
