{% if is_business %}
    <section class="container edit-business">


        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2 class="title">Enter Basic Information</h2>

            <form class="fitrangi-form">
                <input type="hidden" data-name="logged-in-id" value="{% if user %}{{ user.id }}{% endif %}"/>
                <input type="hidden" data-name="profile-id" value="{{ model.id }}"/>
                <input type="hidden" data-name="is-business" value="{% if is_business %}true{% else %}false{% endif %}"/>



                <div class="form-group">
                    <label for="heading">Organisation Name<span class="red">*</span></label>
                    <input data-name="name-edit" type="text" class="form-control" placeholder="Enter Organization Name"  value="{% if model.name and model.name|length > 0 %}{{ model.name }}{% endif %}">
                </div>

                <div class="form-group">
                    <label for="heading">Email<span class="red">*</span></label>
                    <input data-name="email-edit" type="email" class="form-control" placeholder="Enter Email (required for registration and logging in)" value="{{ model.email }}">
                </div>
                {% if not user %}
                <div class="form-group">
                    <label for="heading">Password<span class="red">*</span></label>
                    <input data-name="password-edit" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="heading">Confirm Password<span class="red">*</span></label>
                    <input data-name="confirm-edit" type="password" class="form-control" placeholder="Confirm">
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="heading">Office Address (Head Office)<span class="red">*</span></label>
                    <textarea data-name="address-edit" class="form-control" placeholder="Enter Office address" rows="3">{% if model.address and model.address|length > 0 %}{{ model.address }}{% endif %}</textarea>
                </div>


                <div class="form-group">
                    <label for="heading">Business Type<span class="red">*</span></label>
                    <select data-name="type-edit" class="form-control" placeholder="Select business type">
                        <option value="" {% if not model or model.type|length == 0  %}selected{% endif %}>-- Select --</option>
                        {% for _type in  profile_types %}
                            {% if not _type.name == 'Subscription Only' %}
                            <option value="{{ _type.name }}" {% if _type in model.type  %}selected{% endif %}>{{ _type.name }}</option>
                            {% endif  %}
                        {% endfor %}
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="heading">City / State / Country <span class="red">*</span></label>
                            <input data-name="location-edit" type="text" class="geo-complete form-control"
                               placeholder="Enter Location" value="{% if model.location and model.location|length > 0 %}{{ model.location }}{% endif %}">
                            <input type="hidden" name="formatted_address" data-name="geo_location_name" value="{% if model.location  and model.location|length > 0 %}{{ model.location }}{% endif %}"/>
                            <input type="hidden" name="lat" data-name="geo_location_lat" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][0] }}{% endif %}"/>
                            <input type="hidden" name="lng" data-name="geo_location_long" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][1] }}{% endif %}"/>
                            <input type="hidden" name="locality_short" data-name="geo_city" value="{% if model.location and model.city %}{{ model.city }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_2" data-name="geo_region" value="{% if model.location and model.region %}{{ model.region }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_1" data-name="geo_state" value="{% if model.location and model.state %}{{ model.state }}{% endif %}"/>
                            <input type="hidden" name="country_short" data-name="geo_country" value="{% if model.location and model.country %}{{ model.country }}{% endif %}"/>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="heading">Pincode / Zipcode</label>
                            <input data-name="zipcode-edit" type="text" class="form-control" placeholder="Enter Pincode"  value="{% if model.zipcode and model.zipcode|length >0 %}{{ model.zipcode }}{% endif %}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="heading">Phone No.<span class="red">*</span></label>
                            <div class="">
                                <input data-name="phone-edit" type="text" class="form-control" placeholder="Enter Phone No. (required)"  value="{% if model.phone and model.phone|length > 0 %}{{ model.phone }}{% endif %}">
                            </div>
                            <input data-name="phone-alternate-edit" type="hidden" value="{% if model.alternative_phone and model.alternative_phone|length > 0 %}{{ model.alternative_phone }}{% endif %}">
                        </div>


                    </div>

                    <div class="col-md-6">
                        <input data-name="email-alternate-edit" type="hidden" value="{% if model.alternative_email and model.alternative_email|length > 0 %}{{ model.alternative_email }}{% endif %}">
                    </div>
                    <!--a class="btn btn-primary pull-right btn-sm">Add Branch Address <i
                            class="fa fa-plus-circle"></i></a-->
                </div>


                <div class="form-group">
                    <label for="heading">Website</label>
                    <input data-name="website-edit" type="text" class="form-control" placeholder="Enter Website"  value="{% if model.website and model.website|length > 0 %}{{ model.website }}{% endif %}">
                </div>


                <div class="form-group">
                    <label for="heading">About Organization</label>
                    <textarea data-name="about-edit" class="form-control" placeholder="Write a brief intro" rows="3">{% if model.about and model.about|length > 0 %}{{ model.about }}{% endif %}</textarea>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="heading"><i class="fa fa-facebook"></i> Facebook Url</label>
                            <input data-name="facebook-edit" type="text" class="form-control" placeholder="Enter facebook url"
                                   value="{% if model.facebook and model.facebook|length > 0 %}{{ model.facebook }}{% endif %}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="heading"><i class="fa fa-twitter"></i> Twitter Url</label>
                            <input data-name="twitter-edit" type="text" class="form-control"
                                   placeholder="Enter twitter url" value="{% if model.twitter and model.twitter|length > 0 %}{{ model.twitter }}{% endif %}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="heading"><i class="fa fa-youtube"></i> Youtube Url</label>
                            <input data-name="youtube-channel-edit" type="text" class="form-control"
                                   placeholder="Enter youtube url" value="{% if model.youtube_channel and model.youtube_channel|length > 0 %}{{ model.youtube_channel }}{% endif %}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="heading"><i class="fa fa-google-plus"></i> Google+ Url</label>
                            <input data-name="google-plus-edit" type="text" class="form-control" placeholder="Enter G+ profile link"
                                   value="{% if model.google_plus and model.google_plus|length > 0 %}{{ model.google_plus }}{% endif %}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="heading"><i class="fa fa-linkedin"></i> Linked In Url</label>
                            <input data-name="linked-in-edit" type="text" class="form-control"
                                   placeholder="Enter linkedIn url" value="{% if model.linked_in and model.linked_in|length > 0 %}{{ model.linked_in }}{% endif %}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="heading"><i class="fa fa-rss"></i> Company Blog</label>
                            <input data-name="blog-channel-edit" type="text" class="form-control" placeholder="Enter blog link"
                                   value="{% if model.blog_channel and model.blog_channel|length > 0 %}{{ model.blog_channel }}{% endif %}">
                        </div>
                    </div>

                </div>

                <div class="container-fluid">
                    <h4 class="blue oswald uppercase">Select your Speciality in activities<span class="red">*</span></h4>
                        {% for k in ['Land Activities', 'Water Activities', 'Air Activities'] %}
                        <div class="row-fluid">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><strong><u>{{k}}</u></strong></div>
                            {% for activity in activities.get(k, []) %}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <div class="checkbox">
                                    <p><input type="checkbox" data-name="activities" data-value="{{activity.id}}" {% if activity.name in model.interest_in_activities %}checked{% endif %}> {{activity.name}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                </div>

                <hr class="clearfix"/>
                <br/>

                {% if not model %}
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-name="terms"> I accept the terms and conditions as per the agreement.<span class="red">*</span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-name="authority"> I am the administrator / manager / representative <span class="red">*</span>
                        </label>
                    </div>
                </div>
                {% endif %}

                <form class="form-group">
                    <hr/>
                    <button class="btn btn-primary" data-action="save-business-profile">Submit</button>
                    <button id="back-button" class="btn btn-info">Back</button>
                </form>

            </form>
        </div>
        <!--Col9 End-->


        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row">


                <!--form class="form">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control no-radius" placeholder="Search Organiser's">
                      <div class="input-group-addon blue-bg white"><span class="fa fa-search"></span></div>
                    </div>
                  </div>
                </form-->
                <br/>
                <br/>
                <br/>
                <br/>
                {% if model and model.id %}
                    <a href="#" role="button" data-placement="right" data-toggle="popover" data-trigger="focus"
                       data-content="Click to change" class="hoverable" data-action="edit-cover-image" data-aspect-ratio-x="9" data-aspect-ratio-y="9"
                       data-model-id="{{ model.id }}" data-model="profile" data-trigger="hover"><img
                            src="{% if not model.cover_image_path or model.cover_image_path|length == 0 %}/img/profilepic-upload.jpg{% else %}{{ model.cover_image_path }}{% endif %}"
                            alt="" class="center-block text-center img-thumbnail img-responsive"></a>
                {% else %}
                    <div class="thumbnail">
                        <a href="#" data-action="cover-image-upload" title="Click to change">
                            <img data-name="cover-image-display" src="{% if not model.cover_image_path or model.cover_image_path|length == 0 %}/img/profilepic-upload.jpg{% else %}{{ model.cover_image_path }}{% endif %}"  alt="" class="center-block text-center img-thumbnail img-responsive">
                        </a>
                        <div class="caption text-center">Click on the image to change </div>
                    </div>
                    <input type="hidden" data-name="cover-image" value=""/>
                {% endif %}


            </div>
        </div>
        <!--Col3 End-->

    </section>
{% else %}
    <section class="container" xmlns="http://www.w3.org/1999/html" style="margin-bottom: 60px;">
        <form class="fitrangi-form">
            <input type="hidden" id="logged-in-id" value="{% if user %}{{ user.id }}{% endif %}"/>
            <input type="hidden" id="profile-id" value="{{ model.id }}"/>
            <input type="hidden" id="is-business" value="{% if is_business %}true{% else %}false{% endif %}"/>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="form-group">
                        <label for="heading">Name<span class="red">*</span></label>
                        <input id="name-edit" type="text" class="form-control" placeholder="Enter name"
                               value="{% if model.name and model.name|length > 0 %}{{ model.name }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="heading">Phone<span class="red">*</span></label>
                        <input id="phone-edit" type="text" class="form-control" placeholder="Enter phone"
                               value="{% if model.phone and model.phone|length > 0 %}{{ model.phone }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="heading">Email<span class="red">*</span></label>
                        <input id="email-edit" type="email" class="form-control"
                               {% if model and model.id %}disabled{% endif %} placeholder="Enter email"
                               value="{{ model.email }}">
                    </div>
                    <div class="form-group">
                        <label for="heading">Location<span class="red">*</span></label>
                        <input id="location-edit" type="text" class="geo-complete form-control"
                               placeholder="Hit enter to auto complete on location" value="{% if model.location and model.location|length > 0 %}{{ model.location }}{% endif %}">
                        <input type="hidden" name="formatted_address" id="geo_location_name" value="{% if model.location  and model.location|length > 0 %}{{ model.location }}{% endif %}"/>
                        <input type="hidden" name="lat" id="geo_location_lat" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][0] }}{% endif %}"/>
                        <input type="hidden" name="lng" id="geo_location_long" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][1] }}{% endif %}"/>
                        <input type="hidden" name="locality_short" id="geo_city" value="{% if model.location and model.city %}{{ model.city }}{% endif %}"/>
                        <input type="hidden" name="administrative_area_level_2" id="geo_region" value="{% if model.location and model.region %}{{ model.region }}{% endif %}"/>
                        <input type="hidden" name="administrative_area_level_1" id="geo_state"
                               value="{% if model.location and model.state %}{{ model.state }}{% endif %}"/>
                        <input type="hidden" name="country_short" id="geo_country"
                               value="{% if model.location and model.country %}{{ model.country }}{% endif %}"/>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    {% if model and model.id %}
                        <div>
                        <a href="#" role="button" data-placement="right" data-toggle="popover" data-trigger="focus"
                           data-content="Click to change" class="hoverable" data-action="edit-cover-image" data-aspect-ratio-x="9" data-aspect-ratio-y="9"
                           data-model-id="{{ model.id }}" data-model="profile" data-trigger="hover"><img
                                src="{% if not model.cover_image_path or model.cover_image_path|length == 0 %}/img/Profile-Picture2.jpg{% else %}{{ model.cover_image_path }}{% endif %}"
                                alt="" class="center-block text-center img-thumbnail img-responsive"></a>
                        </div>
                        <div class="text-center">
                            <!--a href="#" data-model="profile" data-model-id="{{ model.id }}" >Crop Image</a-->
                        </div>
                    {% else %}
                        <img src="{% if not model.cover_image_path or model.cover_image_path|length == 0 %}/img/Profile-Picture2.jpg{% else %}{{ model.cover_image_path }}{% endif %}"
                             alt="" class="center-block text-center img-thumbnail img-responsive">
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <h3 class="text-center">--more--</h3><br/>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="form-group">
                    <label for="heading">About me<span class="red">*</span></label>
                <textarea id="about-edit" row="5" type="text" class="form-control summernote"
                          placeholder="Tell us about yourself">{% if model.about and model.about|length > 0 %}{{ model.about }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <label for="heading">Website</label>
                    <input id="website-edit" type="text" class="form-control" placeholder="Enter website link"
                           value="{% if model.website and model.website|length > 0 %}{{ model.website }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="heading">Facebook Profile Link</label>
                    <input id="facebook-edit" type="text" class="form-control" placeholder="Enter facebook profile link"
                           value="{% if model.facebook and model.facebook|length > 0 %}{{ model.facebook }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="heading">Google+ Profile Link</label>
                    <input id="google-plus-edit" type="text" class="form-control" placeholder="Enter G+ profile link"
                           value="{% if model.google_plus and model.google_plus|length > 0 %}{{ model.google_plus }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="heading">Linked In Profile Link</label>
                    <input id="linked-in-edit" type="text" class="form-control"
                           placeholder="Enter LinkedIn profile link" value="{% if model.linked_in and model.linked_in|length > 0 %}{{ model.linked_in }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="heading">Own a blog?</label>
                    <input id="blog-channel-edit" type="text" class="form-control" placeholder="Share the link with us"
                           value="{% if model.blog_channel and model.blog_channel|length > 0 %}{{ model.blog_channel }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="heading">Own a youtube channel?</label>
                    <input id="youtube-channel-edit" type="text" class="form-control"
                           placeholder="Share the channel link with us" value="{% if model.youtube_channel and model.youtube_channel|length > 0 %}{{ model.youtube_channel }}{% endif %}">
                </div>
                <div class="form-actions pull-right">
                    <button class="btn btn-primary" data-action="save-profile">Save</button>
                    <button id="back-button" class="btn btn-info">Back</button>
                </div>
            </div>
        </form>

    </section>
{% endif %}
<script>
    $(document).ready(function () {
        $('#back-button').on('click', function (e) {
            window.history.back();
        });

        $(".geo-complete").geocomplete({details: "form"});

        $('[data-action="save-business-profile"]').on('click', function(e){
            e.stopPropagation();
            var logged_in_user = $('[data-name="logged-in-id"]').val();
            var profile_id = $('[data-name="profile-id"]').val();
            var is_business = true;
            var name = $('[data-name="name-edit"]').val();
            var address = $('[data-name="address-edit"]').val();
            var type = $('[data-name="type-edit"]').val();
            var location = $('[data-name="geo_location_name"]').val();
            var lat = $('[data-name="geo_location_lat"]').val();
            var lng = $('[data-name="geo_location_long"]').val();
            var city = $('[data-name="geo_city"]').val();
            var region = $('[data-name="geo_region"]').val();
            var state = $('[data-name="geo_state"]').val();
            var country = $('[data-name="geo_country"]').val();
            var zipcode = $('[data-name="zipcode-edit"]').val();
            var phone = $('[data-name="phone-edit"]').val();
            var alternative_phone = $('[data-name="phone-alternate-edit"]').val();
            var email = $('[data-name="email-edit"]').val();
            var alternative_email = $('[data-name="email-alternate-edit"]').val();
            var website = $('[data-name="website-edit"]').val();
            var about = $('[data-name="about-edit"]').val();
            var facebook = $('[data-name="facebook-edit"]').val();
            var twitter = $('[data-name="twitter-edit"]').val();
            var youtube = $('[data-name="youtube-channel-edit"]').val();
            var gplus = $('[data-name="google-plus-edit"]').val();
            var linked_in = $('[data-name="linked-in-edit"]').val();
            var blog = $('[data-name="blog-channel-edit"]').val();
            var password;

            if (logged_in_user == undefined || logged_in_user.length == 0){
                password =   $('[data-name="password-edit"]').val();
                var confirm =   $('[data-name="confirm-edit"]').val();
                if (confirm != password ) {
                    BootstrapDialog.alert('Password do not match.');
                    return;
                } else if(password.length < 6) {
                    BootstrapDialog.alert('Invalid Password, length must atleast be 6 characters .');
                    return;
                }
            }

            if (type == undefined || type.length == 0) {
                BootstrapDialog.alert('Please enter the business type as it is a mandatory field.');
                return;
            }


            var activities = [];
            $('[data-name="activities"]:checked').each(function(i, elem) {
                activities.push($(elem).data('value'));
            });


            var cover_image = $('[data-name="cover-image"]').val();

            var profile_editor = window.App.profile;
            var data = {
                logged_in_user: logged_in_user,
                name: name,
                address: address,
                type: type,
                location: location,
                lat: lat,
                lng: lng,
                city: city,
                region: region,
                state: state,
                country: country,
                zipcode: zipcode,
                phone: phone,
                alternative_phone: alternative_phone,
                email: email,
                alternative_email: alternative_email,
                website: website,
                about: about,
                facebook: facebook,
                twitter: twitter,
                youtube: youtube,
                google_plus: gplus,
                linked_in: linked_in,
                blog: blog,
                activities: activities,
                password: password,
                cover_image: cover_image
            };
            if ($('[data-name="terms"]:checked') != undefined && $('[data-name="terms"]').length > 0 && $('[data-name="terms"]:checked').length == 0) {
                BootstrapDialog.alert('Please accept terms and conditions');
                return;
            }
            if($('[data-name="authority"]:checked') != undefined && $('[data-name="authority"]').length > 0 && $('[data-name="authority"]:checked').length == 0) {
                BootstrapDialog.alert('Confirm if you are the representative authority of the said business.');
                return;
            }
            if(name == undefined || name.length == 0) {
                BootstrapDialog.alert('Name is required field');
                return;
            }
            if(address == undefined || address.length == 0) {
                BootstrapDialog.alert('Address is required field');
                return;
            }
            if(location == undefined || location.length == 0) {
                BootstrapDialog.alert('Location is required field');
                return;
            }
            /*
            if(zipcode == undefined || zipcode.length == 0) {
                BootstrapDialog.alert('Zipcode/Pincode is required field');
                return;
            }
             */
            if(phone == undefined || phone.length == 0) {
                BootstrapDialog.alert('There must be at least one phone number given');
                return;
            }
            if(email == undefined || email.length == 0) {
                BootstrapDialog.alert('Email is a mandatory field');
                return;
            }
            if(activities == undefined || activities.length == 0) {
                BootstrapDialog.alert('There must be at least one activity selected');
                return;
            }
            var verification_mail_msg = '<br/>If this is your email then you can <a href="/login" >click here</a> to login.<br/>OR<br/>Contact admin at yunus@fitrangi.com / 8879921115';
            if (profile_id == undefined || profile_id.length == 0) {
                profile_editor.business_profile_register(data, function (_data) {
                    if (_data.status == 'success') {
                        var url = window.location.href;
                        window.location.href = '/profiles';
                    } else {
                        if (_data.message == 'Profile with given email already exists') {
                            BootstrapDialog.alert(_data.message + verification_mail_msg);
                        } else {
                            BootstrapDialog.alert(_data.message);
                        }
                    }
                });
            } else {
                profile_editor.business_profile_edit(profile_id, data, function (_data) {
                    if (_data.status == 'success') {
                        window.location.reload();
                    } else {
                        if (_data.message == 'Profile with given email already exists') {
                            BootstrapDialog.alert(_data.message + verification_mail_msg);
                        } else {
                            BootstrapDialog.alert(_data.message);
                        }
                    }
                })
            }
        });
        $('body').on('click', '[data-action="cover-image-upload"]', function(e){
            e.stopPropagation();e.preventDefault();
            var callback = function(url){
                console.log(url);
                $('[data-name="cover-image-display"]').attr('src', url);
                $('[data-name="cover-image"]').val(url);

            };
            App.image_upload_dialog(callback);
        });
    });
</script>

