<li class="nav col-sm-5 col-xs-12">
    <article class="fitrangi-profile">
        <a href="{{model.slug}}"><img src="{{model.cover_image_path_small}}" class="{% if not model.is_business_profile %}img-circle p-5{% endif %} pull-left" style="height:60px;width:60px;"></a>
        {% if user %}
            {% if model.id != user.id and model in user.following %}
                <a data-action="unfollow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" title="Unfollow" class="btn btn-default btn-xs mt-10 blue pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-check"></i></a>
            {% else %}
                <a  data-action="follow-profile" data-model-id="{{model.id}}" data-user-id="{{user.id}}" href="#" title="follow" class="btn btn-default btn-xs mt-10 grey pull-right"><i class="fa fa-user fs-20"></i><i class="fa fa-plus"></i></a>
            {% endif %}
        {% endif %}
        <h4><a href="{{model.slug}}">{% if model and model.name and model.name|length > 35 %}{{model.name[0:35]}}...{% elif model %}{{model.name}}{% else %}Unknown{% endif %}</a></h4>
        <h5><span class="fa fa-map-marker"></span> {% if model.location %} {{model.location }}{% else %} Unknown{% endif %}</h5>
    </article>
</li>
