
<section class="col-lg-12 col-xs-12 media user-post">
    <div class="">

    <div class="media-left">
        <a href="{{model.profile.slug}}"><img src="{{model.profile.cover_image_path_small}}" class="img-circle p-5" style="height:60px; width: 60px;"></a>
    </div>
    <div class="media-body">
        <h3>
                <a href="{{model.profile.slug}}" style="color:#00C4A6;">{{model.profile.name}} &nbsp;</a><br/>
        </h3>
        <h4>{{ model.action_display }}</h4>
    </div>
    <div class="media-right">
        <span class="">{% if not model.is_content_activity %}{{ entity_view|safe }}{% endif %}</span>
    </div>
    <div class="post-content">

        {% if model.is_content_activity %}
        <div class="container-fluid fitrangi-blog-thumb">
            <ul class="blogs-list">
                <li style="border: 0;">
                    <div class="row well well-sm">
                        {% if model.object.parent %}
                            {% set object = model.object.parent %}
                            {% else %}
                            {% set object = model.object %}
                        {% endif %}
                        {% if object.cover_image_path %}
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="{% if object.slug %}{{object.slug}}{% endif %}"><img class="img-responsive img-thumbnail" src="{{object.cover_image_path_small}}" alt=""></a>
                            </div>
                        {% endif %}
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <h3 class="title"><a href="{{object.slug}}">{{ object.title }}</a></h3>
                            <h4 class="sub-title">
                                {% if object.description and object.description|length > 0 %}
                                {{ object.description|safe }}
                                {% else %}
                                {% if object.content and object.content|length > 0 %}{{ object.process_content[0:100]|safe }}... <a href="{{object.slug}}" class="red">read more</a>{% endif %}
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    </div>
    <hr class="clearfix user-post-divider"/>
</section>