<section class="container-fluid p1">
    <div class="event-inner-banner" style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><u>{{model.name}}</u></h3>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>{{model.description}}</p>
                <br/>
                <h4>
                    <i class="fa fa-calendar fa-2x"></i>
                    <br/>
                    <br/>
                    {{model.formatted_scheduled_date}}
                    {% if model.end_date %} - {{ model.formatted_end_date }} {% endif %}
                </h4>
                <br/>
                <h4><i class="fa fa-map-marker fa-2x"></i><br/><br/>{% if model.location %}{{model.location}}{% endif %}</h4>
            </div>

        </div>


    </div>
</section>
<section class="container border-grey-b text-right p-10 mb-20">
    {% if user and (model.organizer.id == user.id) %}
    {% set user_is_owner = True %}
    {% else %}
    {% set user_is_owner = False %}
    {% endif %}
    <div class="{% if user_is_owner %}col-lg-7 col-md-7{% else %}col-lg-8 col-md-8{% endif %} col-xs-12 going-list well well-sm">

            {% for u in model.interested %}
                <a href="{{u.slug}}"><img src="{{u.cover_image_path}}" class="" width="48"></a>
                {% else %}
                <div class="">
                    <h4>Be the first to show interest in this event, from here -></h4>
                </div>
            {% endfor %}

    </div>
    {% if not model in user.interested_event %}
        <a class="btn btn-primary" href="#" data-action="add-event-interested" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-link"></span>&nbsp;Interested</a>
    {% else %}
        <a class="btn btn-primary"  href="#" data-action="remove-event-interested" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-check orange"></span>&nbsp;Remove from Interest</a>
    {% endif %}
    {% if model.external_link and model.external_link|length > 0 %}
    <a class="btn btn-primary"  href="{{ model.external_link }}" ><span class="fa fa-bookmark"></span>&nbsp;Register Now</a>
    {% endif %}
    {% if user_is_owner %}
    <button data-user-id="{{user.id}}" data-model-id="{{model.id}}" class="btn btn-default btn-edi blue" type="button" onclick="javascript: window.location.href='/add-edit/event?pk={{model.id}}'"><i class="fa fa-edit"></i> Edit </button>
    {% endif %}
</section>

<section class="container adventure-trips-content">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
        <div class="">
            <div class="well well-sm fitrangi-trips">
                <div class="heading">
                    <h4>ABOUT EVENT</h4>
                    <hr/>
                </div>
                {% if model.about %}{{ model.about|safe }}{% endif %}
            </div>
            <hr class="clearfix"/>
            <div class="fitrangi-trips">
                <div class="heading">
                    <h4>Discussion</h4>
                </div>
                {% import 'site/includes/post_box.html' as post %}
                {{ post.show_post_form(model, 'discussion') }}
                <input type="hidden" id="discussion-filter" data-category="all" data-filter="parent__event__pk" data-model="post" value="{{model.id}}" data-filter-status="fixed"/>
                {{ posts|safe }}
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
        <div class="row box-bg">
            <div class="heading">
                <h4>Added By</h4>
                <hr/>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <a href="{{model.organizer.slug}}"><img src="{{model.organizer.cover_image_path_small}}" class="pull-left" style="height:90px;width:90px;"></a>
                </div>
                <div class="col-xs-8">
                    <h4><a href="{{model.organizer.slug}}">{{ model.organizer.name}}</a></h4>
                    <p><i class="fa fa-map-marker"></i>&nbsp;{% if model.organizer.location %}{{ model.organizer.location}} {% else %} No Location specified{% endif %}</p>
                </div>
            </div>
            <hr/>
            <div class="heading">
                <h4>About Organizer</h4>
                <hr/>
            </div>
            <div class="text-center">{% if model.about_organizer %}{{ model.about_organizer|safe }}{% endif %}</div>
        </div>

        <div class="row box-bg">
            <div class="text-center">
                <a href="#" data-action="not-ok" data-model="event" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><i class="fa fa-exclamation-triangle orange"></i>&nbsp;&nbsp;REPORT THIS</a>
            </div>
        </div>


        <div class="row box-bg">
            <div class="heading text-center">
                <h3>Add An Adventure Event</h3>
                <hr/>
            </div>
            <div class="text-center">
                <ul class="col-sm-offset-1 media-list" style="text-align: left;">
                    <li><a href="#"><i class="fa fa-check-circle-o green fa-22"></i>&nbsp;Are you organizing an adventure event?</a></li>
                    <li></li>
                    <li><a href="#"><i class="fa fa-check-circle-o green fa-22"></i>&nbsp;Wanna increase your even promotion reach?</a></li>
                    <li></li>
                    <li><a href="#"><i class="fa fa-check-circle-o green fa-22"></i>&nbsp;You can do that from here!</a></li>
                </ul>
                <hr/>
                <a href="/add-edit/event" class="btn btn-primary">Add An Event</a>

            </div>
        </div>

        <div class="container-fluid">
            {{ advertisement_list | safe }}
        </div>
        <div class="row box-bg">
            <div class="heading">
                <h4>OTHER EVENTS</h4>
                <hr/>
            </div>
            <div class="container-fluid">
                <input id="event-not-same-filter" type="hidden" data-category="other" data-model="event" data-filter="id__ne" value="{{model.id}}" data-filter-status="fixed"/>
                <input id="admin-published-event-filter" data-category="other" data-model="event" data-filter="admin_published" type="hidden" value="bool|True" data-filter-status="fixed">
                {{other_events|safe}}
            </div>
        </div>
    </div>
</section>

