<section class="container edit-business">

    <!-- col-lg-9 col-md-9 col-sm-12 col-xs-12 -->
    <div class="">
        <h2 class="title">Enter Event Information<small> (Fields marked with <span class="red">*</span> are compulsory)</small></h2>

        <form class="fitrangi-form">

            <div class="form-group">
                <label for="heading">Title<span class="red">*</span> </label>
                <input type="text" class="form-control" name="title" placeholder="Write Event Title" data-name="title" value="{%if model and model.name %}{{model.name }}{% endif %}">
                <input type="hidden" data-name="id" value="{%if model and model.id %}{{model.id}}{% endif %}">
                <input type="hidden" data-name="user" value="{% if model and model.organizer %}{{model.organizer.id}}{% elif user and user.id %}{{user.id}}{% endif %}">
            </div>
            <div class="form-group">
                <label for="heading">Event Start Date<span class="red">*</span></label>
                <input type="date" class="form-control" name="scheduled-date" data-name="scheduled-date" value="{%if model and model.scheduled_date %}{{model.scheduled_date_only }}{% endif %}" placeholder="YYYY-MM-DD">
            </div>
            <div class="form-group">
                <label for="heading">Event End Date&nbsp;&nbsp;(Select only if Event is Extending More Than A Single Day)</label>
                <input type="date" class="form-control" name="end-date" data-name="end-date" value="{%if model and model.end_date %}{{model.end_date_only }}{% endif %}" placeholder="YYYY-MM-DD">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="heading">
                                Location <span class="red">*</span>
                            </label>
                            <input type="text" class="form-control geo-complete" value="{%if model and model.location %}{{model.location}}{% endif %}"/>
                            <input type="hidden" name="formatted_address" data-name="geo_location_name" value="{% if model.location  and model.location|length > 0 %}{{ model.location }}{% endif %}"/>
                            <input type="hidden" name="lat" data-name="geo_location_lat" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][0] }}{% endif %}"/>
                            <input type="hidden" name="lng" data-name="geo_location_long" value="{% if model.location and model.geo_location %}{{ model.geo_location['coordinates'][1] }}{% endif %}"/>
                            <input type="hidden" name="locality_short" data-name="geo_city" value="{% if model.location and model.city %}{{ model.city }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_2" data-name="geo_region" value="{% if model.location and model.region %}{{ model.region }}{% endif %}"/>
                            <input type="hidden" name="administrative_area_level_1" data-name="geo_state" value="{% if model.location and model.state %}{{ model.state }}{% endif %}"/>
                            <input type="hidden" name="country_short" data-name="geo_country" value="{% if model.location and model.country %}{{ model.country }}{% endif %}"/>
                        </div>
                    </div>
                </div>

                <hr/>
                <br/>

                <div class="form-group">
                    <label for="heading">Event Description &nbsp;&nbsp;<small>(Few lines about the event)</small></label>
                    <textarea class="form-control" rows="4" data-name="description"
                              placeholder="Write about the event in 2/3 lines">{% if model and model.description %}{{model.description}}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label for="heading">Event Details<span class="red">*</span>&nbsp;&nbsp;<small>(All the details about the event)</small></label>
                    <textarea class="form-control summernote" rows="4" data-name="overview"
                              placeholder="Enter details about the event">{% if model and model.about %}{{model.about}}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label for="heading">About Organizer<span class="red">*</span>&nbsp;&nbsp;<small></small></label>
                    <textarea class="form-control summernote" rows="4" data-name="about-organizer"
                              placeholder="Enter details about the organizer of the event">{% if model and model.about_organizer %}{{model.about_organizer}}{% endif %}</textarea>
                </div>

                <div class="form-group">
                    <label for="cover-image">Upload Cover Image <span class="red">*</span></label>
                    <div class="thumbnail">
                        <a href="#" data-action="cover-image-upload" title="Click to change"><img data-name="cover-image-display" src="{% if model.cover_image %}{{model.cover_image_path}}{% else %}http://lorempixel.com/1366/500{% endif %}" width="70%"/></a>
                        <div class="caption text-center">Click on the image to change(Optional)</div>
                    </div>
                    <input type="hidden" data-name="cover-image" value="{% if model.cover_image %}{{ model.cover_image_path }}{% endif %}"/>
                </div>
                <div class="form-group">
                    <label for="heading">External Link&nbsp;&nbsp;<small>(where online registration is taking place, if any)</small></label>
                    <input type="text" class="form-control" name="external-link" data-name="external-link" value="{%if model and model.external_link %}{{model.external_link}}{% endif %}" placeholder="Enter External Link of the site where registration for this event may be taking place">
                </div>
            </div>

            <br/>
            <hr/>
            <br/>

            <div class="form-group {% if model %}hide{% endif %}">
                <div class="checkbox">
                    <label>
                        <input data-name="toc" type="checkbox" {% if model %}checked{% endif %}> I accept the terms and conditions as per the agreement.<span class="red">*</span>
                    </label>
                </div>
            </div>

            <form class="form-group">
                <button data-action="save-model" class="btn btn-primary">Submit</button>
            </form>

        </form>
    </div>
    <!--Col9 End-->


    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="row">


        </div>
    </div>
    <!--Col3 End-->

</section>

<script>
    $(document).ready(function(){
        var handle_success = function() {
            window.location.href='/events#my-events';
        };
        var handle_failure = function(message) {
            console.log('Handling failure:'  + message);
            BootstrapDialog.alert({
                title: 'Error message',
                message: message,
            });
        };

        $('body').on('click', '[data-action="save-model"]', function(e){


            var toc = $('[data-name="toc"]:checked');
            if (toc == undefined || toc.length == 0)  {
                BootstrapDialog.alert('Please accept the terms and then try again.');
                return;
            }


            var id = $('[data-name="id"]').val();
            var organizer = $('[data-name="user"]').val();
            var title = $('[data-name="title"]').val();
            var description = $('[data-name="description"]').val();
            var scheduled_date = $('[data-name="scheduled-date"]').val();
            var end_date = $('[data-name="end-date"]').val();
            var overview = $('[data-name="overview"]').val();
            var about_organizer = $('[data-name="about-organizer"]').val();
            var external_link = $('[data-name="external-link"]').val();

            if (title== undefined || title.length == 0) {
                BootstrapDialog.alert('Please enter title, it is mandatory field');
                return;
            }
            if (scheduled_date == undefined || scheduled_date.length == 0) {
                BootstrapDialog.alert('Please enter scheduled date, it is mandatory field');
                return;
            }

            if (organizer == undefined || organizer.length == 0) {
                BootstrapDialog.alert('Something is wrong when the organizer information is not there!!!');
                return;
            }

            if (overview == undefined || overview.length == 0) {
                BootstrapDialog.alert('Please enter details about the event, it is mandatory field');
                return;
            }
            if (about_organizer == undefined || about_organizer.length == 0) {
                BootstrapDialog.alert('Please enter details about organizer, it is mandatory field');
                return;
            }


            var location_name = $('[data-name="geo_location_name"]').val();
            var location_lat = $('[data-name="geo_location_lat"]').val();
            var location_lng = $('[data-name="geo_location_long"]').val();
            var location_city = $('[data-name="geo_city"]').val();
            var location_region = $('[data-name="geo_region"]').val();
            var location_state = $('[data-name="geo_state"]').val();
            var location_country = $('[data-name="geo_country"]').val();

            if (location_name== undefined || location_name.length == 0) {
                BootstrapDialog.alert('Please enter location, it is mandatory field');
                return;
            }

            var cover_image = $('[data-name="cover-image"]').val();
            if (cover_image.length == 0) {
                BootstrapDialog.alert('Please select a cover image for the event. This is mandatory.');
                return;
            }


            var data = {
                title: title,
                about: overview,
                about_organizer: about_organizer,
                location_name: location_name,
                location_lat: location_lat,
                location_lng: location_lng,
                location_city: location_city,
                location_region: location_region,
                location_state: location_state,
                location_country:location_country,
                cover_image: cover_image,
                description: description,
                organizer: organizer,
                scheduled_date: scheduled_date,
                end_date: end_date,
                external_link: external_link
            };

            if (id != undefined && id.length > 0){
                App.event.edit(id, data, function(data){
                    if (data.status == 'success') {
                        handle_success();
                    } else {
                        handle_failure(data.message);
                    }
                })
            } else {
                App.event.add(data, function(data){
                    if (data.status == 'success') {
                        handle_success();
                    } else {
                        handle_failure(data.message);
                    }
                })
            }

        });


        $('body').on('click', '[data-action="cover-image-upload"]', function(e){
            e.stopPropagation();
            e.preventDefault();
            console.log('tseting');
            var callback = function(url){
                $('[data-name="cover-image-display"]').attr('src', url);
                $('[data-name="cover-image"]').val(url);

            };
            App.image_upload_dialog(callback);
        });

    });
</script>

