<div class="{% block grid_size %}{% endblock %}">
    {% if model.external_link and model.external_link|length > 0 %}
        {% if model.external_link.startswith('http://') or model.external_link.startswith('https://') %}
            {% set link = model.external_link %}
        {% else %}
            {% set link = "http://" + model.external_link %}
        {% endif %}

        {% set link_attr =  link  %}
        {% set target_attr = "_blank" %}
    {% else %}
        {% set target_attr = "_self" %}
        {% set link_attr = "/community/event" %}
    {% endif %}

        <div class="thumbnail">
            <a href="{{model.slug}}"><img src="{{model.cover_image_path}}" class="img-responsive"></a>
            <div class="caption">
                <h4><a href="{{ model.slug }}">{{ model.name_short }}</a>&nbsp;&nbsp;{% if user and user.id == model.organizer.id %}<small><a href="/add-edit/event?pk={{model.id}}" class="btn btn-default btn-sm pull-right">Edit</a></small>{% endif %}</h4>
                <div class="media">
                    <div class="media-left">
                        <img src="{{model.organizer.cover_image_path_small}}" class="img-responsive" height="25px" width="25px"/>
                    </div>
                    <div class="media-right">
                        <a href="{{model.organizer.slug}}"><h4>{{ model.organizer.name }}</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>