<li class="panel-default">
<section class="container fitrangi-event mt-10">
    <div class="row text-center">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 left">
            <i class="fa fa-calendar"></i>
            <h4>{{model.formatted_scheduled_date}}</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
            <a href="{{model.slug}}">
                <button class="btn btn-primary"><h3>{{model.name}}</h3></button>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 right">
            <i class="fa fa-map-marker"></i>
            <h4>{% if model.location %}{{model.location}}{% endif %}</h4>
        </div>
    </div>

</section>
</li>
