<section class="container-fluid p1">
    <div class="adventures-trips-banner" style="{{background_cover}}">
        <div class="container">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>{{model.name}}</h3>
            </div>

        </div>


    </div>
</section>
<section class="container border-grey-b text-right p-10 mb-20">
    {% if user and (model.organizer.id == user.id) %}
    {% set user_is_owner = True %}
    {% else %}
    {% set user_is_owner = False %}
    {% endif %}
    <div class="{% if user_is_owner %}col-lg-7 col-md-7{% else %}col-lg-8 col-md-8{% endif %} col-xs-12 going-list well well-sm">

            {% for u in model.interested %}
                <a href="{{u.slug}}"><img src="{{u.cover_image_path}}" class="" width="48"></a>
                {% else %}
                <div class="">
                    <h4>Be the first to show interest in this event, from here -></h4>
                </div>
            {% endfor %}

    </div>
    {% if not model in user.interested_trip %}
        <a class="btn btn-primary" href="#" data-action="add-trip-interested" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-link"></span>&nbsp;Interested</a>
    {% else %}
        <a class="btn btn-primary"  href="#" data-action="remove-trip-interested" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-check orange"></span>&nbsp;Remove from Interest</a>
    {% endif %}
    {% if model in user.joined_trip %}
        <!--a class="btn btn-primary"  href="#" data-action="remove-trip-joined" data-model-id="{{model.id}}" data-user-id="{{user.id}}"><span class="fa fa-link green"></span>&nbsp;Unjoin</a-->
    {% endif %}
    <a class="btn btn-primary"  href="#book-now" ><span class="fa fa-bookmark"></span>&nbsp;Booking Enquiry</a>
    {% if user_is_owner %}
    <button data-user-id="{{user.id}}" data-model-id="{{model.id}}" class="btn btn-default btn-edi blue" type="button" onclick="javascript: window.location.href='/add-edit/trip?pk={{model.id}}'"><i class="fa fa-edit"></i> Edit </button>
    {% endif %}
</section>

<section class="container adventure-trips-content">
     <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">

        <article class="col-xs-12 col-md-12 tab-details">
        <div class="fotorama thumbnail" data-nav="thumbs">
            {% set media_gallery = model.media_gallery_path %}
            {% if media_gallery|length > 0 %}
                {% for p in model.media_gallery_path %}
                    <a href=""><img src="{{p}}"></a>
                {% endfor %}
            {% else %}
                {% if user and user.id == model.organizer.id %}
                <a href=""><img src="/images/upload-gallery.jpg"></a>
                {% else %}
                <a href=""><img src="/images/no-gallery.jpg"></a>
                {% endif %}
            {% endif %}

        </div>
        </article>



     </div><!--col7-close-->

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

        <div class="row box-bg">

            <div class="heading">
                <h4>QUICK INFO</h4>
            </div>

            <article>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div>
                            <i class="fa fa-calendar "></i>
                        </div>
                        <div>
                            <strong class="dark-grey">Date</strong>
                            <p class="dark-grey">
                                {% if model.departure_type == 'Fixed' %}{{model.total_date|safe}}{% else %}On Request{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div>
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div >
                            <strong class="dark-grey">{% if model.departure_type == 'Fixed' %}Days{% else %}Duration{% endif %}</strong>
                            <p class="dark-grey"> {% if model.departure_type == 'Fixed' %}{{model.duration}}{% else %}{{model.expected_duration}}{% endif %} </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div>
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div>
                            <strong class="dark-grey">Location</strong>
                            <p class="dark-grey">{% if model.optional_location_name %}{{ model.optional_location_name }}{% else %}{{model.location }}{% endif %}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div>
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div>
                            <strong class="dark-grey">Departure From</strong>
                            <p class="dark-grey">{% if model.starting_from %}{{ model.starting_from }}{% else %}Not Specified{% endif %}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div>
                            <i class="fa fa-inr"></i>
                        </div>
                        <div>
                            <strong class="dark-grey">Amount</strong>
                            <p class="dark-grey">{% if model.price_on_request %}Price on request{% else %}{{model.price|int}} /- per person {% endif %}</p>
                        </div>
                    </div>
                </div>
            </article>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10">
                <div class="sub-heading">
                    <h5>ACTIVITY</h5>
                </div>
                <center>
                    {% for activity in model.activities %}
                        {% if activity and activity.icon_image_path and activity.icon_image_path |length > 0 %}
                            <a href="{{activity.slug}}"><img src="{{activity.icon_image_path}}" class="img-thumbnail" width="64" alt="{{activity.name}}"></a>
                        {% endif %}
                    {% endfor %}
                </center>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10">
                <div class="sub-heading">
                    <h5>ORGANISED BY</h5>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <a href="{{model.organizer.slug}}"><img class="media-object" data-src="holder.js/74x74" alt="74x74" src="{{model.organizer.cover_image_path}}"  data-holder-rendered="true"  style="width: 74px; height: 74px;"></a>
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="{{model.organizer.slug}}">{{model.organizer.name}}</a></h3>
                        {% if model.organizer.location %}<h5><i class="fa fa-map-marker fs-22"></i> {{model.organizer.location }}</h5>{% endif %}
                    </div>
                </div>

            </div>


            <!--div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-default w-100 black mt-20">Send Enquiry</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary w-100 mt-20">Book Now</button>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 text">
                <p>**This trip is listed by above organiser on the website. It will be executed by the
                    organiser and Fitrangi.com is a booking and ticketing partner for it.</p>
            </div-->

        </div>

    </div>
    <!--col5-close-->


    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
        <div class="row-fluid adventure-trips-tabs">
            <ul class="nav nav-pills " role="tablist">


                {% if model.about and model.about.strip()|length > 0 %}
                <li class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
                     <strong>Overview</strong></a></li>
                {% endif %}

                {% if model.itinerary and model.itinerary.strip()|length > 0 %}
                <li><a href="#itinerary" aria-controls="schedule" role="tab" data-toggle="tab">
                     <strong>Itinerary</strong></a></li>
                {% endif %}


                {% if model.inclusive_exclusive and model.inclusive_exclusive.strip()|length > 0 %}
                <li><a href="#inclusive-exclusive" aria-controls="details" role="tab" data-toggle="tab">
                    <strong>Inclusive/Exclusive</strong></a></li>
                {% endif %}

                {% if model.other_details and model.other_details.strip()|length > 0 %}
                <li><a href="#other-details" aria-controls="things_to_carry" role="tab" data-toggle="tab">
                     <strong>Other Details</strong></a></li>
                {% endif %}

                <li><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">
                    </i> <strong>Event Discussion</strong></a></li>

            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <div class="tab-pane" id="gallery-images">
                    <article class="col-xs-12 col-md-12 tab-details">
                        <div class="fotorama thumbnail" data-nav="thumbs">
                            <a href=""><img src="/images/slider-3.jpg"></a>
                        </div>
                    </article>
                </div>
                <!-- End of Tab Pane -->
                <div class="tab-pane" id="discussion">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            {% import 'site/includes/post_box.html' as post %}
                            {{ post.show_post_form(model, 'discussion') }}
                            <input type="hidden" id="discussion-filter" data-category="all" data-filter="parent__trip__pk" data-model="post" value="{{model.id}}" data-filter-status="fixed"/>
                            {{ discussions|safe }}
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="overview">
                    <!--h3>Overview Underconstructions</h3-->
                    {% if model.about %}{{ model.about|safe }}{% endif %}
                </div>
                <!-- End of Tab Pane -->

                <div class="tab-pane" id="itinerary">
                    <h3>Itinerary</h3>
                    <div>
                        {% if model.itinerary %}{{model.itinerary|safe}}{% endif %}
                    </div>
                </div>

                <div class="tab-pane" id="inclusive-exclusive">
                    <h3>Inclusive / Exclusive</h3>
                    <div>
                        {% if model.inclusive_exclusive %}{{ model.inclusive_exclusive|safe }}{% endif %}
                    </div>
                </div>

                <div class="tab-pane" id="other-details">
                    <h3>Other Details</h3>
                    <div>
                        {% if model.other_details %}{{ model.other_details|safe }}{% endif %}
                    </div>

                </div>
                <!-- End of Tab Pane -->

            </div>
            <!-- Tab content end -->


        </div>



    </div>
    <!--col7-close-->



    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

        {% if user and user.followers|length > 0 %}
        <div class="row box-bg">
            <div class="heading">
                <h4>Invite Followers</h4>
            </div>

            <!--input type="text" class="form-control" placeholder="+ Add Followers to this event"-->

            <ul class="media-list"  style="max-height: 300px; overflow: auto">
                {% for u in user.followers %}
                <li>
                    <div class="fitrangi-invite">
                        <a href="{{u.slug}}"><img src="{{u.cover_image_path}}" class="img-circle img-responsive pull-left p-5" width="60"
                             height="100"></a>
                        <a href="#" class="btn btn-default btn-xs mt-10 grey pull-right" data-action="invite-to-trip" data-user-id="{{user.id}}" data-model-id="{{model.id}}" data-model-slug="{{model.slug}}" data-target-id="{{u.id}}" data-target-name="{{u.name}}">Invite</a>
                        <h4><a href="{{u.slug}}">{{u.name}}</a></h4>
                    </div>
                </li>
                {% endfor %}

            </ul>


        </div>
        {% endif %}


        <div class="row box-bg">
            <div id="book-now" class="heading">
                <h4>Booking Enquiry</h4>
            </div>
            <h4 style="text-align: center;"><strong>"{{model.name}}"</strong></h4> <br>
            <p style="text-align: center; color: grey;">“**This trip is listed by the said organiser on the Fitrangi.com, It will be cordinated & executed by the organiser and Fitrangi.com is just a promoting partner for it. “</p>


            <div class="sub-heading">
                <h5 style="font-size:17px;">Fill these to let us connect you with the organiser</h5>
            </div>
            <form class="form-horizontal question-form">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-user"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.name and user.name|length > 0  %}
                        <input data-action-value="name" type="text" class="form-control" placeholder="your name" value="{{user.name}}">
                        {% else %}
                        <input data-action-value="name" type="text" class="form-control" placeholder="your email">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-envelope"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.email and user.email|length > 0  %}
                        <input data-action-value="email" type="email" class="form-control" placeholder="your email" value="{{user.email}}">
                        {% else %}
                        <input data-action-value="email" type="email" class="form-control" placeholder="your email">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-phone"></i></label>

                    <div class="col-sm-10">
                        {% if user and user.phone and user.phone|length > 0 %}
                        <input data-action-value="phone" type="text" class="form-control" placeholder="your phone number" value="{{user.phone}}">
                        {% else %}
                        <input data-action-value="phone" type="text" class="form-control" placeholder="your phone number">
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-comment"></i></label>

                    <div class="col-sm-10">
                        <textarea  data-action-value="enquiry" class="form-control" placeholder="how can we help you" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 "></label>

                    <div class="col-sm-10">
                        <strong>I Prefer:</strong> &nbsp;
                      <input   data-action-value="contact-pref" class="checkbox-inline" type="checkbox"  value="phone"> <span style="color: grey;"> Phone </span> &nbsp;
                      <input   data-action-value="contact-pref" class="checkbox-inline" type="checkbox"  value="email" checked> <span style="color: grey;"> Email </span>
                    </div>
                </div>

                <button type="button" data-model-slug="{{model.slug}}" data-user-id="{{user.id}}" data-model="trip" data-model-id="{{model.id}}" data-action="send-enquiry" class="btn btn-primary btn-block btn-sm">Send Enquiry</button>

            </form>
        </div>

        <div class="row fitrangi-trips">
            <div class="heading">
                <h4>Other Trips</h4>
            </div>
            <input id="trip-not-same-filter" type="hidden" data-category="other" data-model="trip" data-filter="id__ne" value="{{model.id}}"/>
            {% if model.location %}
            <!--input id="trip-location-filter" type="hidden" data-category="all" data-model="trip" data-filter="location__location__id" value="{{model.location.id}}"/-->
            {% endif %}
            {{other_trips|safe}}
        </div>


    </div>
    <!--col5-close-->


</section>

<hr class="divider">

<script>
    $(document).ready(function(){
            var user = '{{user.id}}';
            var trip = '{{model.id}}';
            var App = window.App;
            if ($('#trip-location-filter') != undefined)  {
                App.filter('trip-location-filter');
            }
            App.filter('discussion-filter');
            App.filter('trip-not-same-filter');
    });
</script>
