<div class="{% block grid_size %}{% endblock %}">
    <div class="thumbnail">
        <a href="{{model.slug}}"><img src="{{model.cover_image_path_small}}" alt="..."></a>

        <div class="caption">


            <!--a href="{{ model.organizer.slug}}"><img src="{{model.organizer.cover_image_path_small}}" class="img-rounded pull-right" width="52"></a-->

            <h4><a href="{{model.slug}}">{{ model.name }}</a></h4>

            <h5><a href="{{model.slug}}">{{ model.partial_date|safe }}</a></h5>

            {% if model.departure_type == 'Fixed' %}<span class="days">{{ model.duration }}</span>{% else %}<span class="days2">{% if model.expected_duration %}{{ model.expected_duration }}{% else %}Dates on request{% endif %}</span>{% endif %}
            {% if not model.price_on_request %}<span class="rs">{{ model.price|int }}</span>{% else %}<span class="days2">Price On Request</span>{% endif %}
        </div>

    </div>
</div>

