<section class="container adventure">
    <h2>{{ page_title }}</h2>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ page_content|safe }}
        </div>
    </div>

</section>
