<section class="container-fluid p-0">
<div class="home-banner" style="{{background_cover}}">
<h2>India's Complete Adventure Portal</h2>

    <div class="col-lg-8 col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2 mt-10">
        <p>Know everything about Adventure Tourism in India, explore breathtaking activities, connect with the like minded and share unique experiences.</p>
    </div>

<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 ccol-lg-8 col-md-8 col-sm-10 col-xs-10 mt-50 col-xs-offset-1 text-center white fitrangi">
<div class="form-inline">
    <input data-name="search-topic2" type="text" class="form-control input-lg" placeholder="Search" style="min-width: 100%;"/><div class="hidden-xs"><br/></div>
    <button data-action="search-content2" class="form-control btn btn-primary btn-lg" type="button"><i class="fa fa-search"></i> Search</button>
</div>
<script>
    $(document).ready(function(){

        var search = function(){
            var name = $('[data-name="search-topic2"]').val();
            if (name == undefined || name.length == 0){
                return;
            }
            window.location.href="/search-all?query=name__icontains:" + name + ';';
        };

        $('[data-name="search-topic2"]').on('keydown', function(event){
            if(event.keyCode==13){
                search();
            }
        });

        $('[data-action="search-content2"]').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            search();
        });
    });
</script>
</div>

</div>
</section>


<section class="container adventure">
<h2>Choose your Activity</h2>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Trekking and Hiking" class="hoverable" data-trigger="hover" href="/activities?name=Trekking and Hiking"><img src="{{cdn_url}}/images/adventure-icons/land-activities/trekking-hiking.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Camping" class="hoverable" data-trigger="hover" href="/activities?name=Camping"><img src="{{cdn_url}}/images/adventure-icons/land-activities/camping.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Rock Climbing" class="hoverable" data-trigger="hover" href="/activities?name=Rock Climbing"><img src="{{cdn_url}}/images/adventure-icons/land-activities/rock-climbing.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Cycling Biking" class="hoverable" data-trigger="hover" href="/activities?name=Cycling and Biking"><img src="{{cdn_url}}/images/adventure-icons/land-activities/cycling-biking.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Marathons" class="hoverable" data-trigger="hover" href="/activities?name=Marathons"><img src="{{cdn_url}}/images/adventure-icons/land-activities/marathons.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Mountaineering" class="hoverable" data-trigger="hover" href="/activities?name=Mountaineering"><img src="{{cdn_url}}/images/adventure-icons/land-activities/mountaineering.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Rappelling and Valley Crossing" class="hoverable" data-trigger="hover" href="/activities?name=Rappelling and Valley Crossing"><img src="{{cdn_url}}/images/adventure-icons/land-activities/rappelling-valley-crossing.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Canyoning" class="hoverable" data-trigger="hover" href="/activities?name=Canyoning"><img src="{{cdn_url}}/images/adventure-icons/land-activities/canyoning.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Horse Riding" class="hoverable" data-trigger="hover" href="/activities?name=Horse Riding"><img src="{{cdn_url}}/images/adventure-icons/land-activities/horse-riding.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Zorbing" class="hoverable" data-trigger="hover" href="/activities?name=Zorbing"><img src="{{cdn_url}}/images/adventure-icons/land-activities/zorbing.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Skiing" class="hoverable" data-trigger="hover" href="/activities?name=Skiing"><img src="{{cdn_url}}/images/adventure-icons/land-activities/skiing.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Snowboarding" class="hoverable" data-trigger="hover" href="/activities?name=Snowboarding"><img src="{{cdn_url}}/images/adventure-icons/land-activities/snowboarding.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Scuba Diving" class="hoverable" data-trigger="hover" href="/activities?name=Scuba Diving"><img src="{{cdn_url}}/images/adventure-icons/water-activities/scuba-diving.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Water Rafting" class="hoverable" data-trigger="hover" href="/activities?name=Water Rafting"><img src="{{cdn_url}}/images/adventure-icons/water-activities/water-rafting.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Kayaking" class="hoverable" data-trigger="hover" href="/activities?name=Kayaking"><img src="{{cdn_url}}/images/adventure-icons/water-activities/kayaking.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Surfing" class="hoverable" data-trigger="hover" href="/activities?name=Surfing"><img src="{{cdn_url}}/images/adventure-icons/water-activities/surfing.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Kit Surfing" class="hoverable" data-trigger="hover" href="/activities?name=Kit Surfing"><img src="{{cdn_url}}/images/adventure-icons/water-activities/kite-surfing.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Snorkelling" class="hoverable" data-trigger="hover" href="/activities?name=Snorkelling"><img src="{{cdn_url}}/images/adventure-icons/water-activities/snorkelling.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Paragliding" class="hoverable" data-trigger="hover" href="/activities?name=Paragliding"><img src="{{cdn_url}}/images/adventure-icons/air-activities/paragliding.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Parasailing" class="hoverable" data-trigger="hover" href="/activities?name=Parasailing"><img src="{{cdn_url}}/images/adventure-icons/air-activities/parasailing.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Bungee Jumping" class="hoverable" data-trigger="hover" href="/activities?name=Bungee jumping"><img src="{{cdn_url}}/images/adventure-icons/air-activities/bungee-jumping.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Hot Air Ballooning" class="hoverable" data-trigger="hover" href="/activities?name=Hot Air Ballooning"><img src="{{cdn_url}}/images/adventure-icons/air-activities/hot-air-balooning.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Sky Diving" class="hoverable" data-trigger="hover" href="/activities?name=Sky Diving"><img src="{{cdn_url}}/images/adventure-icons/air-activities/sky-diving.png" class="img-responsive"></a>
    <a role="button" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="Zip Line" class="hoverable" data-trigger="hover" href="/activities?name=Zip Line"><img src="{{cdn_url}}/images/adventure-icons/air-activities/zip-line.png" class="img-responsive"></a>
</div>
</div>

</section>


<section class="container-fluid subheading lightgrey-bg pb-20">

<div class="container fitrangi-thumb">

<h2>Trending Destinations</h2>


{{adventure|safe}}

<div class="pull-right">
    <a href="/adventures" class="btn btn-primary mb-10 pull-right">View all</a>
</div>


</div>
</section>



<section>
<div class="container">

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 who-joined-community">
    <h2>Take a look at who has just joined</h2>
    <div class="row">

        <input id="profile-enthusiast-filter" data-model="profile" data-filter="type__profile_type__name" type="hidden" value="Enthusiast"/>
        <input id="profile-cover-image-filter" data-model="profile" data-filter="cover_image__exists" type="hidden" value="bool|True"/>


        {{profile|safe}}
    </div>
    <a href="/profiles?query=type__profile_type__name:Enthusiast;#finder-container" class="btn btn-primary mb-10 pull-right">View all</a>
</div>



<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 trending-discussion">
<h2>Trending Discussions</h2>

<div class="discussion">
    <input id="discussion-admin-published-filter" type="hidden" data-model="discussion" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
    {{discussion|safe}}
</div>
<a data-action="add-discussion" data-user-id="{{user.id}}" class="btn btn-primary mb-10 pull-left">Add a Discussion</a>
<a href="/discussions" class="btn btn-primary mb-10 pull-right">View all</a>

</div>


</div>
</section>


<section class="container-fluid fitrangi-blog-thumb subheading lightgrey-bg pb-20">

<div class="container">
<h2>Popular from Blog</h2>

<div class="container">
    <input id="article-admin-published-filter" type="hidden" data-model="article" data-filter="admin_published" value="bool|True" data-filter-status="fixed"/>
    <input id="article-published-filter" type="hidden" data-model="article" data-filter="published" value="bool|True" data-filter-status="fixed"/>
    {{journal|safe}}

</div>


{% if user %}<a data-user-id="{{user.id}}" data-action="add-article" href="#" class="btn btn-primary pull-left">Write Blog</a>{% endif %}
<a href="/journals" class="btn btn-primary pull-right">View All</a>



</div>
</section>






<!--section class="container-fluid events pb-20">
<div class="container">
<h2>Initiative</h2>
 {{ event|safe }}
</div>
</section-->


<!--section class="container fitrangi-testimonial subheading text-center">
<h2></h2>
<div id="testimonials" class="owl-carousel">
{% for testimonial in testimonials %}
    <div class="owl-item">
        <div class="testimonial">
            <article class="testimonial-user">
                <img src="{{testimonial['image']}}" class="img-circle img-responsive pull-left p-5" width="90">
                <h3>{{testimonial['name']}}</h3>
                <h5><span class="fa fa-info"></span> <strong>{{ testimonial['title'] }}</strong>
                </h5>
            </article>
            <div class="testimonial-type">
                <h4> {{ testimonial['content'] }}</h4>
            </div>
            {{testimonial['context']}}
        </div>
    </div>
{% endfor %}
</div>

</section-->


<script language="JavaScript">
        $(document).ready(function(){
            var App = window.App;
            App.filter('discussion-admin-published-filter');
            App.filter('article-admin-published-filter');
            App.filter('article-published-filter');
            App.filter('profile-enthusiast-filter');
            App.filter('profile-cover-image-filter');
        });
</script>
