<div class="btn-group pull-right" style="margin-right: 10px;;">
               <a href="/"><button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle=""><span class="glyphicon glyphicon-home"></span> &nbsp;<strong>Go To Homepage</strong></button></a>
            </div>

<section class="container-fluid p-0">
    <div>

        <div class="container">

            <div class="row-fluid">
                <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2 social-login">

                    <h3 class="light oswald blue uppercase text-center">Register & Sign In With</h3>

                    <div class="social-login-buttons">
                       <button type="button" class="btn btn-link-1 btn-link-1-facebook" href="#" onclick="fb_login();"> <i class="fa fa-facebook"></i> Facebook</button>

                        <button type="button" class="btn btn-link-1 btn-link-1-google-plus g-signin" id="signinButton" data-callback="onSignInCallback"
                    data-clientid="445628400297-si4iclsg5i2imd3parigb643lep5iis7.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-scope="email profile openid https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/userinfo.profile">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </button>
                    </div>

                    <h3 class="light text-center">- OR -</h3>
                </div>
            </div>


            <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2 form-box">

                <div class="form-head">
                    <div class="form-heading">
                        <h3>Register to our site</h3>

                        <p class="lightgrey">Fill the form below to get instant accesss:</p>
                    </div>
                    <div class="form-icon">
                        <i class="fa fa-pencil"></i>
                    </div>

                </div>

                <div class="form-body">
                    <div id="error">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div id="message"></div>
                        </div>
                    </div>
                    <form role="form" action="" method="get" class="login-form">

                        <div class="form-group">
                            <label class="sr-only">Full Name <span class="red">*</span></label>
                            <input id="signup-name" type="text" class="form-control registration-field" name="name" required data-validation-required-message="Please enter your name." placeholder="Name">
                            <input type="hidden" data-history value="{% if target %}{{target}}{% endif %}"/>
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Email <span class="red">*</span></label>
                            <input id="signup-email" type="text" class="form-control registration-field" name="email" data-bv-emailaddress-message="The value is not a valid email address" required data-validation-required-message="Please enter your email."placeholder="Email Address">
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Password <span class="red">*</span></label>
                            <input id="signup-password" type="password" class="form-control registration-field" name="password" required data-validation-required-message="Please enter your password." placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Confirm Password <span class="red">*</span></label>
                            <input id="signup-confirm" type="password" class="form-control registration-field" name="confirm" required data-validation-required-message="Please reenter Password." placeholder="Confirm">
                        </div>

                        <!--div class="form-group">
                            <label style="width: inherit; cursor: default; text-align: center;">
                                <input type="checkbox" data-validation-required-message="Please accept terms and conditions."> I have accepted
                                <a href="#" style="display:inline" target="_blank">Terms &amp; Conditions</a></label>
                        </div-->

                        <button id="btn-register1" type="button" class="btn btn-primary">Register Now !</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</section>
<script>
    $(".alert").hide();

    var call_registration = function(e){
        var name = $('#signup-name').val();
        var email = $('#signup-email').val();
        var password = $("#signup-password").val();
        var confirm = $("#signup-confirm").val();
        var remember =  false;
        var all_good = false;
        if (name !=undefined && name.length > 0 && email != undefined && email.length > 0 && confirm != undefined && confirm.length > 0 && password != undefined && password.length > 0) {
            if (confirm != password) {
                $("#message").html('Passwords do not match');
                $(".alert").show();
                return;

            }
            all_good = true;
        }
        if (!all_good){
            $("#message").html('Please enter all the fields');
            $(".alert").show();
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/register',
            data: {
                name: name,
                email: email,
                password: password,
                confirm: confirm
            }
        }).done(function (msg) {
            if (msg.status == 'success') {
                var location = null;
                var val = $('input[data-history]');
                if (val != undefined && val.val() != undefined && val.val().length > 0 && val.val() != 'None' && val.val().toLowerCase() != 'none') {
                    location = $('input[data-history]').val();
                } else {
                    location = '/';
                }
                window.location.href= location;
            } else {
                $("#message").html(msg.message);
                $(".alert").show();
            }
        });
    }
    $('body').on('click', "#btn-register1",function(e){
        e.stopPropagation();
        console.log('Calling registration');
        call_registration(e);
    });

    $('body').on('keydown','.registration-field', function(event){
        if(event.keyCode==13){
            call_registration(event);
        }
    });


</script>
