<section class="container write-blog">
    <!--div class="alert alert-info fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p class="alert-message"></p>
    </div-->
    <div class="heading text-center">
        <h2>{% if model_name == 'article' %}Write An Article or Blog{% else %}Start A Discussion {% endif %}</h2>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="blog-form">
            <input data-name="id" type="hidden" value="{{model.id}}">
            <div class="form-group">
                <label for="heading">Title<span class="red">*</span></label>
                <input data-name="title" type="text" data-name="title" class="form-control" placeholdeif not USE_CDN else "%s%s" % (CDN_URL, ir="Enter blog heading" value="{{model.title}}">
            </div>

            {% if False and model_name == 'article' %}
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" data-name="description" placeholder="Enter blog description" rows="2">{{model.description}}</textarea>
            </div>

            <div class="form-group">
                <label for="video">Youtube video link</label>
                <input class="form-control" data-name="video-link" placeholder="Paste the link here" value="{% if model.video_embed|length > 0 %}{{model.video_embed[0]}}{% endif %}"/>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="content">Content<span class="red">*</span></label>
                <textarea class="form-control summernote" data-name="content" placeholder="Enter content" >{{model.content}}</textarea>
            </div>

            {% if model_name == 'article' %}
            <div class="form-group">
                <div class="thumbnail">
                    <label for="cover-image">Cover Image <span class="red">*</span></label>
                    <a href="#" data-action="write-content-image-upload" title="Click to change"><img data-name="cover-image-display" src="{% if model.cover_image %}{{model.cover_image_path}}{% else %}http://placehold.it/1366x500{% endif %}" width="40%"/></a>
                    <div class="caption text-center">Click on the image to change</div>
                </div>
                <input type="hidden" data-name="cover-image" value=""/>
                <input type="hidden" data-name="cover-image-necessary" value="{% if not model.cover_image %}1{% endif %}"/>
            </div>
            {% endif %}


            {% if model_name == 'discussion' %}
            <div class="form-group">
                <label for="cover-image">Cover Image </label>
                <div class="thumbnail">
                    <a href="#" data-action="write-content-image-upload" title="Click to change"><img data-name="cover-image-display" src="{% if model.cover_image %}{{model.cover_image_path}}{% else %}http://placehold.it/1366x500{% endif %}" width="40%"/></a>
                    <div class="caption text-center">Click on the image to change(Optional)</div>
                </div>
                <input type="hidden" data-name="cover-image" value=""/>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" data-name="tags" placeholder="Write a tag or select a tag and press ENTER. Repeat steps to select multiple tags" list="tag-list">
                <datalist id="tag-list"></datalist>
                <div class="container">
                    <div id="tags_list" class="fitrangi-tags-list">
                    </div>
                </div>
            </div>
            {% if model and model_name == 'article' %}
            <div class="form-group">
                <label for="published">Is published?</label>
                {% if model.published %}
                <i class="fa fa-check-circle-o green">Yes</i>
                {% else %}
                <i class="fa fa-times-circle-o orange">No</i>
                {% endif %}
            </div>
            {% endif %}

            {% if model %}
            <div class="form-group">
                <label for="published">Is published by Admin?</label>
                {% if model.admin_published %}
                <i class="fa fa-check-circle-o green">Yes</i>
                {% else %}
                <i class="fa fa-times-circle-o orange">No</i>
                {% endif %}
            </div>
            {% endif %}

            <br/>
            <br/>
            <div class="form-action-control">
                <button type="button" data-action="go-back" class="btn fitrangi-btn">Back</button>
                {% if model_name == 'article' %}
                <button type="button" data-action="save" class="btn fitrangi-btn blue">Save</button>
                {% elif model.admin_published %}
                <button type="button" data-action="save-edit" class="btn fitrangi-btn blue">Submit</button>
                {% else %}
                <button type="button" data-action="save" class="btn fitrangi-btn blue">Submit</button>
                {% endif %}
                {% if model_name == 'article'%}
                    {% if model and model.published %}
                        <button type="button" data-action="unpublish-article" data-model-id="{{model.id}}" class="btn fitrangi-btn red">Unpublish</button>
                    {% else %}
                        <button type="button" data-action="publish-article"  data-model-id="{{model.id}}" class="btn fitrangi-btn green">Publish</button>
                    {% endif %}
                    {% if model %}
                        <button type="button" data-action="delete-article" data-model-id="{{model.id}}"  class="btn fitrangi-btn red">Delete</button>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
</section>
<div id="alert-message-container-2"></div>



<script>

    $(document).ready(function(){
        var message_container = '#alert-message-container';
        var message_container2 = '#alert-message-container-2';
        var alert_message = $(message_container).html();
        $(message_container).html('');
        $(message_container2).html(alert_message);
        var model = '{{model.id}}';
        var type = '{{model_name}}';
        setTimeout(function() { $('.alert').hide(); }, 10000);
        if (alert_message != undefined && alert_message.length > 0) {
            console.log('[*] Alert Message: ' + $(message_container2)[0].scrollHeight);
            setTimeout(function(){
                $('.write-blog').animate({ scrollTop: $(message_container2)[0].scrollHeight}, 100);
            }, 1000);
        }

        var App = window.App;
        var editor = App.content;

        var save_content = function(){


            if($('[data-name="cover-image-necessary"]') != undefined && $('[data-name="cover-image-necessary"]').length > 0 && $('[data-name="cover-image-necessary"]').val().length > 0) {
                alert('Please upload cover image before saving');
                return;
            }

            var tags = [];

            var $tags = $('[data-tag]');
            if ($tags != undefined && $tags.length > 0) {
                for (var j = 0; j < $tags.length; j++) {
                    tags.push($($tags[j]).attr('data-tag'));
                }
            }

            var channels = null;
            if ($('[data-name="channels"]')){
                channels = $('[data-name="channels"]').val();
            }
            var id = $('[data-name="id"]').val();
            var title = $('[data-name="title"]').val();


            if(title == undefined || title.length == 0) {
                BootstrapDialog.alert('Please enter the title, it is mandatory field');
                return;
            }

            var description = $('[data-name="description"]').val();
            var content = $('.summernote').code();
            var cover_image = $('[data-name="cover-image"]').val();
            var video_link = $('[data-name="video-link"]').val();
            var tags = tags;
            if (id != undefined && id.length > 0) {
                editor.edit(id, type, title, description, video_link, cover_image, channels, tags, content, function(data){
                    if (data.status == 'success'){
                        if (type == 'discussion') {
                            window.location.href = '/discussions#mystuff';
                        } else {
                            window.location.reload();
                        }
                    } else {
                        $('.alert').show();
                        $('.alert').append(data.message);
                    }
                })
            } else {
                console.log('Add content: ->');
                editor.add(type, title, description, video_link, cover_image, channels, tags, content, function(data){

                    if (data.status == 'success') {
                        if (type == 'discussion') {
                            window.location.href = '/discussions#mystuff';
                        } else {
                            window.location.href = '/write/' + type + '/' + data.node;
                        }
                    } else {
                        $('.alert').show();
                        $('.alert').append(data.message);
                    }
                });
            }
        };




        $('[data-action="save"]').click(function(e){
            e.stopPropagation();
            e.preventDefault();
            save_content();
        });
        $('[data-action="save-edit"]').click(function(e){
            e.stopPropagation();
            e.preventDefault();
            save_content();
        });
        $('[data-action="go-back"]').click(function(){
            window.history.back();
        });

        $.ajax({
            url: '/options?model_name=tag&attr=name'
        }).done(function (data) {
            $('#tag-list').append(data);
        });

        var _tags = '{% for c in model.tags %}{{c}}{% if not loop.last %},{% endif %}{% endfor %}';
        var tags = null;
        if (_tags.length > 0) {
           tags = _tags.split(',');
        } else {
           tags = []
        }

        for(var i = 0; i < tags.length; i++)  {
            var tag = tags[i];
            $("#tags_list").append('<a data-tag="'+tag+'" class="remove-tag" href="#">'+tag+'&nbsp;|&nbsp;X</a></span>');
        }

        $('#tags_list').on('click', '.remove-tag', function(e){
            e.preventDefault();
            e.stopPropagation();
            $(e.target).remove();
        });

        $('[data-name="tags"]').keypress(function(e){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code == 13 || code == 188) { //Enter keycode
                var tag = $('[data-name="tags"]').val();
                $("#tags_list").append('<a  data-tag="'+tag+'" class="remove-tag" href="#">'+tag+'&nbsp;|&nbsp;X</a></span>');
                $('[data-name="tags"]').val('');
                e.preventDefault();
                e.stopPropagation();
            }
        });


        var display = '<div id="form-control-image-uploader"><div class="form-group"><label for="tags">Select Image to upload</label><input data-image="file-uploader" type="file" class="form-control" placeholder="Image selector" ></div></div>';
        $('[data-action="write-content-image-upload"]').click(function(e){
            e.stopPropagation();
            e.preventDefault();
            BootstrapDialog.show({
                title: 'Upload Picture',
                message: display,
                buttons: [
                    {
                        label: 'Close',
                        action: function(dialogRef) {
                            dialogRef.close();
                        }
                    },
                    {
                        label: 'Upload Image',
                        cssClass: 'btn-primary',
                        action: function(dialogRef) {
                            var on_validation = function(){
                                dialogRef.enableButtons(false);
                                dialogRef.setClosable(false);
                                dialogRef.getModalBody().html('<p>Uploading File.</p><br/><center><img src="/img/loading.gif"></center>');
                            };
                            var on_success = function(data){
                                $('[data-name="cover-image-display"]').attr('src', data.url);
                                $('[data-name="cover-image"]').val(data.url);
                                $('[data-name="cover-image-necessary"]').val('');
                                dialogRef.close();
                            };

                            var on_error = function(data) {
                                dialogRef.setMessage('Something went wrong when uploading the file.');
                            };

                            App.upload_image({on_validation: on_validation, on_success: on_success, on_error: on_error});
                        }
                    }
                ]
            });
        });

        //setTimeout(function() { console.log('Scrolling to top'); window.scrollTo(0, 0); }, 2000);

    });
</script>
