<meta name="description" content="{{ description }}" />
<!--meta name="author" content="Fitrangi"-->

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary">

<!-- Open Graph data -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="{{ type }}" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="{{ image }}" />
<meta property="og:description" content="{{ description }}" />