{% macro show_post_form(parent_node, post_type) %}
<div class="well well-sm">
    <div class="form-group">
        <textarea rows="5" class="form-control" placeholder="Write what you think" name="post_content" id="post_content"></textarea>
        <input type="hidden" id="post_image_id" name="post_image_id" value=""/>
        <input type="hidden" id="post_type" name="post_type" value="{{post_type}}"/>
        <input type="hidden" id="parent_type" name="parent_type" value="{{parent_node.__class__.__name__|lower}}"/>
        <input type="hidden" id="parent_id" name="parent_id" value="{{parent_node.id}}"/>

    </div>
    <div class="upload-image-view">
        <div id="cropContainerModal" class="thumbnail"></div>
    </div>
    <div class="form-group">
        <a href="#" class="upload-image-button btn btn-default btn-xs mt-10 grey"><i class="fa fa-camera fs-20"></i></a>
        <!--a href="#" class="btn btn-default btn-xs mt-10 grey"><i class="fa fa-location-arrow fs-20"></i></a-->
        <button id="btn-post-add"class="btn btn-primary btn-xs mt-10 pull-right">Post</button>
    </div>
    <div class="form-group">
        <div id="post-alert" class="alert"></div>
    </div>
</div>
<script>
    $(document).ready(function(){

        var App = window.App;
        var editor = App.post;
        var post_type = '{{post_type}}';
        var container_type = (post_type == 'stream')?'stream': 'post';

        $(".upload-image-view").hide();
        $("#post-alert").hide();

        var clear = function() {
            $('#cropContainerModal').html('');
            $('#post_content').val('');
            $('#post_image_id').val('');
            $(".upload-image-view").hide();
            $('#post-alert').fadeOut(2000, function(){
                $('#post-alert').html('');
                $('#post-alert').removeClass('alert-warning');
            });
        };

        var show_error = function(message) {
            $('#post-alert').addClass('alert-warning');
            $("#post-alert").html(message);
            $('#post-alert').show();
            clear();
        };

        $('#btn-post-add').click(function(e){
            e.stopPropagation();
            e.preventDefault();
            var image =  $('#post_image_id').val();
            var post_type = $("#post_type").val();
            var parent_type =  $('#parent_type').val();
            var parent =  $('#parent_id').val();
            var content =  $('#post_content').val();
            editor.add(image, post_type, parent_type, parent, content, function(data){
                if (data.status == 'success') {
                    $('#post-alert').html('Successfully posted');
                    $('#post-alert').addClass('alert-success');
                    $('#post-alert').show();
                    $('#post-alert').fadeOut(2000, function(){
                        $('#post-alert').html('');
                        $('#post-alert').removeClass('alert-success');
                    });
                    clear();
                    window.App.reset_models_listing($('[data-type="model-container"][data-model="' + container_type + '"]'));
                } else {
                    show_error(data.message);
                }
            });
        });

        var display = '<div id="form-control-image-uploader"><div class="form-group"><label for="tags">Select Image to upload</label><input data-image="file-uploader" type="file" class="form-control" placeholder="Image selector" ></div></div>';
        $(".upload-image-button").click(function(e){
            BootstrapDialog.show({
                title: 'Upload Image',
                message: display,
                buttons: [
                    {
                        label: 'Close',
                        action: function(dialogRef) {
                            dialogRef.close();
                        }
                    },
                    {
                        label: 'Upload Image',
                        cssClass: 'btn-primary',
                        action: function(dialogRef) {

                            var on_validation = function(){
                                dialogRef.enableButtons(false);
                                dialogRef.setClosable(false);
                                dialogRef.getModalBody().html('<p>Uploading File.</p><br/><img src="/img/loading.gif">');
                            };
                            var on_success = function(data){
                                $("#cropContainerModal").html('<img src="' + data.url + '" width="100%">');
                                $(".upload-image-view").show();
                                $("#post_image_id").val(data.url);
                                dialogRef.close();
                            };

                            var on_error = function(data) {
                                dialogRef.setMessage('Something went wrong when uploading the file.');
                            };

                            App.upload_image({on_validation: on_validation, on_success: on_success, on_error: on_error});
                        }
                    }
                ]
            });
        });
    });
</script>
{% endmacro %}